In [1]:
!pip install -q docling docling-core

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 162.6/162.6 kB 4.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 48.2/48.2 kB 2.3 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 166.5/166.5 kB 7.8 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 142.3/142.3 kB 5.7 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 80.9/80.9 kB 4.4 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.1/15.1 MB 91.6 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 73.7/73.7 kB 3.9 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 42.2/42.2 kB 2.1 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.4/44.4 kB 1.9 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.9/2.9 MB 68.3 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 244.3/244.3 kB 14.2 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 472.8/472.8 kB 22.4 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 363.4/363.4 MB 4.7 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 664.8/664.8 MB 2.5 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 211.5/211.5 MB 7.7 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 56.3/56.3 MB 27.7 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 127.9/127.9 MB 13.3 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 207.5/207.5 MB 8.1 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 21.1/21.1 MB 33.2 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 169.4/169.4 kB 298.6 kB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 272.8/272.8 kB 1.6 MB/s eta 0:00:00
  Building wheel for pylatexenc (setup.py) ... done

In [2]:
import time

from docling.datamodel.base_models import InputFormat
from docling.datamodel.pipeline_options import PdfPipelineOptions, TableFormerMode
from docling.document_converter import DocumentConverter, PdfFormatOption

2025-05-13 14:38:09.897101: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:477] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1747147090.339099      19 cuda_dnn.cc:8310] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1747147090.460330      19 cuda_blas.cc:1418] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered

## 1. Khởi tạo Docling converter

In [3]:
# Define pipeline options for PDF processing
pipeline_options = PdfPipelineOptions(
    do_table_structure=True,  # Enable table structure detection
    do_ocr=False,  # Enable OCR
    # full page ocr and language selection
    # ocr_options=EasyOcrOptions(force_full_page_ocr=True, lang=["en"]),  # Use EasyOCR for OCR
    # ocr_options=TesseractOcrOptions(force_full_page_ocr=True, lang=["eng"]),  # Uncomment to use Tesseract for OCR
    # ocr_options = OcrMacOptions(force_full_page_ocr=True, lang=['en-US']),
    table_structure_options=dict(
        do_cell_matching=False,  # Use text cells predicted from table structure model
        mode=TableFormerMode.ACCURATE,  # Use more accurate Tableformer model
    ),
    generate_page_images=False,  # Enable page image generation
    generate_picture_images=False,  # Enable picture image generation
    # images_scale=IMAGE_RESOLUTION_SCALE,  # Set image resolution scale (scale=1 corresponds to a standard 72 DPI image)
)


format_options = {InputFormat.PDF: PdfFormatOption(
    pipeline_options=pipeline_options)}
converter = DocumentConverter(format_options=format_options)


def convert_pdf_to_docling(sources: list[str]):
    start_time = time.time()
    conversions = {source: converter.convert(
        source).document for source in sources}
    end_time = time.time()
    print(f"Time taken: {end_time - start_time:.4f}")
    return conversions

## 2. Các hàm hữu ích

In [4]:
import csv
import re
from io import StringIO

import numpy as np
import pandas as pd


def preprocess_df(df: pd.DataFrame) -> pd.DataFrame:
    """
    Preprocess DataFrame to handle common header issues:
    - If column names are numbers, use first row as header
    - If first data row is numbers (0-based or 1-based), remove it
    """
    if df.empty:
        return df

    df_processed = df.copy()

    # Handle case where column names are numbers
    if all(str(col).isdigit() for col in df_processed.columns):
        if not df_processed.empty and df_processed.shape[0] > 0:
            new_cols = df_processed.iloc[0].astype(str).values
            df_processed = df_processed.iloc[1:].reset_index(drop=True)
            df_processed.columns = new_cols

    # Handle case where first data row is a sequence of numbers
    elif not df_processed.empty and df_processed.shape[0] > 0:
        first_row_values = df_processed.iloc[0]
        try:
            numeric_first_row = pd.to_numeric(first_row_values)
            is_0_based_sequence = all(
                numeric_first_row.iloc[i] == i for i in range(len(numeric_first_row))
            )
            is_1_based_sequence = all(
                numeric_first_row.iloc[i] == i + 1
                for i in range(len(numeric_first_row))
            )

            if is_0_based_sequence or is_1_based_sequence:
                df_processed = df_processed.iloc[1:].reset_index(drop=True)
        except (ValueError, TypeError):
            pass

    return df_processed


def solve_non_header_table(df: pd.DataFrame, target_headers: list) -> pd.DataFrame:
    """
    Convert headerless DataFrame by moving current column names to first data row,
    then assign target_headers
    """
    if not isinstance(target_headers, list):
        print("Warning: target_headers is not a list. Returning original DataFrame.")
        return df.copy()

    df_copy = df.copy()

    first_row_data_values = []
    for col_original_name in df_copy.columns:
        if isinstance(col_original_name, str) and col_original_name.startswith(
            "Unnamed:"
        ):
            first_row_data_values.append(np.nan)
        else:
            first_row_data_values.append(str(col_original_name))

    if len(first_row_data_values) != len(target_headers):
        if len(first_row_data_values) > len(target_headers):
            first_row_data_values = first_row_data_values[: len(
                target_headers)]
        else:
            first_row_data_values.extend(
                [np.nan] * (len(target_headers) - len(first_row_data_values))
            )

    new_first_row_df = pd.DataFrame(
        [first_row_data_values], columns=target_headers)

    try:
        df_copy.columns = target_headers
    except ValueError as e:
        print(
            f"Critical error: Cannot assign target_headers. "
            f"DataFrame columns ({len(df_copy.columns)}) don't match target_headers length ({len(target_headers)}). Error: {e}"
        )
        return new_first_row_df

    result_df = pd.concat([new_first_row_df, df_copy], ignore_index=True)

    return result_df.reset_index(drop=True)


def get_column_types(df):
    """Determine data types for each column"""
    types = []
    if df.columns.empty:
        return types

    for col_name in df.columns:
        current_column_object = df[col_name]

        is_truly_all_na = False
        effective_dtype = None

        if isinstance(current_column_object, pd.DataFrame):
            is_truly_all_na = pd.isna(current_column_object).all().all()
            if not is_truly_all_na:
                effective_dtype = current_column_object.iloc[:, 0].dtype
        elif isinstance(current_column_object, pd.Series):
            is_truly_all_na = pd.isna(current_column_object).all()
            if not is_truly_all_na:
                effective_dtype = current_column_object.dtype
        else:
            types.append("error_unexpected_type")
            continue

        if is_truly_all_na:
            types.append("unknown")
        else:
            if effective_dtype is not None:
                types.append(
                    "numeric"
                    if pd.api.types.is_numeric_dtype(effective_dtype)
                    else str(effective_dtype)
                )
            else:
                types.append("unknown_error_in_logic")
    return types


def get_input_df(
    df: pd.DataFrame, n_rows: int = 10, sep: str = "=", max_tokens: int = 15
) -> str:
    """
    Get input DataFrame with sampling and formatting for LLM processing
    """
    df_copy = df.copy()
    df_copy = solve_non_header_table(
        df_copy, [str(x) for x in range(len(df_copy.columns))])

    column_data_types = get_column_types(df_copy)

    for dtype, col_name in zip(column_data_types, df_copy.columns):
        if dtype == "object":
            if isinstance(df_copy[col_name], pd.Series):
                current_series = df_copy[col_name]
                try:
                    df_copy.loc[:, col_name] = current_series.astype(str).apply(
                        lambda x: " ".join(x.split()[:max_tokens])
                    )
                except AttributeError:
                    df_copy.loc[:, col_name] = current_series.apply(
                        lambda x: " ".join(str(x).split()[:max_tokens])
                    )
                pass

    if df_copy.empty:
        return df_copy.to_csv(index=False, header=False, sep=sep)

    if len(df_copy) < n_rows:
        return df_copy.to_csv(index=False, header=False, sep=sep)

    n_edge = n_rows // 3
    n_random = n_rows - (2 * n_edge)

    if n_edge * 2 >= len(df_copy):
        n_edge = len(df_copy) // 2
        n_random = max(0, n_rows - 2 * n_edge)
        if len(df_copy) < n_rows and len(df_copy) > 0:
            n_edge = len(df_copy)
            n_random = 0

    first_rows = df_copy.head(n_edge)
    last_rows = df_copy.tail(n_edge)

    sampled_rows_list = []
    if not first_rows.empty:
        sampled_rows_list.append(first_rows)

    middle_df_start_idx = first_rows.shape[0]
    middle_df_end_idx = len(df_copy) - last_rows.shape[0]

    if middle_df_start_idx < middle_df_end_idx and n_random > 0:
        middle_section = df_copy.iloc[middle_df_start_idx:middle_df_end_idx]
        if not middle_section.empty:
            actual_n_random = min(n_random, len(middle_section))
            if actual_n_random > 0:
                random_rows = middle_section.sample(
                    n=actual_n_random, random_state=42)
                if not random_rows.empty:
                    sampled_rows_list.append(random_rows)

    if not last_rows.empty:
        is_duplicate = False
        temp_concat_check = (
            pd.concat(sampled_rows_list) if sampled_rows_list else pd.DataFrame()
        )
        if not temp_concat_check.empty:
            merged_check = pd.merge(temp_concat_check, last_rows, how="inner")
            if len(merged_check) == len(last_rows) and len(merged_check) == len(
                temp_concat_check
            ):
                is_duplicate = True
                if len(first_rows) + (
                    len(random_rows)
                    if "random_rows" in locals() and not random_rows.empty
                    else 0
                ) == len(last_rows):
                    is_duplicate = True

        if len(sampled_rows_list) == 1 and last_rows.equals(sampled_rows_list[0]):
            is_duplicate = True

        if not is_duplicate:
            sampled_rows_list.append(last_rows)

    if not sampled_rows_list:
        return df_copy.head(0).to_csv(index=False, header=False, sep=sep)

    final_df_to_export = (
        pd.concat(sampled_rows_list).drop_duplicates().reset_index(drop=True)
    )

    return final_df_to_export.to_csv(index=False, header=False, sep=sep)

## 3. Xử lý

Duyệt qua Docling và lấy các tables dưới dạng `pd.DataFrame` và tạo ra `input_prompt` cho LLM

In [5]:
import pandas as pd
from docling_core.types.doc.document import TableItem, TextItem  # Cần import TextItem
from docling_core.types.doc.labels import DocItemLabel


def _get_item_from_cref(docling_document, cref: str):
    try:
        parts = cref.strip('#/').split('/')
        item_type = parts[0]  # 'texts' hoặc 'tables'
        item_index = int(parts[1])
        if item_type == 'texts' and item_index < len(docling_document.texts):
            return docling_document.texts[item_index]
        elif item_type == 'tables' and item_index < len(docling_document.tables):
            return docling_document.tables[item_index]
        else:
            print(f"Warning: Cref '{cref}' không hợp lệ hoặc không tìm thấy.")
            return None
    except (IndexError, ValueError, AttributeError) as e:
        print(f"Error parsing cref '{cref}': {e}")
        return None

In [6]:
import pandas as pd
from docling_core.transforms.chunker.hybrid_chunker import HybridChunker
from docling_core.types.doc.document import TableItem
from docling_core.types.doc.labels import DocItemLabel
from langchain_core.documents import Document


def get_tables_from_docling(docling_document, n_tokens_previous: int = 20) -> tuple[list[pd.DataFrame], str]:
    tables: list[pd.DataFrame] = []
    full_prompt = ""
    table_index = 0

    doc_items = docling_document.body.children if hasattr(
        docling_document, 'body') and hasattr(docling_document.body, 'children') else []

    for i, item_ref in enumerate(doc_items):
        # Kiểm tra xem item hiện tại có phải là một bảng không
        if item_ref.cref.startswith('#/tables/'):
            table_item = _get_item_from_cref(docling_document, item_ref.cref)

            # Chỉ xử lý nếu là TableItem hợp lệ và có label là TABLE
            if isinstance(table_item, TableItem) and table_item.label in [DocItemLabel.TABLE]:

                # --- Lấy ngữ cảnh văn bản phía trước ---
                previous_text_snippet = ""
                if i > 0:  # Đảm bảo không phải là item đầu tiên
                    prev_item_ref = doc_items[i-1]
                    # Kiểm tra xem item trước đó có phải là text không
                    if prev_item_ref.cref.startswith('#/texts/'):
                        prev_text_item = _get_item_from_cref(
                            docling_document, prev_item_ref.cref)
                        if isinstance(prev_text_item, TextItem) and hasattr(prev_text_item, 'text') and prev_text_item.text:
                            words = prev_text_item.text.split()
                            # Lấy n từ cuối cùng làm ngữ cảnh
                            previous_text_snippet = " ".join(
                                words[-n_tokens_previous:])

                # --- Xử lý DataFrame của bảng ---
                df = preprocess_df(table_item.export_to_dataframe())
                if df.empty:
                    continue
                df_string = get_input_df(df, n_rows=7)
                column_types = get_column_types(df=df)
                n_columns = len(df.columns)

                # --- Xây dựng prompt ---
                prompt_part = ""
                if previous_text_snippet:
                    prompt_part += f"Context before table:\n{previous_text_snippet}\n\n"
                prompt_part += f"Table {table_index}:\n{df_string}\nNumber of columns: {n_columns}\nColumn types: {column_types}\n\n"

                full_prompt += prompt_part
                tables.append(df)
                table_index += 1

    print(f"{len(tables)} tables extracted and processed with preceding context.")
    return tables, full_prompt

### Hàm call LLM API

In [7]:
# To run this code you need to install the following dependencies:
# pip install google-genai

import base64
import json
import os

from google import genai
from google.genai import types

# from google.colab import userdata
# GEMINI_API_KEY = userdata.get('GOOGLE_API_KEY_1')
# from dotenv import load_dotenv
# load_dotenv()

# KAGGLE KEY
from kaggle_secrets import UserSecretsClient

user_secrets = UserSecretsClient()
GEMINI_API_KEY = user_secrets.get_secret("GOOGLE_API_KEY")


def generate(prompt):
    model = "gemini-2.0-flash-lite"
    client = genai.Client(
        api_key=GEMINI_API_KEY,
    )
    system_prompt = """You are an AI assistant specialized in analyzing and grouping data tables for vertical concatenation. I will provide you with information for multiple tables. Each table entry might include:

Context before table: A line indicating the subject matter preceding the table. This context can provide clues about the table's topic.
Table index: (e.g., Table 0).
Sample data: A few lines of data. Values in data lines are separated by the = character. The first line of sample data may or may not be an explicit header row containing column names.
Number of columns.
A list of data types for the columns.

The tables will be presented sequentially.

Your tasks are:

First, for each table, meticulously examine its first line of sample data. Determine if this first line explicitly serves as a header row containing distinct column names, rather than being a row of actual data. Identify the table indexes of only those tables that possess such an explicit, pre-existing header row in their sample data. If a table's first row contains data values, even if structured, it should not be considered as having an explicit pre-existing header in this step. It is possible that no tables, or only some, have explicit pre-existing headers.

Second, identify groups of tables that can be vertically concatenated. Tables are considered concatenable if they share the following characteristics:

Relevant Context: The Context before table information, if provided, suggests the tables belong to the same logical section or topic. Use this context as a strong indicator for grouping.
Same Number of Columns.
Compatible Data Types for corresponding columns.
Consistent Header Structure (either pre-existing or to be inferred): If a table in a potential group has an explicit pre-existing header (as identified in the first task), other tables considered for this group should ideally align with this structure. For tables without explicit pre-existing headers, their structure must be compatible with the anticipated common header structure for the group.
Third, for every table, you must provide a definitive list of column headers. Also, for each table, you must determine if these provided headers were pre-existing in the sample data or if they were inferred/predicted by you.
If a table was identified in the first task as having an explicit pre-existing header, you must use those exact pre-existing headers for that table. The determination of whether these headers were guessed or not should reflect this initial finding (i.e., not guessed).
If a table was not identified in the first task as having an explicit pre-existing header, you are required to infer or predict appropriate column headers for it. When inferring headers for a table that is part of a concatenation group, prioritize using or adapting the explicit pre-existing headers from another table within the same group, if such a table exists. If the table is independent or no table in its group has an explicit pre-existing header, infer the headers based on its data content, data types, and any available context. For any table where headers are inferred or predicted by you, this fact must be indicated.

Finally, when constructing the information about headers for all tables, pay attention to consolidation. If multiple table indexes, particularly those grouped together for concatenation as identified in the second task, share the exact same list of column headers and the same status regarding whether those headers were guessed or not, you should consolidate them into a single descriptive entry. This single entry should list all relevant table indexes in its table_index array. For tables that do not fit into such a consolidated group (e.g., independent tables with unique headers, or groups with varying header statuses), create individual descriptive entries as appropriate.

Group the tables based on these criteria for concatenation.

Below is the table data:"""
    content = system_prompt + prompt
    contents = [
        types.Content(
            role="user",
            parts=[
                types.Part.from_text(text=prompt),
            ],
        ),
    ]
    generate_content_config = types.GenerateContentConfig(
        temperature=0,
        max_output_tokens=1000,
        response_mime_type="application/json",
        response_schema=genai.types.Schema(
            type=genai.types.Type.OBJECT,
            required=["concatable_tables", "has_headers", "headers_info"],
            properties={
                "concatable_tables": genai.types.Schema(
                    type=genai.types.Type.ARRAY,
                    items=genai.types.Schema(
                        type=genai.types.Type.OBJECT,
                        required=["table_index"],
                        properties={
                            "table_index": genai.types.Schema(
                                type=genai.types.Type.ARRAY,
                                items=genai.types.Schema(
                                    type=genai.types.Type.NUMBER,
                                ),
                            ),
                        },
                    ),
                ),
                "has_headers": genai.types.Schema(
                    type=genai.types.Type.ARRAY,
                    items=genai.types.Schema(
                        type=genai.types.Type.NUMBER,
                    ),
                ),
                "headers_info": genai.types.Schema(
                    type=genai.types.Type.ARRAY,
                    items=genai.types.Schema(
                        type=genai.types.Type.OBJECT,
                        required=["table_index", "headers",
                                  "is_header_guessed"],
                        properties={
                            "table_index": genai.types.Schema(
                                type=genai.types.Type.ARRAY,
                                items=genai.types.Schema(
                                    type=genai.types.Type.NUMBER,
                                ),
                            ),
                            "headers": genai.types.Schema(
                                type=genai.types.Type.ARRAY,
                                items=genai.types.Schema(
                                    type=genai.types.Type.STRING,
                                ),
                            ),
                            "is_header_guessed": genai.types.Schema(
                                type=genai.types.Type.BOOLEAN,
                            ),
                        },
                    ),
                ),
            },
        ),
        system_instruction=[
            types.Part.from_text(text=system_prompt),
        ],
    )
    input_tokens = client.models.count_tokens(model=model, contents=[content])
    response = client.models.generate_content(
        model=model,
        contents=contents,
        config=generate_content_config,
    )
    output_tokens = client.models.count_tokens(
        model=model, contents=response.text)

    json_response = json.loads(response.text)
    json_response.update({"input_tokens": input_tokens,
                         "output_tokens": output_tokens})
    return json_response

Ghép nối các nhóm tables lại với nhau

In [8]:
def main_concatenation_logic(
    tables: list[pd.DataFrame], concat_json: dict
) -> list[pd.DataFrame]:
    """
    Concatenate DataFrames based on groups in concat_json.
    Headers are applied based on 'headers_info' from concat_json.
    'is_header_guessed' from 'headers_info' determines if solve_non_header_table is used.
    """
    concatenated_results = []
    # Keep track of indices handled by 'concatable_tables'
    processed_indices_from_json = set()

    if not isinstance(tables, list) or not all(
        isinstance(t, pd.DataFrame) for t in tables
    ):
        print("Error: 'tables' must be a list of DataFrames.")
        return []

    # 1. Pre-process headers_info into a usable map
    # header_details_map: key is table_index (int), value is {'headers': list[str], 'is_guessed': bool}
    header_details_map = {}
    if isinstance(concat_json, dict):
        headers_info_list = concat_json.get("headers_info", [])
        if isinstance(headers_info_list, list):
            for info_entry in headers_info_list:
                if isinstance(info_entry, dict) and \
                   "table_index" in info_entry and \
                   "headers" in info_entry:

                    table_indices_for_this_info = info_entry["table_index"]
                    headers_for_this_info = info_entry["headers"]
                    # Default is_header_guessed to True if missing, common for LLM-inferred headers
                    is_guessed_for_this_info = info_entry.get(
                        "is_header_guessed", True)

                    # Ensure table_indices_for_this_info is a list for iteration
                    if not isinstance(table_indices_for_this_info, list):
                        if isinstance(table_indices_for_this_info, int):
                            # Convert single int to list
                            table_indices_for_this_info = [
                                table_indices_for_this_info]
                        else:
                            print(
                                f"Warning: 'table_index' in headers_info is not a list or int: {info_entry}. Skipping entry.")
                            continue

                    if isinstance(headers_for_this_info, list):
                        for idx in table_indices_for_this_info:
                            if isinstance(idx, int):
                                # First-come, first-served for an index to prevent overriding by less specific entries
                                if idx not in header_details_map:
                                    header_details_map[idx] = {
                                        "headers": headers_for_this_info,
                                        "is_guessed": is_guessed_for_this_info
                                    }
                            else:
                                print(
                                    f"Warning: Non-integer index '{idx}' found in headers_info.table_index list. Skipping this index.")
                    else:
                        print(
                            f"Warning: 'headers' in headers_info entry is not a list: {info_entry}. Skipping entry.")
                else:
                    print(
                        f"Warning: Invalid headers_info entry (e.g., not a dict, or missing keys): {info_entry}. Skipping entry.")
        elif headers_info_list is not None:  # Present but not a list
            print("Warning: 'headers_info' in concat_json is not a list. No explicit header information will be used from headers_info.")
    # If concat_json is not a dict, or headers_info is None/missing, map remains empty.

    if not header_details_map:
        print("Info: 'header_details_map' is empty after processing 'headers_info'. "
              "Tables will be processed using original columns or potentially skipped if in groups.")

    # 2. Process concatable_tables (groups)
    instructions_list = []
    if isinstance(concat_json, dict):
        instructions_list = concat_json.get("concatable_tables", [])
        if not isinstance(instructions_list, list):
            print("Warning: 'concatable_tables' in concat_json is not a list. No concatenation will be performed based on it.")
            instructions_list = []
    elif concat_json is not None:  # concat_json exists but is not a dict
        print("Warning: 'concat_json' is not a dictionary. No concatenation will be performed based on it.")

    for group_instruction in instructions_list:
        if not isinstance(group_instruction, dict) or "table_index" not in group_instruction:
            print(
                f"Warning: Invalid group instruction: {group_instruction}. Skipping this group.")
            continue

        table_indices_from_json_group = group_instruction.get(
            "table_index", [])
        if not isinstance(table_indices_from_json_group, list) or not table_indices_from_json_group:
            print(
                f"Warning: 'table_index' in group is invalid or empty: {group_instruction}. Skipping this group.")
            continue

        valid_indices_in_this_json_group = []
        for index in table_indices_from_json_group:
            if not isinstance(index, int):
                print(
                    f"Warning: Non-integer index '{index}' in group {table_indices_from_json_group}. Skipping this index.")
                continue
            if 0 <= index < len(tables):
                valid_indices_in_this_json_group.append(index)
            else:
                print(
                    f"Warning: Index {index} out of range for tables list. Skipping this index in group {table_indices_from_json_group}.")

        if not valid_indices_in_this_json_group:
            print(
                f"Warning: No valid DataFrames to process for index group {table_indices_from_json_group} after validation.")
            continue

        # Mark all valid indices from this group instruction as "processed" by a concat rule
        for idx in valid_indices_in_this_json_group:
            processed_indices_from_json.add(idx)

        # Determine the header standard for this group
        group_level_header_details = None
        reference_idx_for_group_header = -1

        # Try to find header_info for any table in the group to act as the standard
        for idx_in_group in valid_indices_in_this_json_group:
            if idx_in_group in header_details_map:
                group_level_header_details = header_details_map[idx_in_group]
                reference_idx_for_group_header = idx_in_group
                # print(f"Info: Using header_info from table {reference_idx_for_group_header} as standard for group {valid_indices_in_this_json_group}.")
                break  # Found a standard for the group

        if group_level_header_details is None:
            print(f"Critical Warning: No 'headers_info' found for ANY table in group {valid_indices_in_this_json_group}. "
                  "These tables will be added individually if not processed otherwise.")
            # Add original tables to results to prevent data loss, they won't be concatenated as a group
            for original_df_idx in valid_indices_in_this_json_group:
                # Check if already added (e.g. by another rule or if logic changes)
                # This check isn't strictly necessary with current flow but good for thought
                # if original_df_idx not in [item.attrs.get('original_index', -1) for item in concatenated_results]: # pseudo-code for check
                concatenated_results.append(
                    tables[original_df_idx].copy())  # Add original
            continue  # Skip to next group instruction

        group_target_headers = group_level_header_details["headers"]
        is_group_header_guessed = group_level_header_details["is_guessed"]

        dfs_to_concat_in_group = []
        for original_df_idx in valid_indices_in_this_json_group:
            df = tables[original_df_idx].copy()

            # All tables in this group will use the same target headers and guessed status
            # derived from the group_level_header_details.

            if len(df.columns) != len(group_target_headers):
                print(f"Warning: Table at index {original_df_idx} (in group) has {len(df.columns)} columns, "
                      f"but group standard header has {len(group_target_headers)} columns. Skipping this table from group.")
                # Optionally, add this skipped table as an independent one later if robust handling is needed
                # For now, it's skipped from this group.
                continue

            if is_group_header_guessed:
                df = solve_non_header_table(df, group_target_headers)
            else:
                df.columns = group_target_headers

            dfs_to_concat_in_group.append(df)

        if dfs_to_concat_in_group:
            if len(dfs_to_concat_in_group) == 1:  # Only one table qualified
                concatenated_results.append(dfs_to_concat_in_group[0])
            else:
                try:
                    final_df_group = pd.concat(
                        dfs_to_concat_in_group, ignore_index=True)
                    concatenated_results.append(final_df_group)
                except Exception as e:
                    print(
                        f"Error concatenating DataFrames in group {valid_indices_in_this_json_group}: {e}. Adding DFs individually.")
                    # Add prepared DFs individually
                    concatenated_results.extend(dfs_to_concat_in_group)
        # Group had valid indices but no DFs made it (e.g., all column mismatches)
        elif valid_indices_in_this_json_group:
            print(
                f"Warning: No DataFrames in group {valid_indices_in_this_json_group} could be prepared for concatenation.")

    # 3. Handle independent tables (those not covered by any 'concatable_tables' group instruction)
    all_available_indices = set(range(len(tables)))
    independent_table_indices = sorted(
        list(all_available_indices - processed_indices_from_json))

    for idx in independent_table_indices:
        # Keep a reference to original
        original_df_for_independent = tables[idx]
        df = original_df_for_independent.copy()

        header_details_for_independent_df = header_details_map.get(idx)

        if header_details_for_independent_df is None:
            print(
                f"Info: No 'headers_info' found for independent table at index {idx}. Adding table as is.")
            # Add with original/current headers
            concatenated_results.append(df)
            continue

        target_headers = header_details_for_independent_df["headers"]
        is_guessed = header_details_for_independent_df["is_guessed"]

        if len(df.columns) != len(target_headers):
            print(f"Warning: Column count mismatch for independent table {idx}. Original has {len(df.columns)}, "
                  f"target has {len(target_headers)}. Adding table as is (original form).")
            concatenated_results.append(
                original_df_for_independent.copy())  # Add original on error
            continue

        if is_guessed:
            df = solve_non_header_table(df, target_headers)
        else:
            df.columns = target_headers

        concatenated_results.append(df)

    return concatenated_results

### Kết quả

## 4. Full pipeline

In [9]:
from IPython.display import Markdown, display


def get_tables_from_sources(
    sources: list[str], output_path: str = None
) -> dict[str, list[pd.DataFrame]]:
    processed_tables = {}
    conversions = convert_pdf_to_docling(sources)
    total_tokens = {"input_tokens": [], "output_tokens": []}
    for source in sources:
        pdf_name = source.split("/")[-1][:-4]
        print(f"Processing {pdf_name}")
        try:
            tables, full_prompt = get_tables_from_docling(conversions[source])
            json_instructions = generate(full_prompt)

            source_input_tokens = json_instructions.get("input_tokens")
            source_output_tokens = json_instructions.get("output_tokens")

            # print(f"{pdf_name} - input_tokens = {source_input_tokens}")
            # print(f"{pdf_name} - output_tokens = {source_output_tokens}")
            print(
                f"{pdf_name} - full_json = {json_instructions}"
            )

            total_tokens["input_tokens"].append(source_input_tokens)
            total_tokens["output_tokens"].append(source_output_tokens)

            concatenated_dataframes = main_concatenation_logic(
                tables, json_instructions
            )
            processed_tables[source] = concatenated_dataframes
            if output_path:
                for i, df in enumerate(concatenated_dataframes):
                    df.to_csv(f"{pdf_name}_{i}.csv", index=False)
                    print(f"\n--- Concatenated DataFrame Group {i + 1} ---")
                    display(Markdown(df.to_markdown()))
                    print(f"Columns: {df.columns.tolist()}")
                    print(f"Shape: {df.shape}")
            print(f"Processed {pdf_name}")
            print("=" * 50)
        except Exception as e:
            print(f"Error processing {source}: {e}")
    return processed_tables, total_tokens

In [10]:
# SETTING INPUT AND OUTPUT PATH
import os

input_path = "/kaggle/input/tables-pdf"

sources = [
    os.path.join(input_path, f) for f in os.listdir(input_path) if f.endswith(".pdf")
]
print("Source:", sources)

pdf_names = [pdf_path.split("/")[-1] for pdf_path in sources]
print("\n\n")
output_path = "/kaggle/working/"
print("Output path:", output_path)

Source: ['/kaggle/input/tables-pdf/c935e2902adf7040a6ffe0db0f7c11e6.pdf', '/kaggle/input/tables-pdf/national-capitals.pdf', '/kaggle/input/tables-pdf/CA Warn Report.pdf', '/kaggle/input/tables-pdf/659dfd3e5c22a64d7597cb50c6fc455e.pdf', '/kaggle/input/tables-pdf/0e6af4a364ff3fe835bd4e332a2fb9cf.pdf', '/kaggle/input/tables-pdf/f8a04d6beeed137eeb7840a5c459842d.pdf', '/kaggle/input/tables-pdf/78f480a26ad6a8c7c064e9d9fd5b2c4f.pdf']



Output path: /kaggle/working/

In [11]:
processed_tables, total_tokens = get_tables_from_sources(
    sources, output_path=output_path
)

Time taken: 184.5845
Processing c935e2902adf7040a6ffe0db0f7c11e6
10 tables extracted and processed with preceding context.
c935e2902adf7040a6ffe0db0f7c11e6 - full_json = {'concatable_tables': [{'table_index': [0, 1, 2, 3, 4, 5, 6, 7]}], 'has_headers': [], 'headers_info': [{'table_index': [0, 1, 2, 3, 4, 5, 6, 7], 'headers': ['Air Jordan', 'Year', 'Description'], 'is_header_guessed': True}, {'table_index': [8], 'headers': ['V · T · E', 'Nike, Inc.', 'Links to related articles'], 'is_header_guessed': True}, {'table_index': [9], 'headers': ['Categories: Sportswear brands', 'Categories: Sportswear brands', 'Nike brands', 'Michael Jordan', 'Products introduced in 1984', 'Products introduced in 1984'], 'is_header_guessed': True}], 'input_tokens': CountTokensResponse(total_tokens=2193, cached_content_token_count=None), 'output_tokens': CountTokensResponse(total_tokens=322, cached_content_token_count=None)}

--- Concatenated DataFrame Group 1 ---

|    | Air Jordan         | Year   | Description                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            |
|---:|:-------------------|:-------|:-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
|  0 | Air Jordan IV      | 1989   | In December 1988, Nike released the Air Jordan IV to the public. Designed by Tinker Hatfield, it was the first Air Jordan released on the global market. It had four colorways: White/Black, Black/Cement Grey, White/Fire Red-Black, and Off White/Military Blue. Nike featured director and actor Spike Lee in ads for the shoe. [27]  Lee had featured the shoe in his movie  Do The Right Thing . [25] Michael Jordan wore the Air Jordan IV when he made "The Shot", a series winner in Game 5 of the 1989 NBA First Round between the Chicago Bulls and the Cleveland Cavaliers. In 2012 a Cavalier colorway dubbed the "Cavs" was released to honor "The Shot". |
|  1 | Air Jordan V       | 1990   | The Air Jordan V was released in February 1990 and designed by Hatfield. Inspired by a WWII Mustang fighter, [25] features include a reflective tongue with a protruding design, translucent rubber soles and lace locks. [28] The Air Jordan V saw a lot of use in popular sitcom  The Fresh Prince of Bel-Air . During many episodes Will Smith wore the Metallic Silver, Grape, and Fire Red colorways. To pay tribute to his character, Jordan released the Air Jordan 5 Bel Air in 2013 and 2020. [29][30]                                                                                                                                                        |
|  2 | Air Jordan VI      | 1991   | Designed after a German sports car, Michael Jordan wore the VI for his first Bulls championship. [25]  The shoes were worn by the protagonist of the manga  Slam Dunk , Hanamichi Sakuragi. In 2014, Nike released special versions of the VI featuring artwork from the series. [31]  Various other models in the Air Jordan line are featured in the series, including the original Air Jordan, the V, and the XII. [32]                                                                                                                                                                                                                                             |
|  3 | Air Jordan VII     | 1992   | The Air Jordan VII introduced "huarache" technology which allowed the shoes to better conform to the user's foot. A few things were no longer featured on the new model, such as the visible air sole, the Nike Air logo, and the translucent soles. This was the first Air Jordan in the line that did not have any distinctive "Nike Air" branding on the outer portions of the shoe, only on the in-soles. When Jordan went to compete at the 1992 Summer Olympics to play for the US Men's Basketball Team (also known as the "Dream Team"), Nike released a special                                                                                               |
|  4 |                    |        | Olympic color combo of the Air Jordan VII model which had Jordan's Olympic jersey number 9, instead of the usual "23" found on other colorways. [25] Various models of the Air Jordan VII were re-released beginning with its 10-year anniversary in 2002. [33]                                                                                                                                                                                                                                                                                                                                                                                                        |
|  5 | Air Jordan VIII    | 1993   | The Air Jordan VIII was released to coincide with the 1992- 93 NBA season. The eighth model of the Air Jordan contains a full-length air sole, polyurethane midsole, polycarbonate shank plate, and two crossover straps. The VIIIs were known for a successful ad campaign in which Bugs Bunny appeared alongside Michael Jordan to market the shoes. [25]  The shoe was re-released in 2003, 2007, 2008, 2013, and 2015-2017.                                                                                                                                                                                                                                        |
|  6 | Air Jordan IX      | 1993   | Originally released in November 1993, the Air Jordan IX was the first model released after Michael Jordan's retirement. Jordan never played an NBA season wearing these shoes. This model was inspired by baseball cleats that Jordan wore when playing minor-league baseball. [25]  The shoe was re- released in 2002, 2008, 2010, 2012, and 2014-2018. Like the VII and VIII models, the Air Jordan IX featured an inner sock sleeve and nubuck accents. The sole featured different symbols and languages of different countries. The Air Jordan IX is depicted to be worn by the Statue of Michael Jordan inside the United Center in Chicago. [34]                |
|  7 | Air Jordan X       | 1994   | This was released in different colors representing U.S. cities. It was the first Air Jordan to feature a lightweight Phylon midsole. The shoe also featured all of Michael Jordan's accomplishments up to his first retirement on the outsole. [25] The shoe was re-released in 2005, 2008, 2012-2016, and 2018.                                                                                                                                                                                                                                                                                                                                                       |
|  8 | Air Jordan XI      | 1995   | This model was designed by Tinker Hatfield. When the shoe launched, Michael Jordan (retired from basketball by then) was with the Birmingham Barons in baseball's minor baseball leagues. Hatfield designed the sneaker waiting for Jordan to come back and hoping he would play in them. [35] The ballistic mesh upper of the sneaker was meant to make the Air Jordan XI lighter and more durable. Further changes                                                                                                                                                                                                                                                   |
|  9 |                    | 1996   | Michael Jordan's favorite. [39].The Air Jordan XII featured a "Rising Sun" motif mimicking the Flag of Japan. [25]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     |
| 10 |                    | 1997   | This model had a carbon fiber plate, designed by Hatfield. The black panther was the inspiration for the Air Jordan XIII, with the sole resembling the pads on a panther's paw. A hologram on the back of the shoe imitates a panther's eyes in the dark. [25]  They were re-released in 2005, which coincided with the release of the Air Jordan 8s shoe. In the movie  He Got Game , director Spike Lee had access to the Air Jordan XIII months before it was available to the public or even worn by Jordan himself and featured it in scenes. [37]                                                                                                                |
| 11 | Air Jordan XIV     | 1998   | Inspired by the Ferrari 550 M which Michael Jordan owned, the Air Jordan XIV was originally released in October 1998. [25]  It was re-released in 2005, 2006, 2008, 2011, 2012 and 2014-2018. The Air Jordan XIV co-styled by Hatfield and Mark Smith was made race ready and equipped with the Jordan Jumpman insignia on a Ferrari shaped badge. The color scheme of predominant black accentuated with red was nicknamed "The Last Shot" because Michael Jordan wore them as he hit the game winning shot over Bryon Russell, of the Utah Jazz,                                                                                                                     |
| 12 |                    |        | in his final game with the Chicago Bulls in the 1998 NBA Finals. There are 14 Jumpman logos-7 on each shoe- corresponding the shoes' number in the series.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             |
| 13 | Air Jordan XV      | 1999   | This was the first shoe after Jordan's retirement. The design was inspired by the North American X-15, which was developed by NASA during the 1950s. The sides of the XV were made from woven kevlar fiber. [25]  The Jordan XVs were Hatfield's least favorite in the series. [38]                                                                                                                                                                                                                                                                                                                                                                                    |
| 14 | Air Jordan XVI     | 2001   | The shoe came with spats, and the design was inspired by performance cars and architecture. The ad campaign featured Mos Def. [25]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     |
| 15 | Air Jordan XVII    | 2002   | This pair of Jordans came with a multimedia CD-ROM containing the Air Jordan XVII song. The retail price of the shoe was US$200. [25]  The defining functional design element of the Air Jordan XVII model, which was later replicated on the Air Jordan XXIII model, was the reinforced mid-sole which provided a sturdy and stable chassis for the shoe. They were made in four mid top colors and three low-top colors. Michael Jordan wore the XVII while playing for the Washington Wizards, after his second retirement return. [41] The shoe was re-released in 2008 and 2016.                                                                                  |
| 16 | Air Jordan XVIII   | 2003   | The Air Jordan XVIII shoe was released during Michael Jordan's last season, in which he played for the Washington Wizards. The shoe was designed by Air Jordan Senior Footwear Designer, Tate Kuerbis, who had been part of the Jordan footwear design team since 1999 and with Nike since 1995. The inspiration for the design came from the carbon fiber- based monocoque of F1 race cars, [25]  race car driving shoes (rubber heel wrap) and Fine Italian dress shoes (bold stitching on the soles). It was re-released in 2008.                                                                                                                                   |
| 17 | Air Jordan XXI     | 2006   | The Air Jordan XXI model of shoes was designed by D'Wayne Edwards and inspired by sport touring vehicles. The shoe features lower-foot air grilles, double-overlasted Phylon midsole, a carbon fiber shank plate and a seamless diamond-quilted bootie. It came with removable parts that could make the cushioning firm or soft, and had text that could be seen under a blacklight. [25] The Air Jordan XXI was introduced on television by the "Second Generation" advertisement.                                                                                                                                                                                   |
| 18 |                    | 2007   | The XX2 was inspired by the F-22 Raptor. [25]  The promo commercial was directed by Mark Romanek. [44]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 |
| 19 | Air Jordan XX3     | 2008   | The Air Jordan XX3 was designed by Tinker Hatfield. It was the first basketball shoe in the "Nike Considered" category, for using materials from not more than 200 miles (320 km) from a Nike Factory. It features a hand-stitched exterior, full- length bootie, carbon fiber shank plate, the last to feature interchangeable IPS pillars, and an articulated chassis. The shoe was released on January 25, 2008, and was the last Air Jordan until the XX8 to have Roman numeral identification. The shoe was re-released in 2015-2016.                                                                                                                             |
| 20 | Air Jordan 2009    | 2009   | The Air Jordan 2009 was designed by Jason Mayden and was the first Air Jordan model named after the year of its release rather than its numbered system. Inspired by Jordan's defensive focus, the shoe incorporates Articulated Propulsion Technology used by Paralympian runners. It also features a durable pleated silk upper, protective Thermoplastic polyurethane (TPU) chassis, carbon fiber arch plate and Zoom Air structure. The shoe was released on January 31, 2009, and has not been re-released.                                                                                                                                                       |
| 21 | Air Jordan 2010    | 2010   | This was released during the 25th anniversary of the Air Jordan brand. The base of each midsole has stylized text that when combined reads: "I've failed over and over and over again in my life. And that is why I succeed." This quote is a reference to a 1997 advertising campaign, with Michael Jordan detailing his failures that led to his career successes.                                                                                                                                                                                                                                                                                                   |
| 22 | Air Jordan 2011    | 2011   | The shoe has interchangeable insoles [25]  - a red one for power and a blue one for quickness. Four colorways of the shoe were released corresponding with the 2011 All Star Game: White/Black, White/Red and White/Blue that represented the East/West Jersey Colors. The "Year of the Rabbit" colorway was a limited release that celebrated Michael Jordan's Chinese zodiac sign. The 2011 has a star-constellation pattern that also serves as ventilation. It uses patent leather wrapped around the shoe. The shoes are hand burnished and crafted. A dress shoe that feels similar to the XI was reportedly the goal. The shoe has not been re-released.        |
| 23 | Air Jordan 2012    | 2012   | The Air Jordan 2012 offers six customization configurations. Two interchangeable sleeves and three insoles adapt to different playing styles. The Deluxe model was launched on February 8, while the customization Flight models were released on February 25, 2012. It was the final Air Jordan model to be named after the year it was released as the numbered system returned in 2013 with the Air Jordan XX8.                                                                                                                                                                                                                                                     |
| 24 | Air Jordan XX8     | 2013   | The Air Jordan XX8, designed by Tinker Hatfield, was released on February 16, 2013. The outside shroud was made from a Swiss fabric used for motorcycle jackets. [25]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  |
| 25 | Air Jordan XX9     | 2014   | The Air Jordan XX9, also designed by Hatfield, released in September 2014 in both an elephant print and a knit edition. The shoe debuted in the NBA by Russell Westbrook and Kawhi Leonard. The shoe has a performance woven upper, with areas that are stiff and others that are more flexible. [25] Jordan released two versions, a regular cut and low version. Some of the colorways released in low version are buckets, Chicago bulls, UNC, and infrared.                                                                                                                                                                                                        |
| 26 | Air Jordan XXX     | 2016   | The Air Jordan XXX was again designed by Tinker Hatfield. The first colorway of the shoe released on February 16. [45] The shoe consists of an upper and outsole similar to the XX9. The upper has a flyknit-constructed ankle collar that overextends slightly. The outsole has a more noticeable change, with a different traction pattern, while the midsole remains almost identical.                                                                                                                                                                                                                                                                              |

Columns: ['Air Jordan', 'Year', 'Description']
Shape: (37, 3)

--- Concatenated DataFrame Group 2 ---

|    | V · T · E       | Nike, Inc.                | Links to related articles   |
|---:|:----------------|:--------------------------|:----------------------------|
|  0 | V   ·  T   ·  E | Nike, Inc.                | [show]                      |
|  1 |                 | Links to related articles | [show]                      |

Columns: ['V · T · E', 'Nike, Inc.', 'Links to related articles']
Shape: (2, 3)

--- Concatenated DataFrame Group 3 ---

|    | Categories: Sportswear brands   | Categories: Sportswear brands   | Nike brands   | Michael Jordan   | Products introduced in 1984   | Products introduced in 1984   |
|---:|:--------------------------------|:--------------------------------|:--------------|:-----------------|:------------------------------|:------------------------------|
|  0 | Categories:  Sportswear brands  | Categories:  Sportswear brands  | Nike brands   | Michael Jordan   | Products introduced in 1984   | Products introduced in 1984   |
|  1 | 1980s fashion                   | 1990s fashion                   | 2000s fashion | 2010s fashion    | 2020s fashion                 | Basketball culture            |

Columns: ['Categories: Sportswear brands', 'Categories: Sportswear brands', 'Nike brands', 'Michael Jordan', 'Products introduced in 1984', 'Products introduced in 1984']
Shape: (2, 6)
Processed c935e2902adf7040a6ffe0db0f7c11e6
==================================================
Processing national-capitals
6 tables extracted and processed with preceding context.
national-capitals - full_json = {'concatable_tables': [{'table_index': [0, 1, 2, 3, 4, 5]}], 'has_headers': [0, 1, 2, 3, 4, 5], 'headers_info': [{'table_index': [0, 1, 2, 3, 4, 5], 'headers': ['Country', 'Capital', 'Population', '%', 'Year'], 'is_header_guessed': False}], 'input_tokens': CountTokensResponse(total_tokens=1679, cached_content_token_count=None), 'output_tokens': CountTokensResponse(total_tokens=184, cached_content_token_count=None)}

--- Concatenated DataFrame Group 1 ---

|     | Country                                           | Capital                                  | Population    | %   | Year   |
|----:|:--------------------------------------------------|:-----------------------------------------|:--------------|:----|:-------|
|   0 | Afghanistan                                       | Kabul                                    | 4601789       |     |        |
|   1 | Albania                                           | Tirana                                   | 557422        |     |        |
|   2 | Algeria                                           | Algiers                                  | 3915811       |     |        |
|   3 | American Samoa (USA)                              | Pago Pago                                | 3656          |     |        |
|   4 | Andorra                                           | Andorra la Vella                         | 22873         |     |        |
|   5 | Angola                                            | Luanda                                   | 2571861       |     |        |
|   6 | Anguilla (UK)                                     | The Valley                               | 1067          |     |        |
|   7 | Antigua and Barbuda                               | St. John's                               | 22219         |     |        |
|   8 | Argentina                                         | Buenos Aires                             | 2891082       |     |        |
|   9 | Armenia                                           | Yerevan                                  | 1096100       |     |        |
|  10 | Aruba (Netherlands)                               | Oranjestad                               | 28294         |     |        |
|  11 | Australia                                         | Canberra                                 | 431380        |     |        |
|  12 | Austria                                           | Vienna                                   | 1962779       |     |        |
|  13 | Azerbaijan                                        | Baku                                     | 2303100       |     |        |
|  14 | Bahamas                                           | Nassau                                   | 274400        |     |        |
|  15 | Bahrain                                           | Manama                                   | 200000        |     |        |
|  16 | Bangladesh                                        | Dhaka                                    | 8906039       |     |        |
|  17 | Barbados                                          | Bridgetown                               | 110000        |     |        |
|  18 | Belarus                                           | Minsk                                    | 1996553       |     |        |
|  19 | Belgium                                           | Brussels                                 | 187686        |     |        |
|  20 | Belize                                            | Belmopan                                 | 20621         |     |        |
|  21 | Benin                                             | Porto-Novo                               | 264320        |     |        |
|  22 | Bermuda (UK)                                      | Hamilton                                 | 854           |     |        |
|  23 | Bhutan                                            | Thimphu                                  | 114551        |     |        |
|  24 | Bolivia                                           | Sucre                                    | 360544        |     |        |
|  25 | Bosnia and Herzegovina                            | Sarajevo                                 | 275524        |     |        |
|  26 | Botswana                                          | Gaborone                                 | 273602        |     |        |
|  27 | Brazil                                            | Brasília                                 | 2648532       |     |        |
|  28 | British Virgin Islands (UK)                       | Road Town                                | 12603         |     |        |
|  29 | Brunei                                            | Bandar Seri Begawan                      | 100700        |     |        |
|  30 | Bulgaria                                          | Sofia                                    | 1307439       |     |        |
|  31 | Burkina Faso                                      | Ouagadougou                              | 2453496       |     |        |
|  32 | Burundi                                           | Gitega                                   | 135467        |     |        |
|  33 | Cambodia                                          | Phnom Penh                               | 2281951       |     |        |
|  34 | Cameroon                                          | Yaoundé                                  | 2765568       |     |        |
|  35 | Canada                                            | Ottawa                                   | 1017449       |     |        |
|  36 | Cape Verde                                        | Praia                                    | 159050        |     |        |
|  37 | Cayman Islands (UK)                               | George Town                              | 34399         |     |        |
|  38 | Central African Republic                          | Bangui                                   | 889231        |     |        |
|  39 | Chad                                              | N'Djamena                                | 916000        |     |        |
|  40 | Chile                                             | Santiago                                 | 6310000       |     |        |
|  41 | China                                             | Beijing                                  | 21542000      |     |        |
|  42 | Christmas Island (Australia)                      | Flying Fish Cove                         | 1599          |     |        |
|  43 | Cocos (Keeling) Islands (Australia)               | West Island                              | 134           |     |        |
|  44 | Colombia                                          | Bogotá                                   | 7181469       |     |        |
|  45 | Comoros                                           | Moroni                                   | 111326        |     |        |
|  46 | Congo                                             | Brazzaville                              | 1696392       |     |        |
|  47 | Cook Islands (NZ)                                 | Avarua                                   | 4906          |     |        |
|  48 | Costa Rica                                        | San José                                 | 342188        |     |        |
|  49 | Croatia                                           | Zagreb                                   | 769944        |     |        |
|  50 | Cuba                                              | Havana                                   | 2132183       |     |        |
|  51 | Curaçao (Netherlands)                             | Willemstad                               | 136660        |     |        |
|  52 | Cyprus                                            | Nicosia                                  | 326739        |     |        |
|  53 | Czech Republic                                    | Prague                                   | 1275406       |     |        |
|  54 | DR Congo                                          | Kinshasa                                 | 12691000      |     |        |
|  55 | Denmark                                           | Copenhagen                               | 638117        |     |        |
|  56 | Djibouti                                          | Djibouti (city)                          | 604013        |     |        |
|  57 | Dominica                                          | Roseau                                   | 14725         |     |        |
|  58 | Dominican Republic                                | Santo Domingo                            | 1111838       |     |        |
|  59 | East Timor                                        | Dili                                     | 277279        |     |        |
|  60 | Ecuador                                           | Quito                                    | 2800388       |     |        |
|  61 | Egypt                                             | Cairo                                    | 10107125      |     |        |
|  62 | El Salvador                                       | San Salvador                             | 570459        |     |        |
|  63 | Equatorial Guinea                                 | Malabo                                   | 297000        |     |        |
|  64 | Eritrea                                           | Asmara                                   | 963000        |     |        |
|  65 | Estonia                                           | Tallinn                                  | 438341        |     |        |
|  66 | Eswatini                                          | Mbabane                                  | 94874         |     |        |
|  67 | Jamaica                                           | Kingston                                 | 662491        |     |        |
|  68 | Japan                                             | Tokyo                                    | 13921000      |     |        |
|  69 | Jersey (UK)                                       | Saint Helier                             | 37540         |     |        |
|  70 | Jordan                                            | Amman                                    | 4061150       |     |        |
|  71 | Kazakhstan                                        | Astana                                   | 1239900       |     |        |
|  72 | Kenya                                             | Nairobi                                  | 4397073       |     |        |
|  73 | Kiribati                                          | Tarawa                                   | 70480         |     |        |
|  74 | Kosovo                                            | Pristina                                 | 198897        |     |        |
|  75 | Kuwait                                            | Kuwait City                              | 2989000       |     |        |
|  76 | Kyrgyzstan                                        | Bishkek                                  | 1074075       |     |        |
|  77 | Laos                                              | Vientiane                                | 927724        |     |        |
|  78 | Latvia                                            | Riga                                     | 605802        |     |        |
|  79 | Lebanon                                           | Beirut                                   | 361366        |     |        |
|  80 | Lesotho                                           | Maseru                                   | 330760        |     |        |
|  81 | Liberia                                           | Monrovia                                 | 1010970       |     |        |
|  82 | Libya                                             | Tripoli                                  | 1170000       |     |        |
|  83 | Liechtenstein                                     | Vaduz                                    | 5774          |     |        |
|  84 | Lithuania                                         | Vilnius                                  | 576195        |     |        |
|  85 | Luxembourg                                        | Luxembourg City                          | 124509        |     |        |
|  86 | Macau                                             | Macau                                    | 671900        |     |        |
|  87 | Madagascar                                        | Antananarivo                             | 1275207       |     |        |
|  88 | Malawi                                            | Lilongwe                                 | 989318        |     |        |
|  89 | Malaysia                                          | Kuala Lumpur                             | 1782500       |     |        |
|  90 | Maldives                                          | Malé                                     | 133412        |     |        |
|  91 | Mali                                              | Bamako                                   | 1809106       |     |        |
|  92 | Malta                                             | Valletta                                 | 5827          |     |        |
|  93 | Marshall Islands                                  | Majuro                                   | 27797         |     |        |
|  94 | Mauritania                                        | Nouakchott                               | 1195600       |     |        |
|  95 | Mauritius                                         | Port Louis                               | 147066        |     |        |
|  96 | Mexico                                            | Mexico City                              | 9209944       |     |        |
|  97 | Micronesia                                        | Palikir                                  | 6647          |     |        |
|  98 | Moldova                                           | Chişinău                                 | 779300        |     |        |
|  99 | Monaco                                            | Monaco                                   |               |     |        |
| 100 | Mongolia                                          | Ulaanbaatar                              | 1466125       |     |        |
| 101 | Montenegro                                        | Podgorica                                | 190488        |     |        |
| 102 | Montserrat (UK)                                   | Brades (de facto) - Plymouth (de jure)   | 449 - 0       |     | 2011   |
| 103 | Morocco                                           | Rabat                                    | 577827        |     |        |
| 104 | Mozambique                                        | Maputo                                   | 1124988       |     |        |
| 105 | Myanmar                                           | Naypyidaw                                | 1160242       |     |        |
| 106 | Namibia                                           | Windhoek                                 | 431000        |     |        |
| 107 | Nauru                                             | Yaren (de facto)                         | 747           |     |        |
| 108 | Nepal                                             | Kathmandu                                | 845767        |     |        |
| 109 | Netherlands                                       | Amsterdam                                | 905234        |     |        |
| 110 | New Caledonia (France)                            | Nouméa                                   | 94285         |     |        |
| 111 | New Zealand                                       | Wellington                               | 217000        |     |        |
| 112 | Nicaragua                                         | Managua                                  | 1055247       |     |        |
| 113 | Niger                                             | Niamey                                   | 1334984       |     |        |
| 114 | Nigeria                                           | Abuja                                    | 1235880       |     |        |
| 115 | Niue (NZ)                                         | Alofi                                    | 597           |     |        |
| 116 | Norfolk Island (Australia)                        | Kingston                                 | 341           |     | 2015   |
| 117 | North Korea                                       | Pyongyang                                | 2870000       |     |        |
| 118 | North Macedonia                                   | Skopje                                   | 544086        |     |        |
| 119 | Northern Mariana Islands (USA)                    | Saipan                                   | 47565         |     |        |
| 120 | Norway                                            | Oslo                                     | 697010        |     |        |
| 121 | Oman                                              | Muscat                                   | 1294101       |     |        |
| 122 | Pakistan                                          | Islamabad                                | 1014825       |     |        |
| 123 | Palau                                             | Ngerulmud                                | 271           |     |        |
| 124 | Palestine                                         | Ramallah (de facto)                      | 38998         |     |        |
| 125 | Panama                                            | Panama City                              | 880691        |     |        |
| 126 | Papua New Guinea                                  | Port Moresby                             | 364145        |     |        |
| 127 | Paraguay                                          | Asunción                                 | 521559        |     |        |
| 128 | Peru                                              | Lima                                     | 8852000       |     |        |
| 129 | Philippines                                       | Manila                                   | 1846513       |     |        |
| 130 | Pitcairn Islands (UK)                             | Adamstown                                |               |     |        |
| 131 | Poland                                            | Warsaw                                   | 1863056       |     |        |
| 132 | Portugal                                          | Lisbon                                   | 509614        |     |        |
| 133 | Puerto Rico (US)                                  | San Juan                                 | 342259        |     |        |
| 134 | Qatar                                             | Doha                                     | 1186023       |     |        |
| 135 | Republic of Artsakh                               | Stepanakert                              | 75000         |     |        |
| 136 | Romania                                           | Bucharest                                | 1716983       |     |        |
| 137 | Russia                                            | Moscow                                   | 12655050      |     |        |
| 138 | Rwanda                                            | Kigali                                   | 1132686       |     |        |
| 139 | Sahrawi Arab Democratic Republic                  | Laayoune (claimed) - Tifariti (de facto) | 217732 - 3000 |     |        |
| 140 | Saint Barthélemy (France)                         | Gustavia                                 | 2615          |     |        |
| 141 | Saint Helena (UK)                                 | Jamestown                                | 629           |     |        |
| 142 | Saint Kitts and Nevis                             | Basseterre                               | 14000         |     |        |
| 143 | Saint Lucia                                       | Castries                                 | 20000         |     |        |
| 144 | Saint Martin (France)                             | Marigot                                  | 3229          |     |        |
| 145 | Saint Pierre and Miquelon (France)                | Saint-Pierre                             | 5394          |     |        |
| 146 | Saint Vincent and the Grenadines                  | Kingstown                                | 12909         |     |        |

Columns: ['Country', 'Capital', 'Population', '%', 'Year']
Shape: (204, 5)
Processed national-capitals
==================================================
Processing CA Warn Report
17 tables extracted and processed with preceding context.
CA Warn Report - full_json = {'concatable_tables': [{'table_index': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]}, {'table_index': [15, 16]}], 'has_headers': [0, 15], 'headers_info': [{'table_index': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], 'headers': ['Notice Date', 'Effective', 'Received', 'Company', 'City', 'No. Of', 'Layoff/Closure'], 'is_header_guessed': False}, {'table_index': [15, 16], 'headers': ['Summary by Month', 'Notices', 'Employees Affected', 'Permanent Layoff', 'Temporary Layoff', 'Not Identified Layoff', 'Permanent Closure', 'Temporary Closure', 'Not Identified Closure'], 'is_header_guessed': False}], 'input_tokens': CountTokensResponse(total_tokens=5447, cached_content_token_count=None), 'output_tokens': CountTokensResponse(total_tokens=399, cached_content_token_count=None)}

--- Concatenated DataFrame Group 1 ---

|     | Notice Date   | Effective   | Received   | Company                                               | City              |   No. Of | Layoff/Closure               |
|----:|:--------------|:------------|:-----------|:------------------------------------------------------|:------------------|---------:|:-----------------------------|
|   0 |               | 03/25/20    | 07/01/20   | Maxim Integrated Product                              | San Jose          |      150 | Closure Permanent            |
|   1 |               | 08/29/20    | 07/01/20   | McGraw-Hill Education                                 | Monterey          |      137 | Layoff Unknown at this time  |
|   2 |               | 08/30/20    | 07/01/20   | Long Beach Memorial Medical Center                    | Long Beach        |       90 | Layoff Permanent             |
|   3 |               | 09/02/20    | 07/01/20   | Leidos                                                | El Segundo        |       72 | Layoff Permanent             |
|   4 |               | 09/30/20    | 07/01/20   | Bosch Healthcare Systems, Inc.                        | Palo Alto         |       55 | Closure Permanent            |
|   5 |               | 09/01/20    | 07/02/20   | Encompass Digital Media, Inc.                         | Los Angeles       |       41 | Closure Permanent            |
|   6 |               | 07/06/20    | 07/02/20   | Alphatec Spine                                        | Carlsbad          |       99 | Layoff Permanent             |
|   7 |               | 08/07/20    | 07/06/20   | Symantec Corporation                                  | Mountain View     |       60 | Layoff Permanent             |
|   8 |               | 08/31/20    | 07/06/20   | Fusion Contacts Centers, LLC                          | Santa Maria       |       50 | Closure Permanent            |
|   9 |               | 09/15/20    | 07/06/20   | KLA-Tencor Corporation                                | Milpitas          |      213 | Layoff Permanent             |
|  10 |               | 09/04/20    | 07/06/20   | Southern California Edison Company                    | San Clemente      |      100 | Closure Permanent            |
|  11 |               | 09/01/20    | 07/06/20   | State Fish Company, Inc.                              | Wilmington        |       76 | Closure Permanent            |
|  12 |               | 09/04/20    | 07/06/20   | Boeing Company                                        | Long Beach        |       56 | Layoff Unknown at this time  |
|  13 |               | 09/04/20    | 07/06/20   | Bridgepoint Education, Inc.                           | San Diego         |        7 | Layoff Permanent             |
|  14 |               | 09/04/20    | 07/06/20   | Bridgepoint Education, Inc.                           | San Diego         |       15 | Layoff Permanent             |
|  15 |               | 06/29/20    | 07/07/20   | BAE Systems                                           | San Francisco     |        4 | Layoff Temporary             |
|  16 |               | 06/29/20    | 07/07/20   | BAE Systems                                           | San Francisco     |       78 | Layoff Temporary             |
|  17 |               | 09/07/20    | 07/07/20   | Bay Bread LLC dba Bakery Los Angeles                  | San Fernando      |       50 | Closure Permanent            |
|  18 |               | 09/25/20    | 07/07/20   | Bay Bread LLC dba New French Bakery                   | South San         |      121 | Closure Permanent            |
|  19 |               | 06/12/20    | 07/07/20   | Hewlett-Packard Company                               | Palo Alto         |       65 | Layoff Permanent             |
|  20 |               | 09/06/20    | 07/08/20   | Microsoft Corporation                                 | San Diego         |      129 | Layoff Permanent             |
|  21 |               | 10/09/20    | 07/10/20   | Aramark Healthcare Support Services,                  | Culver City       |       53 | Closure Permanent            |
|  22 |               | 09/10/20    | 07/10/20   | Maxim Integrated Product                              | San Jose          |       20 | Layoff Permanent             |
|  23 |               | 09/04/20    | 07/10/20   | ProCourier, Inc.                                      | San Diego         |       22 | Layoff Unknown at this time  |
|  24 |               | 09/04/20    | 07/10/20   | ProCourier, Inc.                                      | Los Angeles       |       71 | Layoff Unknown at this time  |
|  25 |               | 09/04/20    | 07/10/20   | ProCourier, Inc.                                      | Irvine            |       22 | Layoff Unknown at this time  |
|  26 |               | 07/22/20    | 07/10/20   | Berkeley Pyramid Alehouse                             | Berkeley          |       63 | Closure Permanent            |
|  27 |               | 09/14/20    | 07/10/20   | Fireman's Fund Insurance Company                      | Novato            |       35 | Layoff Permanent             |
|  28 |               | 08/31/20    | 07/13/20   | First Transit                                         | San Bernardino    |      127 | Layoff Permanent             |
|  29 |               | 08/31/20    | 07/13/20   | First Transit                                         | Rancho            |       71 | Layoff Permanent             |
|  30 |               | 07/14/20    | 07/13/20   | 11 Main LLC                                           | San Mateo         |       35 | Closure Permanent            |
|  31 |               | 07/14/20    | 07/13/20   | 11 Main LLC                                           | Chico             |       44 | Layoff Permanent             |
|  32 |               | 07/15/20    | 07/15/20   | TaylorMade Golf Company                               | Carlsbad          |       64 | Layoff Permanent             |
|  33 |               | 09/06/20    | 07/16/20   | Southern California Edison Company                    | Rosemead          |       38 | Layoff Permanent             |
|  34 |               | 09/18/20    | 07/20/20   | Actavis, Inc.                                         | Corona            |       45 | Layoff Permanent             |
|  35 |               | 07/13/20    | 07/21/20   | American Management Services LLC                      | Monterey          |       56 | Closure Permanent            |
|  36 |               | 09/18/20    | 07/21/20   | Boeing Company                                        | Long Beach        |      113 | Layoff Unknown at this time  |
|  37 |               | 09/18/20    | 07/21/20   | Boeing Company                                        | El Segundo        |       66 | Layoff Unknown at this time  |
|  38 |               | 09/25/20    | 07/21/20   | Maxim Integrated Product                              | San Jose          |       11 | Layoff Permanent             |
|  39 |               | 09/26/20    | 07/21/20   | DS Services of America, Inc.                          | Los Angeles       |      120 | Closure Permanent            |
|  40 |               | 09/26/20    | 07/21/20   | DS Services of America, Inc.                          | Pasadena          |      200 | Closure Permanent            |
|  41 |               | 09/18/20    | 07/21/20   | Minno, Inc.                                           | San Francisco     |      255 | Closure Permanent            |
|  42 |               | 09/18/20    | 07/21/20   | Safeway, Inc.                                         | Pleasanton        |       14 | Layoff Unknown at this time  |
|  43 |               | 09/15/20    | 07/22/20   | Oakley, Inc.                                          | Foothill Ranch    |      137 | Layoff Unknown at this time  |
|  44 |               | 09/15/20    | 07/22/20   | Oakley, Inc.                                          | Lake Forest       |       22 | Layoff Unknown at this time  |
|  45 |               | 09/15/20    | 07/22/20   | Oakley, Inc.                                          | Encinitas         |        8 | Layoff Unknown at this time  |
|  46 |               | 12/31/20    | 07/22/20   | Toyota Motor North America                            | Gardena           |      100 | Closure Permanent            |
|  47 |               | 12/31/20    | 07/22/20   | Toyota Motor North America                            | Torrance          |     3000 | Closure Permanent            |
|  48 |               | 07/22/20    | 07/22/20   | Cisco Systems, Inc.                                   | San Jose          |      192 | Layoff Permanent             |
|  49 |               | 09/30/20    | 07/23/20   | IAP Worldwide Services, Inc.                          | Mountain View     |       67 | Layoff Permanent             |
|  50 |               | 09/15/20    | 07/23/20   | Presse LLC dba Cafe de la Presse and                  | San Francisco     |       85 | Closure Temporary            |
|  51 |               | 10/04/20    | 07/24/20   | Sears Holdings Corporation                            | Cupertino         |       81 | Closure Permanent            |
|  52 |               | 10/04/20    | 07/24/20   | Sears Holdings Corporation                            | Cupertino         |       17 | Closure Permanent            |
|  53 |               | 09/14/20    | 07/24/20   | Associate Management Resources, Inc.                  | San Diego         |      533 | Closure Permanent            |
|  54 |               | 10/11/20    | 07/27/20   | Kmart                                                 | Atwater           |       74 | Closure Permanent            |
|  55 |               | 09/25/20    | 07/27/20   | Safeway, Inc.                                         | Pleasanton        |       37 | Layoff Unknown at this time  |
|  56 |               | 09/30/20    | 07/29/20   | Hank Fisher Properties, Inc. - Chateau at  Carmichael |                   |       57 | Layoff Permanent             |
|  57 |               | 09/30/20    | 07/29/20   | Hank Fisher Properties, Inc. - Chateau                | Sacramento        |       42 | Layoff Permanent             |
|  58 |               | 09/30/20    | 07/29/20   | Hank Fisher Properties, Inc. - River's                | Sacramento        |       34 | Layoff Permanent             |
|  59 |               | 09/30/20    | 07/29/20   | Hank Fisher Properties, Inc. - The                    | Sacramento        |       89 | Layoff Permanent             |
|  60 |               | 10/15/20    | 07/29/20   | Hank Fisher Properties, Inc.                          | Sacramento        |        7 | Layoff Permanent             |
|  61 |               | 12/31/20    | 07/29/20   | Hank Fisher Properties, Inc. - Leisure                | Sacramento        |       13 | Layoff Permanent             |
|  62 |               | 09/30/20    | 07/29/20   | SPS Distribution Center                               | Paso Robles       |        8 | Closure Permanent            |
|  63 |               | 07/31/20    | 07/30/20   | Turf Terminators, LLC                                 | Los Angeles       |       94 | Layoff Permanent             |
|  64 |               | 07/28/20    | 07/30/20   | Relativity Media                                      | Beverly Hills     |       33 | Layoff Permanent             |
|  65 |               | 07/28/20    | 07/30/20   | Relativity Media                                      | Beverly Hills     |       28 | Layoff Permanent             |
|  66 |               | 09/28/20    | 07/30/20   | Buca Restaurants 2, Inc.(CANCELLED)** Santa Monica    |                   |       61 | Closure Permanent            |
|  67 |               | 09/30/20    | 07/30/20   | United Technologies Corporation                       | San Diego         |       21 | Closure Permanent            |
|  68 |               | 09/26/20    | 07/31/20   | Kixeye, Inc.                                          | San Francisco     |       62 | Layoff Permanent             |
|  69 |               | 10/02/20    | 07/31/20   | Boston Scientific Corporation                         | Fremont           |      284 | Closure Permanent            |
|  70 |               | 10/02/20    | 07/31/20   | Boston Scientific Corporation                         | San Jose          |      171 | Closure Permanent            |
|  71 |               | 09/30/20    | 08/03/20   | Ruan Transportation Corporation                       | Ripon             |       78 | Closure Permanent            |
|  72 |               | 09/30/20    | 08/03/20   | Armstrong Growers                                     | San Juan          |       56 | Closure Permanent            |
|  73 |               | 09/28/20    | 08/03/20   | CR Briggs Corporation                                 | Trona             |        5 | Layoff Permanent             |
|  74 |               | 08/03/20    | 08/03/20   | Molycorp Minerals LLC                                 | Mountain Pass     |      474 | Layoff Permanent             |
|  75 |               | 09/30/20    | 08/03/20   | Binder & Binder                                       | Orange            |       70 | Closure Permanent            |
|  76 |               | 09/30/20    | 08/03/20   | Driscoll's Strawberry Associates, Inc.                | Salinas           |       38 | Closure Permanent            |
|  77 |               | 10/23/20    | 08/04/20   | Hilton San Francisco Union Square                     | San Francisco     |       78 | Layoff Permanent             |
|  78 |               | 07/30/20    | 08/05/20   | Abbott Vascular                                       | Temecula          |      133 | Layoff Permanent             |
|  79 |               | 07/30/20    | 08/05/20   | Abbott Vascular                                       | Temecula          |        3 | Layoff Permanent             |
|  80 |               | 07/30/20    | 08/05/20   | Abbott Vascular                                       | Temecula          |       27 | Layoff Permanent             |
|  81 |               | 07/30/20    | 08/05/20   | Abbott Vascular                                       | Santa Clara       |       81 | Layoff Permanent             |
|  82 |               | 09/11/20    | 08/07/20   | Anna's Linens, Inc.                                   | Costa Mesa        |       29 | Closure Permanent            |
|  83 |               | 10/02/20    | 08/10/20   | Boeing Company                                        | Long Beach        |        8 | Layoff Unknown at this time  |
|  84 |               | 10/09/20    | 08/10/20   | Safeway, Inc.                                         | Pleasanton        |       37 | Layoff Unknown at this time  |
|  85 |               | 10/05/20    | 08/11/20   | CGR/Thompson Industries, Inc.                         | Fullerton         |      102 | Closure Permanent            |
|  86 |               | 10/15/20    | 08/12/20   | BI NUTRACEUTICALS, INC.                               | Long Beach        |       54 | Layoff Permanent             |
|  87 |               | 09/30/20    | 08/13/20   | Lyris, Inc.                                           | Emeryville        |       72 | Layoff Permanent             |
|  88 |               | 09/30/20    | 08/13/20   | Lyris, Inc.                                           | Santa Clara       |        7 | Layoff Permanent             |
|  89 |               | 10/09/20    | 08/13/20   | Ralphs Grocery Company                                | Pico Rivera       |       67 | Layoff Permanent             |
|  90 |               | 10/12/20    | 08/13/20   | Chevron                                               | San Ramon         |      430 | Layoff Permanent             |
|  91 |               | 10/12/20    | 08/13/20   | Chevron                                               | Richmond          |       70 | Layoff Permanent             |
|  92 |               | 10/16/20    | 08/13/20   | Quest Diagnostics Incorporated                        | San Jose          |       78 | Layoff Permanent             |
|  93 |               | 10/23/20    | 08/13/20   | Motorola Mobility LLC                                 | Sunnyvale         |      213 | Layoff Permanent             |
|  94 |               | 10/14/20    | 08/14/20   | Raytheon Intelligence, Information &                  | Chula Vista       |       41 | Closure Unknown at this time |
|  95 |               | 10/13/20    | 08/17/20   | Haggen, Inc. (Store #2154)                            | Newbury Park      |       38 | Closure Permanent            |
|  96 |               | 10/13/20    | 08/17/20   | Haggen, Inc. (Store #2157)                            | Simi Valley       |       48 | Closure Permanent            |
|  97 |               | 10/13/20    | 08/17/20   | Haggen, Inc. (Store #2199)                            | Simi Valley       |       53 | Closure Permanent            |
|  98 |               | 10/13/20    | 08/17/20   | Haggen, Inc. (Store #2201)                            | Irvine            |       47 | Closure Permanent            |
|  99 |               | 10/13/20    | 08/17/20   | Haggen, Inc. (Store #2203)                            | Mission Viejo     |       41 | Closure Permanent            |
| 100 |               | 10/13/20    | 08/17/20   | Haggen, Inc. (Store #2213)                            | Santa Clarita     |       33 | Closure Permanent            |
| 101 |               | 10/13/20    | 08/17/20   | Haggen, Inc. (Store #2215)                            | Tustin            |       33 | Closure Permanent            |
| 102 |               | 10/13/20    | 08/17/20   | Haggen, Inc. (Store #2216)                            | Tustin            |       36 | Closure Permanent            |
| 103 |               | 10/16/20    | 08/18/20   | Sky Aerospace Products                                | Los Angeles       |       53 | Closure Permanent            |
| 104 |               | 10/16/20    | 08/18/20   | Ralphs Grocery Company                                | Hermosa Beach     |       74 | Layoff Permanent             |
| 105 |               | 10/13/20    | 08/18/20   | Haggen, Inc. (Store #2183)                            | El Cajon          |       49 | Closure Permanent            |
| 106 |               | 10/13/20    | 08/18/20   | Haggen, Inc. (Store #2185)                            | La Mesa           |       37 | Closure Permanent            |
| 107 |               | 10/13/20    | 08/18/20   | Haggen, Inc. (Store #2191)                            | San Marcos        |       36 | Closure Permanent            |
| 108 |               | 10/13/20    | 08/18/20   | Haggen, Inc. (Store #2193)                            | Chula Vista       |       37 | Closure Permanent            |
| 109 |               | 10/13/20    | 08/18/20   | Haggen, Inc. (Store #2194)                            | Chula Vista       |       31 | Closure Permanent            |
| 110 |               | 10/13/20    | 08/18/20   | Haggen, Inc. (Store #2207)                            | San Ysidro        |       41 | Closure Permanent            |
| 111 |               | 10/13/20    | 08/18/20   | Haggen, Inc. (Store #2208)                            | Bakersfield       |       36 | Closure Permanent            |
| 112 |               | 10/13/20    | 08/18/20   | Haggen, Inc. (Store #2210)                            | Los Osos          |       24 | Closure Permanent            |
| 113 |               | 10/25/20    | 08/18/20   | Ralphs Grocery Company                                | Santa Ana         |       75 | Layoff Permanent             |
| 114 |               | 10/27/20    | 08/18/20   | USS-POSCO Industries                                  | Pittsburg         |      661 | Layoff Temporary             |
| 115 |               | 10/30/20    | 08/19/20   | Zimmer Biomet Dental (Aston)                          | Carlsbad          |       97 | Closure Permanent            |

Columns: ['Notice Date', 'Effective', 'Received', 'Company', 'City', 'No. Of', 'Layoff/Closure']
Shape: (619, 7)

--- Concatenated DataFrame Group 2 ---

|    | Summary by Month   |   Notices | Employees Affected   |   Permanent Layoff |   Temporary Layoff |   Not Identified Layoff |   Permanent Closure |   Temporary Closure |   Not Identified Closure |
|---:|:-------------------|----------:|:---------------------|-------------------:|-------------------:|------------------------:|--------------------:|--------------------:|-------------------------:|
|  0 | July 2015          |        71 | 8,574                |                 30 |                  2 |                      13 |                  25 |                   1 |                        0 |
|  1 | August 2015        |        69 | 5,890                |                 28 |                  2 |                       7 |                  31 |                   0 |                        1 |
|  2 | October 2015       |        71 | 6,102                |                 38 |                  1 |                       8 |                  19 |                   2 |                        3 |
|  3 | November 2015      |        41 | 2,940                |                 13 |                  0 |                      13 |                  10 |                   3 |                        2 |
|  4 | December 2015      |        69 | 8,729                |                 21 |                  2 |                       7 |                  35 |                   2 |                        2 |
|  5 | January 2016       |        85 | 6,617                |                 28 |                  0 |                       7 |                  47 |                   0 |                        3 |
|  6 | February 2016      |        92 | 6,899                |                 52 |                  2 |                      12 |                  24 |                   1 |                        1 |
|  7 | March 2016         |        58 | 2,839                |                 38 |                  0 |                       5 |                  14 |                   1 |                        0 |
|  8 | Total              |       632 | 53,454               |                295 |                 11 |                      90 |                 212 |                  12 |                       12 |

Columns: ['Summary by Month', 'Notices', 'Employees Affected', 'Permanent Layoff', 'Temporary Layoff', 'Not Identified Layoff', 'Permanent Closure', 'Temporary Closure', 'Not Identified Closure']
Shape: (9, 9)
Processed CA Warn Report
==================================================
Processing 659dfd3e5c22a64d7597cb50c6fc455e
6 tables extracted and processed with preceding context.
659dfd3e5c22a64d7597cb50c6fc455e - full_json = {'concatable_tables': [{'table_index': [0, 1, 2]}], 'has_headers': [0, 3, 5], 'headers_info': [{'table_index': [0], 'headers': ['Year', 'Title', 'Role', 'Director', 'Notes'], 'is_header_guessed': False}, {'table_index': [1, 2], 'headers': ['Year', 'Title', 'Role', 'Director', 'Notes'], 'is_header_guessed': True}, {'table_index': [3], 'headers': ['Year', 'Title', 'Role', 'Notes'], 'is_header_guessed': False}, {'table_index': [4], 'headers': ['Year', 'Title', 'Voice role'], 'is_header_guessed': True}, {'table_index': [5], 'headers': ['Year', 'Award', 'Category', 'Title of work', 'Result', 'Ref.'], 'is_header_guessed': False}], 'input_tokens': CountTokensResponse(total_tokens=1776, cached_content_token_count=None), 'output_tokens': CountTokensResponse(total_tokens=394, cached_content_token_count=None)}

--- Concatenated DataFrame Group 1 ---

|    | Year   | Title                                         | Role                    | Director                     | Notes                                                                          |
|---:|:-------|:----------------------------------------------|:------------------------|:-----------------------------|:-------------------------------------------------------------------------------|
|  0 | 2000   | A Man Is Mostly Water                         | Augie                   | Fred Parnes                  |                                                                                |
|  1 | 2001   | Delivering Milo                               | Milo                    | Nick Castle                  |                                                                                |
|  2 | 2001   | 15 Minutes                                    | Boy in Burning Building | John Herzfeld                |                                                                                |
|  3 | 2001   | Along Came a Spider                           | Dimitri Starodubov      | Lee Tamahori                 |                                                                                |
|  4 | 2001   | Hearts in Atlantis                            | Bobby Garfield          | Scott Hicks                  |                                                                                |
|  5 | 2002   | A Time for Dancing                            | Jackson                 | Peter Gilbert                |                                                                                |
|  6 | 2004   | House of D                                    | Tommy Warshaw           | David Duchovny               |                                                                                |
|  7 | 2005   | Fierce People                                 | Finn Earl               | Griffin Dunne                |                                                                                |
|  8 | 2006   | Alpha Dog                                     | Zack Mazursky           | Nick Cassavetes              |                                                                                |
|  9 | 2007   | Charlie Bartlett                              | Charlie Bartlett        | Jon Poll                     |                                                                                |
| 10 | 2008   | New York, I Love You                          | Boy in the Park         | Brett Ratner                 | Segment: "Brett Ratner"                                                        |
| 11 | 2008   | Middle of Nowhere                             | Dorian Spitz            | John Stockwell               |                                                                                |
| 12 | 2009   | Star Trek                                     | Pavel Chekov            | J. J. Abrams                 |                                                                                |
| 13 | 2009   | Terminator Salvation                          | Kyle Reese              | McG                          | Also plays physical embodiment of Skynet (uncredited) in a Kyle Reese disguise |
| 14 | 2010   | Memoirs of a Teenage Amnesiac                 | Ace Zuckerman           | Hans Canosa                  |                                                                                |
| 15 | 2011   | Like Crazy                                    | Jacob Helm              | Drake Doremus                |                                                                                |
| 16 | 2011   | You and I                                     | Edvard Nikitin          | Roland Joffé                 |                                                                                |
| 17 | 2011   | The Beaver                                    | Porter Black            | Jodie Foster                 |                                                                                |
| 18 | 2011   | From Up on Poppy Hill                         | Shun Kazama             | Gorō Miyazaki                | Voice (English dub)                                                            |
| 19 | 2011   | The Smurfs                                    | Clumsy Smurf            | Raja Gosnell                 | Voice                                                                          |
| 20 | 2011   | The Smurfs: A Christmas Carol                 | Clumsy Smurf            | Troy Quane                   | Short film; voice                                                              |
| 21 | 2011   | Fright Night                                  | Charley Brewster        | Craig Gillespie              |                                                                                |
| 22 | 2012   | The Pirates! Band of Misfits                  | Albino pirate           | Peter Lord                   | Voice (American dub)                                                           |
| 23 | 2013   | Odd Thomas                                    | Odd Thomas              | Stephen Sommers              |                                                                                |
| 24 | 2013   | Star Trek Into Darkness                       | Pavel Chekov            | J. J. Abrams                 |                                                                                |
| 25 | 2013   | Only Lovers Left Alive                        | Ian                     | Jim Jarmusch                 |                                                                                |
| 26 |        | The Smurfs 2                                  | Clumsy Smurf            | Raja Gosnell                 | Voice                                                                          |
| 27 |        | Fool                                          | Oliver                  | Jacob Gentry                 | Short film [59]                                                                |
| 28 |        | After the Disco Part Two: Holding On for Life | Oliver                  | Jacob Gentry                 | Short film [59]                                                                |
| 29 | 2014   | The Apprentice                                | Wayne                   | Steve Baker and Damon Escott | Short film; deleted  Movie 43 segment                                          |
| 30 | 2014   | Rudderless                                    | Quentin                 | William H. Macy              |                                                                                |
| 31 | 2014   | 5 to 7                                        | Brian Bloom             | Victor Levin                 |                                                                                |
| 32 | 2014   | Cymbeline                                     | Cloten                  | Michael Almereyda            |                                                                                |
| 33 | 2014   | Burying the Ex                                | Max                     | Joe Dante                    |                                                                                |
| 34 | 2014   | Dying of the Light                            | Milton Schultz          | Paul Schrader                |                                                                                |
| 35 | 2015   | Experimenter                                  | Rensaleer               | Michael Almereyda            |                                                                                |
| 36 | 2015   | Broken Horses                                 | Jacob Heckum            | Vidhu Vinod Chopra           |                                                                                |
| 37 | 2015   | The Driftless Area                            | Pierre                  | Zachary Sluser               |                                                                                |
| 38 | 2015   | Green Room                                    | Pat                     | Jeremy Saulnier              |                                                                                |
| 39 | 2015   | Court of Conscience                           | Father James            | James Haven                  | Short film [60][61]                                                            |
| 40 | 2015   | Unity                                         | Narrator                | Shaun Monson                 | Documentary [62]                                                               |
| 41 | 2016   | Star Trek Beyond                              | Pavel Chekov            | Justin Lin                   | Posthumous release; Dedicated to                                               |
| 42 | 2016   | Porto                                         | Jake Kleeman            | Gabe Klinger                 | Posthumous release; Dedicated to                                               |
| 43 | 2017   | Thoroughbreds                                 | Tim                     | Cory Finley                  | Posthumous release; Dedicated to                                               |
| 44 | 2017   | Rememory                                      | Todd                    | Mark Palansky                | Posthumous release; Dedicated to                                               |
| 45 | 2017   | We Don't Belong Here                          | Maxwell Green           | Peer Pedersen                | Posthumous release; Dedicated to                                               |
| 46 | 2019   | Love, Antosha                                 | Himself                 | Garret Price                 | Archive footage; documentary about Yelchin's life                              |

Columns: ['Year', 'Title', 'Role', 'Director', 'Notes']
Shape: (47, 5)

--- Concatenated DataFrame Group 2 ---

|    | Year       | Title                          | Role                   | Notes                                                         |
|---:|:-----------|:-------------------------------|:-----------------------|:--------------------------------------------------------------|
|  0 | 2000       | ER                             | Robbie Edelstein       | Episode: "Be Still My Heart"                                  |
|  1 | 2000       | Geppetto                       | Fighting Kid at School | Television film                                               |
|  2 | 2002       | Judging Amy                    | Davis Bishop           | Episode: "The Justice League of America"                      |
|  3 | 2002       | Taken                          | Jacob Clarke - Child   | 2 episodes                                                    |
|  4 | 2002       | The Practice                   | Justin Langer          | 2 episodes                                                    |
|  5 | 2003       | Without a Trace                | Johnny Atkins          | Episode: "The Bus"                                            |
|  6 | 2004       | Curb Your Enthusiasm           | Stewart                | Episode: "The Blind Date"                                     |
|  7 | 2004       | NYPD Blue                      | Evan Grabber           | Episode: "Take My Wife, Please"                               |
|  8 | 2004       | Jack                           | Jack                   | Television film                                               |
|  9 | 2004- 2006 | Huff                           | Byrd Huffstodt         | Main role                                                     |
| 10 | 2006       | Law & Order: Criminal Intent   | Keith Tyler            | Episode: "Tru Love"                                           |
| 11 | 2006       | Criminal Minds                 | Nathan Harris          | Episode: "Sex, Birth, Death"                                  |
| 12 | 2011       | The Life & Times of Tim        | Trent                  | Voice role; episode: "The Caddy's Shack/The Sausage Salesman" |
| 13 | 2015- 2016 | SuperMansion                   | Dudley                 | Voice role; 2 episodes                                        |
| 14 | 2016- 2018 | Trollhunters: Tales of Arcadia | Jim Lake Jr            | Voice role; 41 episodes; posthumous release dedicated to him  |

Columns: ['Year', 'Title', 'Role', 'Notes']
Shape: (15, 4)

--- Concatenated DataFrame Group 3 ---

|    | Year   | Title        | Voice role   |
|---:|:-------|:-------------|:-------------|
|  0 | Year   | Title        | Voice role   |
|  1 | 2013   | Star Trek    | Pavel Chekov |
|  2 | 2013   | The Smurfs 2 | Clumsy Smurf |

Columns: ['Year', 'Title', 'Voice role']
Shape: (3, 3)

--- Concatenated DataFrame Group 4 ---

|    |   Year | Award                                              | Category                                                                        | Title of work      | Result    | Ref.   |
|---:|-------:|:---------------------------------------------------|:--------------------------------------------------------------------------------|:-------------------|:----------|:-------|
|  0 |   2002 | Phoenix Film Critics Award                         | Best Youth Performance                                                          | Hearts in Atlantis | Nominated |        |
|  1 |   2002 | Young Artist Award                                 | Best Performance in a Feature Film - Leading Young Actor                        | Hearts in Atlantis | Won       | [17]   |
|  2 |   2003 | Young Artist Award                                 | Best Performance in a TV Movie, Mini-Series or Special - Supporting Young Actor | Taken              | Nominated | [64]   |
|  3 |   2005 | Young Artist Award                                 | Best Performance in a TV Movie, Miniseries or Special - Leading Young Actor     | Jack               | Nominated | [65]   |
|  4 |   2009 | Boston Society of Film Critics Awards              | Best Ensemble Cast                                                              | Star Trek          | Won       | [66]   |
|  5 |   2009 | Washington DC Area Film Critics Association Awards | Best Ensemble                                                                   | Star Trek          | Nominated | [67]   |
|  6 |   2010 | Broadcast Film Critics Association Awards          | Best Acting Ensemble                                                            | Star Trek          | Nominated | [68]   |

Columns: ['Year', 'Award', 'Category', 'Title of work', 'Result', 'Ref.']
Shape: (7, 6)
Processed 659dfd3e5c22a64d7597cb50c6fc455e
==================================================
Processing 0e6af4a364ff3fe835bd4e332a2fb9cf
4 tables extracted and processed with preceding context.
0e6af4a364ff3fe835bd4e332a2fb9cf - full_json = {'concatable_tables': [{'table_index': [1, 2, 3]}], 'has_headers': [1], 'headers_info': [{'table_index': [1, 2, 3], 'headers': ['Player', 'Votes', 'Percent', 'Change', 'Year'], 'is_header_guessed': False}], 'input_tokens': CountTokensResponse(total_tokens=1355, cached_content_token_count=None), 'output_tokens': CountTokensResponse(total_tokens=141, cached_content_token_count=None)}
Info: No 'headers_info' found for independent table at index 0. Adding table as is.

--- Concatenated DataFrame Group 1 ---

|    | Player               | Votes     | Percent   | Change   | Year   |
|---:|:---------------------|:----------|:----------|:---------|:-------|
|  0 | Chipper Jones †      | 410       | 97.2%     | -        | 1st    |
|  1 | Vladimir Guerrero    | 392       | 92.9%     | 21.2%    | 2nd    |
|  2 | Jim Thome †          | 379       | 89.8%     | -        | 1st    |
|  3 | Trevor Hoffman       | 337       | 79.9%     | 5.9%     | 3rd    |
|  4 | Edgar Martínez       | 297       | 70.4%     | 11.8%    | 9th    |
|  5 | Mike Mussina         | 268       | 63.5%     | 11.7%    | 5th    |
|  6 | Roger Clemens        | 242       | 57.3%     | 3.2%     | 6th    |
|  7 | Barry Bonds          | 238       | 56.4%     | 2.6%     | 6th    |
|  8 | Curt Schilling       | 216       | 51.2%     | 6.2%     | 6th    |
|  9 | Omar Vizquel†        | 156       | 37.0%     | -        | 1st    |
| 10 | Larry Walker         | 144       | 34.1%     | 12.2%    | 8th    |
| 11 | Fred McGriff         | 98        | 23.2%     | 1.5%     | 9th    |
| 12 | Manny Ramírez        | 93        | 22.0%     | 1.8%     | 2nd    |
| 13 | Jeff Kent            | 61        | 14.5%     | 2.2%     | 5th    |
| 14 | Gary Sheffield       | 47        | 11.1%     | 2.2%     | 4th    |
| 15 | Scott Rolen †        | 43        | 10.2%     | -        | 1st    |
| 16 | Sammy Sosa           | 33        | 7.8%      | 0.8%     | 6th    |
| 17 | Andruw Jones†        | 31        | 7.3%      | -        | 1st    |
| 18 | Jamie Moyer†*        | 10        | 2.4%      | -        | 1st    |
| 19 | Johan Santana†*      | 10        | 2.4%      | -        | 1st    |
| 20 | Johnny Damon†*       | 8         | 1.9%      | -        | 1st    |
| 21 | Hideki Matsui†*      | 4         | 0.9%      | -        | 1st    |
| 22 | Chris Carpenter†*    | 2         | 0.5%      | -        | 1st    |
| 23 | Kerry Wood†*         | 2         | 0.5%      | -        | 1st    |
| 24 | Liván Hernández†*    | 1         | 0.2%      | -        | 1st    |
| 25 | Carlos Lee†*         | 1         | 0.2%      | -        | 1st    |
| 26 | Orlando Hudson†*     | 0         | 0%        | -        | 1st    |
| 27 | Aubrey Huff†*        | 0         | 0%        | -        | 1st    |
| 28 | Jason Isringhausen†* | 0         | 0%        | -        | 1st    |
| 29 | Brad Lidge†*         | 0         | 0%        | -        | 1st    |
| 30 | Kevin Millwood†*     | 0         | 0%        | -        | 1st    |
| 31 | Carlos Zambrano†*    | 0         | 0%        | -        | 1st    |
| 32 | Jack Morris          | Player    | 14        | 87.5%    | [12]   |
| 33 | Alan Trammell        | Player    | 13        | 81.3%    | [12]   |
| 34 | Ted Simmons          | Player    | 11        | 68.8%    | [12]   |
| 35 | Marvin Miller        | Executive | 7         | 43.8%    | [12]   |
| 36 | Steve Garvey         | Player    | <7        | -        | [12]   |
| 37 | Tommy John           | Player    | <7        | -        | [12]   |
| 38 | Don Mattingly        | Player    | <7        | -        | [12]   |
| 39 | Dale Murphy          | Player    | <7        | -        | [12]   |
| 40 | Dave Parker          | Player    | <7        | -        | [12]   |
| 41 | Luis Tiant           | Player    | <7        | -        | [12]   |

Columns: ['Player', 'Votes', 'Percent', 'Change', 'Year']
Shape: (42, 5)

--- Concatenated DataFrame Group 2 ---

|    |    | ballots.                                                                                        |
|---:|:---|:------------------------------------------------------------------------------------------------|
|  0 |    | Eliminated from annual BBWAA consideration by poor performance or expiration on this ballot.    |
|  1 | †  | First time on the BBWAA ballot.                                                                 |
|  2 | *  | Eliminated from annual BBWAA consideration by poor performance on this ballot (not expiration). |

Columns: ['', 'ballots.']
Shape: (3, 2)
Processed 0e6af4a364ff3fe835bd4e332a2fb9cf
==================================================
Processing f8a04d6beeed137eeb7840a5c459842d
10 tables extracted and processed with preceding context.
f8a04d6beeed137eeb7840a5c459842d - full_json = {'concatable_tables': [{'table_index': [0, 1]}, {'table_index': [2, 3, 4]}, {'table_index': [5, 6, 7]}], 'has_headers': [0, 2, 5, 8], 'headers_info': [{'table_index': [0, 1], 'headers': ['Year', 'Title', 'Role', 'Notes'], 'is_header_guessed': False}, {'table_index': [2, 3, 4], 'headers': ['Year', 'Title', 'Role', 'Notes'], 'is_header_guessed': False}, {'table_index': [5, 6, 7], 'headers': ['Year', 'Title', 'Role', 'Playwright', 'Venue', 'Ref.'], 'is_header_guessed': False}, {'table_index': [8], 'headers': ['Year', 'Award', 'Category', 'Title', 'Result', 'Ref.'], 'is_header_guessed': False}, {'table_index': [9], 'headers': ['Awards for Alex Jennings.Authority control databases=[show].[hide]', 'ISNI · VIAF · WorldCat'], 'is_header_guessed': True}], 'input_tokens': CountTokensResponse(total_tokens=2342, cached_content_token_count=None), 'output_tokens': CountTokensResponse(total_tokens=475, cached_content_token_count=None)}

--- Concatenated DataFrame Group 1 ---

|    |   Year | Title                                        | Role              | Notes   |
|---:|-------:|:---------------------------------------------|:------------------|:--------|
|  0 |   1989 | War Requiem                                  | Blinded Soldier   |         |
|  1 |   1996 | A Midsummer Night's Dream                    | Theseus/Oberon    |         |
|  2 |   1997 | The Wings of the Dove                        | Lord Mark         |         |
|  3 |   1999 | Joseph and the Amazing Technicolor Dreamcoat | The Butler        |         |
|  4 |   2002 | The Four Feathers                            | Colonel Hamilton  |         |
|  5 |   2004 | Five Children and It                         | Father            |         |
|  6 |   2004 | Bridget Jones: The Edge of Reason            | Horatio           |         |
|  7 |   2006 | Babel                                        | Ken Clifford      |         |
|  8 |   2006 | The Queen                                    | Prince Charles    |         |
|  9 |   2008 | The Disappeared                              | Adrian Ballan     |         |
| 10 |   2010 | Words of the Blitz                           | George Orwell     |         |
| 11 |   2013 | Trap for Cinderella                          | Chance            |         |
| 12 |   2013 | Belle                                        | Lord Ashford      |         |
| 13 |   2014 | Castles in the Sky                           | Henry Tizard      |         |
| 14 |   2015 | The Lady in the Van                          | Alan Bennett      |         |
| 15 |   2021 | Munich - The Edge of War                     | Sir Horace Wilson |         |
| 16 |   2021 | Operation Mincemeat                          | John Masterman    |         |
| 17 |   2021 | The Forgiven                                 | Lord Swanthorne   |         |
| 18 |   2022 | Your Christmas or Mine?                      | Humphrey Hughes   |         |
| 19 |   2023 | Your Christmas or Mine 2                     | Humphrey Hughes   |         |
| 20 |   2024 | Blitz                                        | Victor Smythe     |         |

Columns: ['Year', 'Title', 'Role', 'Notes']
Shape: (21, 4)

--- Concatenated DataFrame Group 2 ---

|    | Year            | Title                                            | Role                           | Notes                                                |
|---:|:----------------|:-------------------------------------------------|:-------------------------------|:-----------------------------------------------------|
|  0 | 1982            | Smiley's People                                  | P.C. Hall                      | "Episode No. 1.1"                                    |
|  1 | 1986            | Kit Curran                                       | PC Woods                       | Episode: "A Sick Society"                            |
|  2 | 1988            | The Franchise Affair                             | Nevil Bennet                   | 6 episodes                                           |
|  3 | 1989            | The Return of Shelley                            | Jeremy                         | Episode: "The Gospel According to Shelley"           |
|  4 | 1990            | Inspector Morse                                  | Victor Preece                  | Episode: "The Sins of the Fathers"                   |
|  5 | 1990            | Alfonso Bonzo                                    | Alfonso Bonzo                  | 6 episodes                                           |
|  6 | 1991            | Ashenden                                         | John Ashenden                  | 4 episodes                                           |
|  7 | 1991            | Bye Bye Columbus                                 | King Ferdinand                 | Television movie                                     |
|  8 | 1992            | ScreenPlay                                       | Byron                          | Episode: "Dread Poets' Society"                      |
|  9 | 1993            | The Inspector Alleyn Mysteries                   | Sebastian Parish               | Episode: "Death at the Bar"                          |
| 10 | 1994            | Hard Times                                       | Bitzer                         | Episode: "Episode No. 1.1"                           |
| 11 | 1997            | Liberty! The American Revolution                 | King George III                | 6 episodes                                           |
| 12 | 1999            | The Hunley                                       | Lt. Alexander                  | Television movie                                     |
| 13 | 2000            | Too Much Sun                                     | Julian Edgbaston- Bowles       | 6 episodes                                           |
| 14 | 2001            | Bad Blood                                        | Joe Harker                     | Television movie                                     |
| 15 | 2002            | Great Britons                                    | Churchill                      | Voice; Episode: "Sir Winston Churchill"              |
| 16 | 2004            | London                                           | Stephen Spender                | Television movie                                     |
| 17 | 2005            | Riot at the Rite                                 | Sergei Diaghilev               | Television movie                                     |
| 18 | 2005            | Agatha Christie's Poirot                         | Dr Roberts                     | Episode: "Cards on the Table"                        |
| 19 | 2006            | Spooks                                           | James Allan                    | Episode: "Episode No. 5.4"                           |
| 20 | 2006            | The State Within                                 | James Sinclair                 | 6 episodes                                           |
| 21 | 2007            | Waking the Dead                                  | James Andrews                  | 2 episodes                                           |
| 22 | 2008            | 10 Days to War                                   | Vincent                        | Episode: "Failure Is Not an Option"                  |
| 23 | 2008            | Fairy Tales                                      | Roger Bateman                  | Episode: "Rapunzel"                                  |
| 24 | 2008            | Hancock & Joan                                   | John Le Mesurier               | Television movie                                     |
| 25 | 2008            | The 39 Steps                                     | Captain Kell                   | Television movie, BBC                                |
| 26 | 2009            | The Last Days of Lehman Brothers                 | Timothy Geithner               | Television movie                                     |
| 27 | 2009            | Agatha Christie's Marple                         | Inspector Curry                | Episode: "They Do It with Mirrors"                   |
| 28 | 2007-2009       | Cranford                                         | Reverend Hutton                | 7 episodes                                           |
| 29 | 2009-2010       | Whitechapel                                      | Commander Anderson             | 5 episodes                                           |
| 30 | 2010            | Masterpiece Classic                              | Captain Kell                   | Episode: "The 39 Steps"                              |
| 31 | 2010            | Grandpa in My Pocket                             | Captain Shipshape              | Episode: "Captain Shipshape and a Fish Called Bryan" |
| 32 | 2010            | On Expenses                                      | Andrew Walker                  | Television movie                                     |
| 33 | 2012            | Being Human                                      | Griffin                        | Episode: "Eve of the War"                            |
| 34 | 2012            | Lewis                                            | Rev Conor Hawes                | Episode: "The Soul of Genius"                        |
| 35 | 2012            | New Tricks                                       | Prof. Blake                    | Episode: "Body of Evidence"                          |
| 36 | 2011-2014       | Silk                                             | Alan Cowdrey, QC               | 13 episodes                                          |
| 37 | 2012            | We'll Take Manhattan                             | John Parsons                   | Television movie                                     |
| 38 | 2013            | The Lady Vanishes                                | The Professor                  | Television movie                                     |
| 39 | 2015            | Churchill's Secret                               | Anthony Eden                   | Television movie, PBS                                |
| 40 | 2015            | Foyle's War                                      | Clive Ord-Smith                | Episode: "Trespass"                                  |
| 41 | 2016-2019       | Victoria                                         | King Leopold I                 | 9 episodes                                           |
| 42 | 2016-2017, 2022 | The Crown                                        | Prince Edward, Duke of Windsor | Main role (Seasons 1-2); Guest role (Season 5)       |
| 43 | 2018            | A Very English Scandal                           | Peter Bessell                  | 3 episodes                                           |
| 44 | 2018            | Unforgotten                                      | Tim Finch                      | 6 episodes                                           |
| 45 | 2019            | Four Weddings and a Funeral                      | Andrew Aldridge                | Miniseries, Hulu                                     |
| 46 | 2019            | Gold Digger                                      | Ted Day                        | 6 episodes                                           |
| 47 | 2020            | Small Axe                                        | Judge Clarke                   | Episode: "Mangrove"                                  |
| 48 | 2022            | This Is Going to Hurt                            | Nigel Lockhart                 | 7 episodes [18]                                      |
| 49 | 2022            | The Undeclared War                               | David Neal                     | 5 episodes                                           |
| 50 | 2024            | Mr Bates vs The Post Office                      | James Arbuthnot                | 4 episodes                                           |
| 51 | 2024            | A Very Royal Scandal                             | Sir Edward Young               | 3 episodes                                           |
| 52 | 2024            | Wolf Hall: The Mirror and the Light              | Stephen Gardiner               |                                                      |
| 53 | 2025            | MobLand                                          | Archie Hammond                 |                                                      |
| 54 | 2025            | Suspect: The Shooting of Jean Charles de Menezes | Michael Mansfield              | 1 Episode                                            |

Columns: ['Year', 'Title', 'Role', 'Notes']
Shape: (55, 4)

--- Concatenated DataFrame Group 3 ---

|    | Year     | Title                             | Role                    | Playwright          | Venue                                                         | Ref.   |
|---:|:---------|:----------------------------------|:------------------------|:--------------------|:--------------------------------------------------------------|:-------|
|  0 | 1985     | The Scarlet Pimpernel             | Performer               | Baroness Orczy      | Her Majesty's Theatre                                         |        |
|  1 | 1987- 88 | Measure for Measure               | Lucio                   | William Shakespeare | Royal Shakespeare Company                                     |        |
|  2 | 1988     | Too Clever by Half                | Yegor Dimitrich Gloumov | Alexander Ostrovsky | Old Vic Theatre, London                                       |        |
|  3 | 1988     | The Country Wife                  | Performer               | William Wycherley   | Royal Exchange, Manchester                                    |        |
|  4 | 1989     | Ghetto                            | Kittel                  | Yehoshua Sobol      | National Theatre                                              |        |
|  5 | 1990     | The Wild Duck                     | Hjalmar Ekdal           | Henrik Ibsen        | Peter Hall Company                                            |        |
|  6 | 1990     | The Liars                         | Dorante                 | Henry Arthur Jones  | Old Vic Theatre, London                                       |        |
|  7 | 1990     | Richard II                        | Richard II              | William Shakespeare | Royal Shakespeare Company                                     |        |
|  8 | 1992     | The Recruiting Officer            | Captain Plume           | George Farquhar     | National Theatre                                              |        |
|  9 | 1994     | Peer Gynt                         | Peer Gynt               | Henrik Ibsen        | Royal Shakespeare Company                                     |        |
| 10 | 1994- 95 | Measure for Measure               | Angelo                  | William Shakespeare | Royal Shakespeare Company                                     |        |
| 11 | 1996     | A Midsummer Night's Dream         | Oberon/Theseus          | William Shakespeare | Lunt-Fontanne Theatre, Broadway                               | [19]   |
| 12 | 1996     | Hyde Park                         | Performer               | James Shirley       | Royal Shakespeare Company                                     |        |
| 13 | 1996     | The Taming of the Shrew           | Lucentio                | William Shakespeare | Royal Shakespeare Company                                     |        |
| 14 | 1997     | Hamlet                            | Hamlet                  | William Shakespeare | Royal Shakespeare Company                                     |        |
| 15 | 2000     | Albert Speer                      | Albert Speer            | David Edgar         | Lyttelton Theatre, London                                     |        |
| 16 | 2001     | The Winter's Tale                 | Performer               | William Shakespeare | Royal National Theatre                                        |        |
| 17 | 2001     | The Relapse                       | Foppington              | John Vanbrugh       | Royal National Theatre                                        |        |
| 18 | 2001     | My Fair Lady                      | Prof. Henry Higgins     | George Bernard Shaw | Royal National Theatre                                        |        |
| 19 | 2007     | Present Laughter                  | Garry Essendine         | Noël Coward         | Royal National Theatre                                        |        |
| 20 | 2009     | The Habit of Art                  | Henry                   | Alan Bennett        | National Theatre of Great Britain Lyttelton Theatre in London |        |
| 21 | 2011     | Collaborators                     | Mikhail Bulgakov        | John Hodge          | National Theatre of Great Britain Cottesloe Theatre in London |        |
| 22 | 2012     | Hymn/Cocktail Sticks              | Performer               | Alan Bennett        | National Theatre of Great Britain Lyttelton Theatre in London |        |
| 23 | 2013     | Charlie and the Chocolate Factory | Willy Wonka             | Roald Dahl          | Theatre Royal Drury Lane, London                              |        |
| 24 | 2019     | Hansard                           | Robin Hesketh           | Simon Woods         | Royal National Theatre                                        | [20]   |
| 25 | 2019     | The Light in the Piazza           | Signor Naccarelli       | Elizabeth Spencer   | Royal Festival Hall, London Civic Opera House Chicago         |        |
| 26 | 2022     | The Southbury Child               | David Highland          | Stephen Beresford   | Chichester Festival Theatre Bridge Theatre, London            |        |

Columns: ['Year', 'Title', 'Role', 'Playwright', 'Venue', 'Ref.']
Shape: (27, 6)

--- Concatenated DataFrame Group 4 ---

|    |   Year | Award                             | Category                | Title              | Result    | Ref.   |
|---:|-------:|:----------------------------------|:------------------------|:-------------------|:----------|:-------|
|  0 |   1988 | Olivier Award                     | Best Comedy Performance | Too Clever by Half | Won       | [21]   |
|  1 |   1990 | Olivier Award                     | Best Comedy Performance | The Liar           | Nominated | [22]   |
|  2 |   1996 | Olivier Award                     | Best Actor              | Peer Gynt          | Won       | [23]   |
|  3 |   2003 | Olivier Award                     | Best Actor in a Musical | My Fair Lady       | Won       | [24]   |
|  4 |   2019 | British Academy Television Awards | Best Supporting Actor   | Unforgotten        | Nominated | [25]   |

Columns: ['Year', 'Award', 'Category', 'Title', 'Result', 'Ref.']
Shape: (5, 6)

--- Concatenated DataFrame Group 5 ---

|    | Awards for Alex Jennings.Authority control databases=[show].[hide]   | ISNI · VIAF · WorldCat   |
|---:|:---------------------------------------------------------------------|:-------------------------|
|  0 | Awards for Alex Jennings.Authority control databases                 | [show].[hide]            |
|  1 | ISNI  ·  VIAF  ·  WorldCat                                           |                          |

Columns: ['Awards for Alex Jennings.Authority control databases=[show].[hide]', 'ISNI · VIAF · WorldCat']
Shape: (2, 2)
Processed f8a04d6beeed137eeb7840a5c459842d
==================================================
Processing 78f480a26ad6a8c7c064e9d9fd5b2c4f
12 tables extracted and processed with preceding context.
78f480a26ad6a8c7c064e9d9fd5b2c4f - full_json = {'concatable_tables': [{'table_index': [1, 2, 3]}, {'table_index': [7, 8, 9, 10, 11]}], 'has_headers': [0, 1, 4, 6], 'headers_info': [{'table_index': [0], 'headers': ['Kentucky Derby "The Run for the Roses"', 'Preakness Stakes "The Run for the Black- Eyed Susans"', 'Belmont Stakes "The Test of the Champion"'], 'is_header_guessed': False}, {'table_index': [1, 2, 3], 'headers': ['Year', 'Winner', 'Jockey', 'Trainer', 'Owner', 'Breeder', 'Colors'], 'is_header_guessed': False}, {'table_index': [4], 'headers': ['Years', 'Sponsor', 'Bonuses'], 'is_header_guessed': False}, {'table_index': [5], 'headers': ['†', '*'], 'is_header_guessed': False}, {'table_index': [6, 7, 8, 9, 10, 11], 'headers': ['Year', 'Kentucky Derby', 'Preakness Stakes', 'Belmont Stakes'], 'is_header_guessed': False}], 'input_tokens': CountTokensResponse(total_tokens=2512, cached_content_token_count=None), 'output_tokens': CountTokensResponse(total_tokens=478, cached_content_token_count=None)}
Warning: Column count mismatch for independent table 0. Original has 4, target has 3. Adding table as is (original form).

--- Concatenated DataFrame Group 1 ---

|    | Year             | Winner                   | Jockey                | Trainer                                                                   | Owner            | Breeder   |   Colors |
|---:|:-----------------|:-------------------------|:----------------------|:--------------------------------------------------------------------------|:-----------------|:----------|---------:|
|  0 | Sir Barton       | Johnny Loftus            | H. Guy Bedwell        | J. K. L. Ross                                                             | John E. Madden   |           |     1919 |
|  1 | Omaha            | Willie "Smokey" Saunders | Jim Fitzsimmons       | Belair Stud                                                               | Belair Stud      |           |     1935 |
|  2 | 1937             | Charles Kurtsinger       | George Conway         | Samuel D. Riddle                                                          | Samuel D. Riddle |           |     1937 |
|  3 | Whirlaway        | Eddie Arcaro             | Ben A. Jones          | Calumet Farm                                                              | Calumet Farm     |           |     1941 |
|  4 | Count Fleet      | Johnny Longden           | Don Cameron           | Fannie Hertz                                                              | Fannie Hertz     |           |     1943 |
|  5 | Assault          | Warren Mehrtens          | Max Hirsch            | King Ranch                                                                | King Ranch       |           |     1946 |
|  6 | Secretariat      | Ron Turcotte             | Lucien Laurin         | Meadow Stable                                                             | Meadow Stable    |           |     1973 |
|  7 | 1977             | Jean Cruguet             | William H. Turner Jr. | Mickey and Karen L. Taylor, Tayhill Stable/Jim Hill, et al.               | Ben S. Castleman |           |     1977 |
|  8 | Affirmed         | Steve Cauthen            | Laz Barrera           | Harbor View Farm                                                          | Harbor View Farm |           |     1978 |
|  9 | American Pharoah | Victor Espinoza          | Bob Baffert           | Ahmed Zayat                                                               | Ahmed Zayat      |           |     2015 |
| 10 | Justify          | Mike Smith               | Bob Baffert           | China Horse Club; Head of Plains Partners; Starlight Racing; WinStar Farm | John D. Gunther  | and       |     2018 |

Columns: ['Year', 'Winner', 'Jockey', 'Trainer', 'Owner', 'Breeder', 'Colors']
Shape: (11, 7)

--- Concatenated DataFrame Group 2 ---

|     | Year                     | Kentucky Derby                  | Preakness Stakes                | Belmont Stakes     |
|----:|:-------------------------|:--------------------------------|:--------------------------------|:-------------------|
|   0 | 1869                     |                                 |                                 | Fenian             |
|   1 | 1870                     |                                 |                                 | Kingfisher         |
|   2 | 1871                     |                                 |                                 | Harry Bassett      |
|   3 | 1872                     |                                 |                                 | Joe Daniels        |
|   4 | 1873                     |                                 | Survivor                        | Springbok          |
|   5 | 1874                     |                                 | Culpepper                       | Saxon              |
|   6 | 1875                     | Aristides                       | Tom Ochiltree                   | Calvin             |
|   7 | 1876                     | Vagrant                         | Shirley                         | Algerine           |
|   8 | 1877                     | Baden-Baden                     | # Cloverbrook                   | # Cloverbrook      |
|   9 | 1878                     | Day Star                        | # Duke of Magenta               | # Duke of Magenta  |
|  10 | 1879                     | Lord Murphy                     | Harold                          | Spendthrift        |
|  11 | 1880                     | Fonso                           | # Grenada                       | # Grenada          |
|  12 | 1881                     | Hindoo                          | # Saunterer                     | # Saunterer        |
|  13 | 1882                     | Apollo                          | Vanguard                        | Forester           |
|  14 | 1883                     | Leonatus                        | Jacobus                         | George Kinney      |
|  15 | 1884                     | Buchanan                        | Knight of Ellerslie             | Panique            |
|  16 | 1885                     | Joe Cotton                      | Tecumseh                        | Tyrant             |
|  17 | 1886                     | Ben Ali                         | The Bard                        | Inspector B        |
|  18 | 1887                     | Montrose                        | Dunboyne                        | Hanover            |
|  19 | 1888                     | Macbeth II                      | Refund                          | Sir Dixon          |
|  20 | 1889                     | Spokane                         | Buddhist                        | Eric               |
|  21 | 1890                     | Riley                           | Montague [b]                    | Burlington         |
|  22 | 1891                     | Kingman                         | RNR                             | Foxford            |
|  23 | 1892                     | Azra                            | RNR                             | Patron             |
|  24 | 1893                     | Lookout                         | RNR                             | Commanche          |
|  25 | 1894                     | Chant                           | Assignee [c]                    | Henry of Navarre   |
|  26 | 1895                     | Halma                           | # Belmar [c]                    | # Belmar           |
|  27 | 1896                     | Ben Brush                       | Margrave [c]                    | Hastings           |
|  28 | 1897                     | Typhoon II                      | Paul Kauvar [c]                 | Scottish Chieftain |
|  29 | 1898                     | Plaudit                         | Sly Fox [c]                     | Bowling Brook      |
|  30 | 1899                     | Manuel                          | Half Time [c]                   | Jean Bereaud       |
|  31 | His Eminence             | The Parader [c]                 | The Parader [c]                 | Commando           |
|  32 | Alan-a-Dale              | Old England [c]                 | Old England [c]                 | Masterman          |
|  33 | Judge Himes              | Flocarline [Fy][c]              | Flocarline [Fy][c]              |                    |
|  34 | Elwood                   | Bryn Mawr [c]                   | Bryn Mawr [c]                   | Delhi              |
|  35 | Agile                    | Cairngorm [c]                   | Cairngorm [c]                   | Tanya [Fy]         |
|  36 | Sir Huon                 | Whimsical [Fy][c]               | Whimsical [Fy][c]               | Burgomaster        |
|  37 | Pink Star                | Don Enrique [c]                 | Don Enrique [c]                 | Peter Pan I        |
|  38 | Stone Street             | Royal Tourist [c]               | Royal Tourist [c]               | Colin              |
|  39 | Wintergreen              | Effendi                         | Effendi                         | Joe Madden         |
|  40 | Donau                    | Layminster                      | Layminster                      | Sweep              |
|  41 | Meridian                 | Watervale                       | RNR                             | RNR                |
|  42 | Worth                    | Colonel Holloway                | Colonel Holloway                | RNR                |
|  43 | Donerail                 | Buskin                          | Buskin                          | Prince Eugene      |
|  44 | Old Rosebud              | Holiday                         | Holiday                         | Luke McLuke        |
|  45 | Regret [Fy]              | Rhine Maiden [Fy]               | Rhine Maiden [Fy]               |                    |
|  46 | George Smith             | Damrosch                        | Damrosch                        | 1916               |
|  47 | Omar Khayyam [d]         | Kalitan [d]                     | Kalitan [d]                     | 1917               |
|  48 | Exterminator             | War Cloud [e] Jack Hare Jr. [e] | War Cloud [e] Jack Hare Jr. [e] | 1918               |
|  49 | † Sir Barton             | † Sir Barton                    | † Sir Barton                    | 1919               |
|  50 | Paul Jones               | # Man o' War                    | # Man o' War                    |                    |
|  51 | Behave Yourself          | Broomspun                       | Broomspun                       | Grey Lag           |
|  52 | Morvich [d]              | # Pillory [d]                   | # Pillory [d]                   | # Pillory          |
|  53 | # Zev                    | Vigil                           | Vigil                           | # Zev              |
|  54 | Black Gold               | Nellie Morse [Fy]               | Nellie Morse [Fy]               | Mad Play           |
|  55 | Flying Ebony             | Coventry                        | Coventry                        | American Flag      |
|  56 | Bubbling Over            | Display                         | Display                         | Crusader           |
|  57 | Whiskery                 | Bostonian                       | Bostonian                       | Chance Shot        |
|  58 | Reigh Count              | Victorian                       | Victorian                       | Vito               |
|  59 | Clyde Van Dusen          | Dr. Freeland                    | Dr. Freeland                    | Dr. Freeland       |
|  60 | † Gallant Fox            | † Gallant Fox                   | † Gallant Fox                   | † Gallant Fox      |
|  61 | 1932                     | * Burgoo King                   | * Burgoo King                   | Faireno            |
|  62 | 1933                     | Brokers Tip                     | Head Play                       | Hurryoff           |
|  63 | 1934                     | Cavalcade                       | High Quest                      | Peace Chance       |
|  64 | 1935                     | † Omaha                         | † Omaha                         | † Omaha            |
|  65 | 1936                     | * Bold Venture                  | * Bold Venture                  | Granville          |
|  66 | 1937                     | † War Admiral                   | † War Admiral                   | † War Admiral      |
|  67 | 1938                     | Lawrin                          | Dauber                          | Pasteurized        |
|  68 | 1939                     | # Johnstown                     | Challedon                       | # Johnstown        |
|  69 | 1940                     | Gallahadion                     | # Bimelech                      | # Bimelech         |
|  70 | 1941                     | † Whirlaway                     | † Whirlaway                     | † Whirlaway        |
|  71 | 1942                     | # Shut Out                      | Alsab                           | # Shut Out         |
|  72 | 1943                     | † Count Fleet                   | † Count Fleet                   | † Count Fleet      |
|  73 | 1944                     | * Pensive                       | * Pensive                       | Bounding Home      |
|  74 | 1945                     | Hoop Jr.                        | Polynesian                      | Pavot              |
|  75 | 1946                     | † Assault                       | † Assault                       | † Assault          |
|  76 | 1947                     | Jet Pilot                       | Faultless                       | Phalanx            |
|  77 | 1948                     | † Citation                      | † Citation                      | † Citation         |
|  78 | 1949                     | Ponder                          | # Capot                         | # Capot            |
|  79 | 1950                     | # Middleground                  | Hill Prince                     | # Middleground     |
|  80 | 1951                     | Count Turf                      | Bold                            | Counterpoint       |
|  81 | 1952                     | Hill Gail                       | Blue Man                        | One Count          |
|  82 | 1953                     | Dark Star                       | # Native Dancer                 | # Native Dancer    |
|  83 | 1954                     | Determine                       | Hasty Road                      | High Gun           |
|  84 | 1955                     | Swaps                           | # Nashua                        | # Nashua           |
|  85 | 1956                     | # Needles                       | Fabius                          | # Needles          |
|  86 | 1957                     | Iron Liege                      | Bold Ruler                      | Gallant Man        |
|  87 | 1958                     | * Tim Tam                       | * Tim Tam                       | Cavan              |
|  88 | 1959                     | Tomy Lee                        | Royal Orbit                     | Sword Dancer       |
|  89 | 1960                     | Venetian Way                    | Bally Ache                      | Celtic Ash         |
|  90 | 1961                     | * Carry Back                    | * Carry Back                    | Sherluck           |
|  91 | 1962                     | Decidedly                       | Greek Money                     | Jaipur             |
|  92 | 1964                     | * Northern Dancer               | * Northern Dancer               | Quadrangle [f]     |
|  93 | 1965                     | Lucky Debonair                  | Tom Rolfe                       | Hail To All [f]    |
|  94 | 1966                     | * Kauai King                    | * Kauai King                    | Amberoid [f]       |
|  95 | 1967                     | Proud Clarion                   | # Damascus                      | # Damascus [f]     |
|  96 | 1968                     | * Forward Pass [g]              | * Forward Pass                  | Stage Door Johnny  |
|  97 | 1969                     | * Majestic Prince               | * Majestic Prince               | Arts and Letters   |
|  98 | Dust Commander           | Dust Commander                  | Personality                     | High Echelon       |
|  99 | * Canonero II            | * Canonero II                   | * Canonero II                   | Pass Catcher       |
| 100 | # Riva Ridge             | # Riva Ridge                    | Bee Bee Bee                     | # Riva Ridge       |
| 101 | † Secretariat            | † Secretariat                   | † Secretariat                   | † Secretariat      |
| 102 | Cannonade                | Cannonade                       | # Little Current                | # Little Current   |
| 103 | 1975                     | Foolish Pleasure                | Master Derby                    | Avatar             |
| 104 | 1976                     | # Bold Forbes                   | Elocutionist                    | # Bold Forbes      |
| 105 | 1977                     | † Seattle Slew                  | † Seattle Slew                  | † Seattle Slew     |
| 106 | 1978                     | † Affirmed                      | † Affirmed                      | † Affirmed         |
| 107 | 1979                     | * Spectacular Bid               | * Spectacular Bid               | Coastal            |
| 108 | 1980                     | Genuine Risk [Fy]               | Codex                           | Temperence Hill    |
| 109 | 1981                     | * Pleasant Colony               | * Pleasant Colony               | Summing            |
| 110 | 1982                     | Gato Del Sol                    | Aloma's Ruler                   | Conquistador Cielo |
| 111 | 1983                     | Sunny's Halo                    | Deputed Testamony               | Caveat             |
| 112 | 1984                     | # Swale                         | Gate Dancer                     | # Swale            |
| 113 | 1985                     | Spend A Buck                    | Tank's Prospect                 | Creme Fraiche      |
| 114 | 1986                     | Ferdinand                       | Snow Chief                      | Danzig Connection  |
| 115 | * Alysheba               | * Alysheba                      | * Alysheba                      | Bet Twice          |
| 116 | 1988 Winning Colors [Fy] | Winning Colors [Fy]             | # Risen Star                    | # Risen Star       |
| 117 | 1989 * Sunday Silence    | * Sunday Silence                | * Sunday Silence                | Easy Goer          |
| 118 | 1990                     | Unbridled                       | Summer Squall                   | Go And Go          |
| 119 | 1991                     | Strike the Gold                 | # Hansel                        | # Hansel           |
| 120 | 1992                     | Lil E. Tee                      | Pine Bluff                      | A.P. Indy          |
| 121 | 1993                     | Sea Hero                        | Prairie Bayou                   | Colonial Affair    |
| 122 | 1994                     | Go for Gin                      | # Tabasco Cat                   | # Tabasco Cat      |
| 123 | Grindstone               | Louis Quatorze                  | Editor's Note                   | 1996               |
| 124 | * Silver Charm           | * Silver Charm                  | Touch Gold                      | 1997               |
| 125 | * Real Quiet             | * Real Quiet                    | Victory Gallop                  | 1998               |
| 126 | * Charismatic            | * Charismatic                   | Lemon Drop Kid                  | 1999               |
| 127 | Fusaichi Pegasus         | Red Bullet                      | Red Bullet                      | 2000               |
| 128 | Monarchos                | # Point Given                   | # Point Given                   | 2001               |
| 129 | * War Emblem             | * War Emblem                    | Sarava                          | 2002               |
| 130 | * Funny Cide             | * Funny Cide                    | Empire Maker                    | 2003               |
| 131 | * Smarty Jones           | * Smarty Jones                  | Birdstone                       | 2004               |
| 132 | Giacomo                  | # Afleet Alex                   | # Afleet Alex                   | 2005               |
| 133 | Barbaro                  | Bernardini                      | Jazil                           | 2006               |
| 134 | Street Sense             | Curlin                          | Rags to Riches [Fy]             | 2007               |
| 135 | * Big Brown              | * Big Brown                     | Da' Tara                        | 2008               |
| 136 | Mine That Bird           | Rachel Alexandra [Fy]           | Summer Bird                     | 2009               |
| 137 | Super Saver              | Lookin at Lucky                 | Drosselmeyer                    | 2010               |
| 138 | Animal Kingdom           | Shackleford                     | Ruler on Ice                    | 2011               |
| 139 | * I'll Have Another      | * I'll Have Another             | Union Rags [h]                  | 2012               |
| 140 | Orb                      | Oxbow                           | Palace Malice                   | 2013               |
| 141 | * California Chrome      | * California Chrome             | Tonalist                        | 2014               |
| 142 | † American Pharoah       | † American Pharoah              | † American Pharoah              | 2015               |
| 143 | Nyquist                  | Exaggerator                     | Creator                         | 2016               |
| 144 | Always Dreaming          | Cloud Computing                 | Tapwrit                         | 2017               |
| 145 | † Justify                | † Justify                       | † Justify                       | 2018               |
| 146 | Country House [i]        | War of Will                     | Sir Winston                     | 2019               |
| 147 | Authentic [j]            | Swiss Skydiver [Fy][j]          | Tiz the Law [j]                 | 2020               |
| 148 | Mandaloun [k]            | Rombauer                        | Essential Quality               | Rombauer           |
| 149 | Rich Strike              | Early Voting                    | Mo Donegal                      | 2022               |
| 150 | Mage                     | National Treasure               | Arcangelo                       | 2023               |
| 151 | Mystik Dan               | Seize the Grey                  | Dornoch                         | 2024               |
| 152 | Sovereignty              |                                 |                                 | 2025               |

Columns: ['Year', 'Kentucky Derby', 'Preakness Stakes', 'Belmont Stakes']
Shape: (153, 4)

--- Concatenated DataFrame Group 3 ---

|    |               | Kentucky Derby "The Run for the Roses"                                                                                                                                                                                                                                                                                                            | Preakness Stakes "The Run for the Black- Eyed Susans"                                                                                                                                                                                                                                                | Belmont Stakes "The Test of the Champion"                                                                                                                                                                                                                                                                                                                                                                                                |
|---:|:--------------|:--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|:-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|:-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
|  0 | Date          | First Saturday in May                                                                                                                                                                                                                                                                                                                             | Third Saturday in May                                                                                                                                                                                                                                                                                | Third Saturday following the Preakness (first or second Saturday in June)                                                                                                                                                                                                                                                                                                                                                                |
|  1 | Current Track | Churchill Downs                                                                                                                                                                                                                                                                                                                                   | Pimlico Race Course                                                                                                                                                                                                                                                                                  | Belmont Park                                                                                                                                                                                                                                                                                                                                                                                                                             |
|  2 | Location      | Louisville, Kentucky                                                                                                                                                                                                                                                                                                                              | Baltimore, Maryland                                                                                                                                                                                                                                                                                  | Elmont, New York                                                                                                                                                                                                                                                                                                                                                                                                                         |
|  3 | Distance      | 1 1 ⁄ 4  miles (10 furlongs; 2,000 m)                                                                                                                                                                                                                                                                                                             | 1 3 ⁄ 16  miles (9.5 furlongs; 1,900 m)                                                                                                                                                                                                                                                              | 1 1 ⁄ 2  miles (12 furlongs; 2,400 m)                                                                                                                                                                                                                                                                                                                                                                                                    |
|  4 | Background    | Inaugurated in 1875, the race was originally 1 1 ⁄ 2 miles (2,400 m) until 1897 when it was shortened to its current distance. It is the only one of the three races to have run continuously from its inception. Colts and geldings carry 126 pounds (57 kg) and fillies 121 pounds (55 kg). The field has been limited to 20 horses since 1975. | Started in 1873 and continuously run since 1894, it is the shortest of the three races. Pimlico was the home of the race from 1873 to 1889 and again from 1908 until the present. The Preakness was not run from 1891 to 1893. Weights are the same as for the Derby. Field is limited to 14 horses. | Begun in 1867, it is the oldest of the three races, though not held in 1911 and 1912 due to anti- gambling legislation in New York. The race was held at various New York tracks until 1905 when Belmont Park became the permanent location. Distance varied from 1 5 ⁄ 8  to 1 1 ⁄ 8  miles (2,600 to 1,800 m) until set at 1 1 ⁄ 2 miles (2,400 m) in 1926, making it the longest of the three. Weight assignments are the same as the |

Columns: ['', 'Kentucky Derby "The Run for the Roses"', 'Preakness Stakes "The Run for the Black- Eyed Susans"', 'Belmont Stakes "The Test of the Champion"']
Shape: (5, 4)

--- Concatenated DataFrame Group 4 ---

|    | Years                          | Sponsor              | Bonuses                 |
|---:|:-------------------------------|:---------------------|:------------------------|
|  0 | 1987-1993 Chrysler Corporation | Chrysler Corporation | 1987-1993               |
|  1 | 1995-2005                      | Visa                 | $5 million (three wins) |

Columns: ['Years', 'Sponsor', 'Bonuses']
Shape: (2, 3)

--- Concatenated DataFrame Group 5 ---

|    | †   | *                                                                                  |
|---:|:----|:-----------------------------------------------------------------------------------|
|  0 | *   | Denotes winners of the Derby and Preakness but not the Belmont                     |
|  1 | #   | Denotes winners of the other two combinations of 2 out of the 3 Triple Crown races |

Columns: ['†', '*']
Shape: (2, 2)

--- Concatenated DataFrame Group 6 ---

|    |   Year | Kentucky Derby   | Preakness Stakes   | Belmont Stakes   |
|---:|-------:|:-----------------|:-------------------|:-----------------|
|  0 |   1867 |                  |                    | Ruthless [Fy]    |

Columns: ['Year', 'Kentucky Derby', 'Preakness Stakes', 'Belmont Stakes']
Shape: (1, 4)
Processed 78f480a26ad6a8c7c064e9d9fd5b2c4f
==================================================

In [12]:
for source in processed_tables:
    file_name = source.split("/")[-1][:-4]
    print(f"{file_name} has {len(processed_tables[source])} tables")

c935e2902adf7040a6ffe0db0f7c11e6 has 3 tables
national-capitals has 1 tables
CA Warn Report has 2 tables
659dfd3e5c22a64d7597cb50c6fc455e has 4 tables
0e6af4a364ff3fe835bd4e332a2fb9cf has 2 tables
f8a04d6beeed137eeb7840a5c459842d has 5 tables
78f480a26ad6a8c7c064e9d9fd5b2c4f has 6 tables

In [13]:
total_input_tokens = sum(
    [count_tokens.total_tokens for count_tokens in total_tokens["input_tokens"]]
)
total_output_tokens = sum(
    [count_tokens.total_tokens for count_tokens in total_tokens["output_tokens"]]
)

In [14]:
api_price = {
    "input_tokens": 0.075,  # per 1million
    "output_tokens": 0.3,
}

print("Total input tokens:", total_input_tokens)
print("Total onput tokens:", total_output_tokens)

print(
    "Price =",
    (total_input_tokens / 1e6) * api_price["input_tokens"]
    + (total_output_tokens / 1e6) * api_price["output_tokens"],
)

Total input tokens: 17304
Total onput tokens: 2393
Price = 0.0020157