In [4]:
!pip install -q docling docling-core

In [5]:
from docling.document_converter import DocumentConverter, PdfFormatOption
from docling.datamodel.base_models import InputFormat
from docling.datamodel.pipeline_options import PdfPipelineOptions, TableFormerMode
import time

## 1. Khởi tạo Docling converter

In [6]:
# Define pipeline options for PDF processing
pipeline_options = PdfPipelineOptions(
    do_table_structure=True,  # Enable table structure detection
    do_ocr=False,  # Enable OCR
    # full page ocr and language selection
    #ocr_options=EasyOcrOptions(force_full_page_ocr=True, lang=["en"]),  # Use EasyOCR for OCR
    # ocr_options=TesseractOcrOptions(force_full_page_ocr=True, lang=["eng"]),  # Uncomment to use Tesseract for OCR
    #ocr_options = OcrMacOptions(force_full_page_ocr=True, lang=['en-US']),
    table_structure_options=dict(
        do_cell_matching=False,  # Use text cells predicted from table structure model
        mode=TableFormerMode.ACCURATE # Use more accurate Tableformer model
    ),
    generate_page_images=False,  # Enable page image generation
    generate_picture_images=False,  # Enable picture image generation
    # images_scale=IMAGE_RESOLUTION_SCALE,  # Set image resolution scale (scale=1 corresponds to a standard 72 DPI image)
)


format_options = {
    InputFormat.PDF: PdfFormatOption(pipeline_options=pipeline_options)
}
converter = DocumentConverter(format_options=format_options)

def convert_pdf_to_docling(sources: list[str]):
    start_time = time.time()
    conversions = {
        source: converter.convert(source).document for source in sources
    }
    end_time = time.time()
    print(f"Time taken: {end_time - start_time:.4f}")
    return conversions

In [7]:
sources = [
    "/kaggle/input/tables-pdf/CA Warn Report.pdf",
    "/kaggle/input/tables-pdf/national-capitals.pdf",
    "/kaggle/input/tables-pdf/c935e2902adf7040a6ffe0db0f7c11e6.pdf",
]

conversions = convert_pdf_to_docling(sources)

Time taken: 122.9211

## 2. Các hàm hữu ích

In [108]:
import csv
import pandas as pd
from io import StringIO
import numpy as np
import re

def preprocess_df(df):
    # Handle numeric sequence columns
    if all(str(col).isdigit() for col in df.columns):
        # Use first row as column names
        new_cols = df.iloc[0].values
        df = df.iloc[1:].reset_index(drop=True)
        df.columns = new_cols
        
    # Handle numeric sequence in first row
    elif df.shape[0] > 0:
        first_row = df.iloc[0]
        try:
            nums = pd.to_numeric(first_row)
            if all(nums[i] == i for i in range(len(nums))):
                df = df.iloc[1:].reset_index(drop=True)
        except:
            pass
            
    return df



def _perform_csv_sniffing(csv_sample_string: str) -> bool:
    """Check if CSV string has header using csv.Sniffer"""
    if not csv_sample_string.strip():
        return False
    sniffer = csv.Sniffer()
    try:
        return sniffer.has_header(csv_sample_string)
    except csv.Error:
        return False

def has_header(data_source: any) -> bool:
    """Check if DataFrame/CSV has header"""
    MAX_SAMPLE_ROWS_FOR_DF = 15

    if isinstance(data_source, pd.DataFrame):
        df = data_source

        if df.empty:
            return False


        columns = df.columns.tolist()
    
        if not columns:
            return False
        if any(not str(col).strip() for col in columns): # Kiểm tra cột rỗng hoặc toàn khoảng trắng
            return False

        # Check for sequential integer columns
        is_sequential_integers = True
        for i, col_name_obj in enumerate(columns):
            try:
                if int(str(col_name_obj)) != i:
                    is_sequential_integers = False
                    break
            except ValueError:
                is_sequential_integers = False
                break
        if is_sequential_integers:
            return False

        # Check for unnamed columns
        for col in columns:
            if str(col).startswith('Unnamed'):
                return False
        
        # Use CSV sniffing on sample
        sample_df = df.head(MAX_SAMPLE_ROWS_FOR_DF)
        
        csv_string_buffer = StringIO()
        sample_df.to_csv(csv_string_buffer, header=True, index=False)
        csv_sample_from_df = csv_string_buffer.getvalue()
        
        return _perform_csv_sniffing(csv_sample_from_df)

    elif isinstance(data_source, str):
        MAX_FILE_LINES_FOR_SAMPLE = 15
        try:
            with open(data_source, 'r', newline='', encoding='utf-8-sig') as csv_file:
                sample_lines_list = [line for i, line in enumerate(csv_file) if i < MAX_FILE_LINES_FOR_SAMPLE]
                if not sample_lines_list:
                    return False
                return _perform_csv_sniffing("".join(sample_lines_list))
        except FileNotFoundError:
            return False 
        except Exception:
            return False
    else:
        return False

def solve_non_header_table(df: pd.DataFrame, headers: list) -> pd.DataFrame:
    """Convert headerless DataFrame by moving column names to first row"""
    df_copy = df.copy()

    first_row_values = []
    for col_original_name in df_copy.columns:
        if str(col_original_name).startswith('Unnamed'):
            first_row_values.append(np.nan)
        else:
            first_row_values.append(col_original_name)
            
    # Match first_row_values length with headers
    if len(first_row_values) != len(headers):
        if len(first_row_values) > len(headers):
            first_row_values = first_row_values[:len(headers)]
        else:
            first_row_values.extend([np.nan] * (len(headers) - len(first_row_values)))

    temp_firstrow_df = pd.DataFrame([first_row_values], columns=headers)
    df_copy.columns = headers
    
    result_df = pd.concat([temp_firstrow_df, df_copy], ignore_index=True)
    return result_df.reset_index(drop=True)

def get_column_types(df):
    """Determine data types for each column"""
    types = []
    if df.columns.empty:
        return types

    for col_name in df.columns: 
        current_column_object = df[col_name]

        is_truly_all_na = False
        effective_dtype = None

        if isinstance(current_column_object, pd.DataFrame):
            is_truly_all_na = pd.isna(current_column_object).all().all()
            if not is_truly_all_na:
                effective_dtype = current_column_object.iloc[:, 0].dtype
        elif isinstance(current_column_object, pd.Series):
            is_truly_all_na = pd.isna(current_column_object).all()
            if not is_truly_all_na:
                effective_dtype = current_column_object.dtype
        else:
            types.append("error_unexpected_type")
            continue

        if is_truly_all_na:
            types.append("unknown")
        else:
            if effective_dtype is not None:
                types.append(
                    "numeric" if pd.api.types.is_numeric_dtype(effective_dtype) else str(effective_dtype)
                )
            else:
                types.append("unknown_error_in_logic")
    return types


def get_input_df(df: pd.DataFrame, n_rows: int = 10, sep: str = "=", max_tokens: int = 15) -> str:
    df_copy = df.copy()

    is_any_column_empty_or_whitespace = any(not str(col).strip() for col in df_copy.columns)
    
    original_columns_list = df.columns.tolist()
    has_nan_in_original_cols = any(pd.isna(col) for col in original_columns_list)
    has_unnamed_in_original_cols = any(str(col).startswith("Unnamed") for col in original_columns_list)

    should_output_header = True
    # Kiểm tra header trên df gốc
    if not has_header(df) or is_any_column_empty_or_whitespace or has_nan_in_original_cols or has_unnamed_in_original_cols:
        should_output_header = False
        df_copy.columns = [str(i + 1) for i in range(len(df_copy.columns))]
    
    if should_output_header: # Chỉ xử lý tên cột nếu chúng sẽ được xuất ra
        processed_columns = [" ".join(str(col).split()[:max_tokens]) for col in df_copy.columns]
        df_copy.columns = processed_columns

    column_data_types = get_column_types(df_copy)
    
    for dtype, col_name in zip(column_data_types, df_copy.columns):
        if dtype == "object":
            # Tại điểm này, df_copy[col_name] phải là một pd.Series có dtype 'object'
            # dựa trên cách get_column_types hoạt động.
            if isinstance(df_copy[col_name], pd.Series):
                current_series = df_copy[col_name]
                try:
                    df_copy.loc[:, col_name] = current_series.astype(str).apply(lambda x: " ".join(x.split()[:max_tokens]))
                except AttributeError: 
                    df_copy.loc[:, col_name] = current_series.apply(lambda x: " ".join(str(x).split()[:max_tokens]))
            # else:
                # Không nên có trường hợp df_copy[col_name] là DataFrame ở đây nếu dtype=="object"
                # dựa trên get_column_types. Nếu có, đó là một vấn đề logic sâu hơn.
                # print(f"Cảnh báo: Cột {col_name} có dtype 'object' nhưng không phải là Series.")
                pass


    # Xử lý DataFrame rỗng
    if df_copy.empty:
        # Trả về header nếu có, hoặc chuỗi rỗng nếu không có header và không có dòng
        return df_copy.to_csv(index=False, header=should_output_header, sep=sep)

    if len(df_copy) < n_rows:
        return df_copy.to_csv(index=False, header=should_output_header, sep=sep)

    n_edge = n_rows // 3
    n_random = n_rows - (2 * n_edge)

    if n_edge * 2 >= len(df_copy): # Sửa điều kiện để xử lý df có ít hơn 2*n_edge hàng
        n_edge = len(df_copy) // 2 
        n_random = max(0, n_rows - 2 * n_edge) # Đảm bảo n_random không âm
        if len(df_copy) < n_rows and len(df_copy) > 0 : # Nếu df nhỏ hơn n_rows, lấy hết
             n_edge = len(df_copy)
             n_random = 0


    first_rows = df_copy.head(n_edge)
    last_rows = df_copy.tail(n_edge)
    
    sampled_rows_list = []
    if not first_rows.empty:
        sampled_rows_list.append(first_rows)

    middle_df_start_idx = first_rows.shape[0] # Bắt đầu sau first_rows
    # Kết thúc trước khi last_rows bắt đầu. Nếu last_rows rỗng, thì đến cuối df_copy.
    middle_df_end_idx = len(df_copy) - last_rows.shape[0]
    
    if middle_df_start_idx < middle_df_end_idx and n_random > 0:
        middle_section = df_copy.iloc[middle_df_start_idx:middle_df_end_idx]
        if not middle_section.empty:
            actual_n_random = min(n_random, len(middle_section))
            if actual_n_random > 0:
                 random_rows = middle_section.sample(n=actual_n_random, random_state=42)
                 if not random_rows.empty:
                    sampled_rows_list.append(random_rows)
    
    if not last_rows.empty:
      is_duplicate = False
      # Kiểm tra trùng lặp với các phần đã thêm (đặc biệt quan trọng cho DF nhỏ)
      temp_concat_check = pd.concat(sampled_rows_list) if sampled_rows_list else pd.DataFrame()
      if not temp_concat_check.empty:
          # Kiểm tra xem tất cả các hàng của last_rows có trong temp_concat_check không
          # và có cùng độ dài không. Đây là một cách kiểm tra đơn giản.
          merged_check = pd.merge(temp_concat_check, last_rows, how='inner')
          if len(merged_check) == len(last_rows) and len(merged_check) == len(temp_concat_check):
                is_duplicate = True # Nếu last_rows là một tập con hoàn chỉnh của những gì đã có
                if len(first_rows) + (len(random_rows) if 'random_rows' in locals() and not random_rows.empty else 0) == len(last_rows): # ví dụ df 2 dòng, n_edge=1
                    is_duplicate = True


      # Cách kiểm tra đơn giản hơn: nếu last_rows.equals(first_rows) và không có random_rows
      if len(sampled_rows_list) == 1 and last_rows.equals(sampled_rows_list[0]):
          is_duplicate = True
      
      if not is_duplicate:
          sampled_rows_list.append(last_rows)
            
    if not sampled_rows_list:
        # Trường hợp này xảy ra nếu df_copy có 0 hàng, hoặc n_edge=0.
        # df_copy.empty đã được xử lý ở trên.
        # Nếu n_edge là 0 (ví dụ n_rows=0 hoặc 1), sampled_rows_list có thể rỗng.
        return df_copy.head(0).to_csv(index=False, header=should_output_header, sep=sep)


    final_df_to_export = pd.concat(sampled_rows_list).drop_duplicates().reset_index(drop=True)
      
    return final_df_to_export.to_csv(index=False, header=should_output_header, sep=sep)

## 3. Xử lý

Duyệt qua Docling và lấy các tables dưới dạng `pd.DataFrame` và tạo ra `input_prompt` cho LLM

In [109]:
from docling_core.types.doc.labels import DocItemLabel
from docling_core.transforms.chunker.hybrid_chunker import HybridChunker
from docling_core.types.doc.document import TableItem
from langchain_core.documents import Document
import pandas as pd

def get_tables_from_docling(docling_document) -> tuple[list[pd.DataFrame], str]:
    doc_id = 0
    tables: list[pd.DataFrame] = []
    full_prompt = ""
    for table in docling_document.tables:
        if table.label in [DocItemLabel.TABLE]:
            # ref = table.get_ref().cref
            # text = table.export_to_markdown(docling_document)
            df = preprocess_df(table.export_to_dataframe())
            df_string = get_input_df(df, n_rows=10)
            column_types = get_column_types(df=df)
            n_columns = len(df.columns.to_list())
            full_prompt += f"Table {doc_id}\n{df_string}\nNumber of columns: {n_columns}\nColumn types: {column_types}\n\n"
            tables.append(df)
            doc_id += 1

    print(f"{len(tables)} tables extracted")
    return tables, full_prompt

In [110]:
tables, full_prompt = get_tables_from_docling(conversions[sources[2]])

10 tables extracted

In [112]:
print(full_prompt)

Table 0
Air Jordan IV=1989=In December 1988, Nike released the Air Jordan IV to the public. Designed by Tinker
Air Jordan V=1990=The Air Jordan V was released in February 1990 and designed by Hatfield. Inspired by
Air Jordan VI=1991=Designed after a German sports car, Michael Jordan wore the VI for his first Bulls
Air Jordan VII=1992="The Air Jordan VII introduced ""huarache"" technology which allowed the shoes to better conform to"

Number of columns: 3
Column types: ['object', 'object', 'object']

Table 1
Air Jordan VIII=1993=The Air Jordan VIII was released to coincide with the 1992- 93 NBA season. The
Air Jordan IX=1993=Originally released in November 1993, the Air Jordan IX was the first model released after
Air Jordan X=1994=This was released in different colors representing U.S. cities. It was the first Air Jordan
Air Jordan XI=1995=This model was designed by Tinker Hatfield. When the shoe launched, Michael Jordan (retired from

Number of columns: 3
Column types: ['object', 'object', 'object']

Table 2
=1997=This model had a carbon fiber plate, designed by Hatfield. The black panther was the
Air Jordan XIV=1998=Inspired by the Ferrari 550 M which Michael Jordan owned, the Air Jordan XIV was

Number of columns: 3
Column types: ['object', 'object', 'object']

Table 3
Air Jordan XV=1999=This was the first shoe after Jordan's retirement. The design was inspired by the North
Air Jordan XVI=2001=The shoe came with spats, and the design was inspired by performance cars and architecture.
Air Jordan XVII=2002=This pair of Jordans came with a multimedia CD-ROM containing the Air Jordan XVII song.
Air Jordan XVIII=2003=The Air Jordan XVIII shoe was released during Michael Jordan's last season, in which he

Number of columns: 3
Column types: ['object', 'object', 'object']

Table 4
Air Jordan XXI=2006=The Air Jordan XXI model of shoes was designed by D'Wayne Edwards and inspired by
=2007=The XX2 was inspired by the F-22 Raptor. [25] The promo commercial was directed by
Air Jordan XX3=2008=The Air Jordan XX3 was designed by Tinker Hatfield. It was the first basketball shoe
Air Jordan 2009=2009=The Air Jordan 2009 was designed by Jason Mayden and was the first Air Jordan
Air Jordan 2010=2010=This was released during the 25th anniversary of the Air Jordan brand. The base of

Number of columns: 3
Column types: ['object', 'object', 'object']

Table 5
Air Jordan 2011=2011=The shoe has interchangeable insoles [25] - a red one for power and a blue
Air Jordan 2012=2012=The Air Jordan 2012 offers six customization configurations. Two interchangeable sleeves and three insoles adapt
Air Jordan XX8=2013=The Air Jordan XX8, designed by Tinker Hatfield, was released on February 16, 2013. The
Air Jordan XX9=2014=The Air Jordan XX9, also designed by Hatfield, released in September 2014 in both an
Air Jordan XXX=2016=The Air Jordan XXX was again designed by Tinker Hatfield. The first colorway of the

Number of columns: 3
Column types: ['object', 'object', 'object']

Table 6
Air Jordan XXXI=2016=The Air Jordan XXXI is heavily influenced by the Air Jordan 1s, having a leather
Air Jordan XXXII=2017=The Air Jordan XXXII was influenced by the Air Jordan 2 and included a Jordan
Air Jordan XXXIII=2018=The Air Jordan XXXIII was released on October 18, 2018. This is the first Air
Air Jordan XXXIV=2019=The Air Jordan XXXIV was released on September 25, 2019, with details such as a
Air Jordan XXXV=2020=The Air Jordan XXXV debuted in the Fall of 2020 with a distinct new shape.
=2021=The Air Jordan XXXVI was first teased by German-American professional basketball player Satou Sabally via
Air Jordan XXXVII=2022=The Air Jordan XXXVII was released on July 28, 2022. [53]
Air Jordan XXXVIII=2023=The Air Jordan XXXVIII contains a Cushlon 3.0 midsole along with a Zoom Strobel Unit.

Number of columns: 3
Column types: ['object', 'object', 'object']

Table 7
Air Jordan XXXIX=2024=The Air Jordan XXXIX was released in July 2024.

Number of columns: 3
Column types: ['object', 'object', 'object']

Table 8
V · T · E=Nike, Inc.=[show]
=Links to related articles=[show]

Number of columns: 3
Column types: ['object', 'object', 'object']

Table 9
Categories: Sportswear brands=Categories: Sportswear brands=Nike brands=Michael Jordan=Products introduced in 1984=Products introduced in 1984
1980s fashion=1990s fashion=2000s fashion=2010s fashion=2020s fashion=Basketball culture

Number of columns: 6
Column types: ['object', 'object', 'object', 'object', 'object', 'object']

### Hàm call LLM API

In [113]:
# To run this code you need to install the following dependencies:
# pip install google-genai

import base64
import os
import json
from google import genai
from google.genai import types
# from google.colab import userdata
# GEMINI_API_KEY = userdata.get('GOOGLE_API_KEY')
# from dotenv import load_dotenv
# load_dotenv()
from kaggle_secrets import UserSecretsClient
user_secrets = UserSecretsClient()
GEMINI_API_KEY = user_secrets.get_secret("GOOGLE_API_KEY")

def generate(prompt):
    model = "gemini-2.0-flash-lite"
    client = genai.Client(
        api_key=GEMINI_API_KEY,
    )
    system_prompt = """You are an AI assistant specialized in analyzing and grouping data tables for vertical concatenation. I will provide you with information for multiple tables. Each table will include:

Table index (e.g., \"Table 0\").
Explicit headers (e.g., \"Headers: ColA,ColB,ColC\") if this table introduces a new header structure. For subsequent tables with the same structure and headers, the \"Headers:\" line can be omitted.
A few lines of sample data. Each data line contains values separated by the \"=\" character.
The number of columns.
A list of data types for the columns.
The tables will be presented sequentially.

Your task is to identify groups of tables that can be vertically concatenated. Tables are considered concatenable if they share the following characteristics:

The same number of columns.
Compatible data types for corresponding columns.
Identical or very similar headers. If headers are not explicitly provided for a table, assume it shares the headers of the immediately preceding table (or the closest table with explicit headers) if their number of columns and data types match.
Below is the table data:"""
    content = system_prompt + prompt
    contents = [
        types.Content(
            role="user",
            parts=[
                types.Part.from_text(text=prompt),
            ],
        ),
    ]
    generate_content_config = types.GenerateContentConfig(
        temperature=0,
        response_mime_type="application/json",
        response_schema=genai.types.Schema(
            type = genai.types.Type.OBJECT,
            required = ["concatable_tables"],
            properties = {
                "concatable_tables": genai.types.Schema(
                    type = genai.types.Type.ARRAY,
                    items = genai.types.Schema(
                        type = genai.types.Type.OBJECT,
                        required = ["table_index"],
                        properties = {
                            "table_index": genai.types.Schema(
                                type = genai.types.Type.ARRAY,
                                items = genai.types.Schema(
                                    type = genai.types.Type.NUMBER,
                                ),
                            ),
                        },
                    ),
                ),
            },
        ),
        system_instruction=[
            types.Part.from_text(text=system_prompt),
        ],
    )
    input_tokens = client.models.count_tokens(model=model, contents=[content])
    response = client.models.generate_content(
        model=model,
        contents=contents,
        config=generate_content_config,
    )
    output_tokens = client.models.count_tokens(model=model, contents=response.text)

    json_response = json.loads(response.text)
    json_response.update({
        "input_tokens": input_tokens,
        "output_tokens": output_tokens
    })
    return json_response

In [114]:
json_instructions = generate(full_prompt)
print(json_instructions)

{'concatable_tables': [{'table_index': [0, 1, 2, 3, 4, 5, 6, 7]}], 'input_tokens': CountTokensResponse(total_tokens=1578, cached_content_token_count=None), 'output_tokens': CountTokensResponse(total_tokens=64, cached_content_token_count=None)}

Ghép nối các nhóm tables lại với nhau

In [115]:
def main_concatenation_logic(tables: list[pd.DataFrame], concat_json: dict) -> list[pd.DataFrame]:
    """
    Ghép các DataFrame theo nhóm trong concat_json.
    Chuẩn hóa header bằng has_header và solve_non_header_table.
    Các bảng không có trong concat_json được giữ nguyên.

    Args:
        tables (list[pd.DataFrame]): List các DataFrame
        concat_json (dict): Hướng dẫn ghép bảng dạng {'concatable_tables': [{'table_index': [0, 1]}, ...]}
    Returns:
        list[pd.DataFrame]: List các DataFrame đã ghép và độc lập
    """
    concatenated_results = [] # Kết quả ghép
    processed_indices_from_json = set() # Các chỉ mục đã xử lý
    
    # Kiểm tra input
    if not isinstance(tables, list) or not all(isinstance(t, pd.DataFrame) for t in tables):
        print("Lỗi: 'tables' phải là list[pd.DataFrame].")
        return [] 
    if not isinstance(concat_json, dict) or 'concatable_tables' not in concat_json:
        if not isinstance(concat_json, dict) or 'concatable_tables' not in concat_json.get('concatable_tables', [{}]):
            print("Cảnh báo: 'concat_json' không hợp lệ. Giữ nguyên các bảng.")
            pass


    # Xử lý từng nhóm trong concat_json
    for group_instruction in concat_json.get('concatable_tables', []): 
        table_indices_from_json_group = group_instruction.get('table_index', [])
        if not table_indices_from_json_group:
            continue

        current_group_dfs_to_process = []
        valid_indices_in_this_json_group = [] 

        # Lấy các DataFrame hợp lệ cho nhóm hiện tại
        for index in table_indices_from_json_group:
            if 0 <= index < len(tables):
                current_group_dfs_to_process.append(tables[index])
                valid_indices_in_this_json_group.append(index)

        if not current_group_dfs_to_process:
            continue
        
        # Đánh dấu đã xử lý
        for idx in valid_indices_in_this_json_group:
            processed_indices_from_json.add(idx)
            
        # Tìm header chuẩn cho nhóm
        authoritative_headers = None
        for df_check in current_group_dfs_to_process:
            if has_header(df_check): 
                authoritative_headers = df_check.columns.tolist()
                break
        
        prepared_dfs_for_concat = [] # DataFrame sẵn sàng ghép
        for original_df_in_group in current_group_dfs_to_process:
            df_to_process = original_df_in_group.copy()

            if authoritative_headers is not None:
                if has_header(df_to_process):
                    if len(df_to_process.columns) == len(authoritative_headers):
                        df_to_process.columns = authoritative_headers # Đổi tên theo header chuẩn
                else:
                    if len(df_to_process.columns) == len(authoritative_headers):
                        df_to_process = solve_non_header_table(df_to_process, authoritative_headers)
            
            prepared_dfs_for_concat.append(df_to_process)

        if prepared_dfs_for_concat:
            final_df_group = pd.concat(prepared_dfs_for_concat, ignore_index=True)
            concatenated_results.append(final_df_group)
            
    # Xử lý các bảng độc lập
    all_available_indices = set(range(len(tables)))
    independent_table_indices = sorted(list(all_available_indices - processed_indices_from_json))

    for idx in independent_table_indices:
        concatenated_results.append(tables[idx].copy()) 
            
    return concatenated_results

### Kết quả

In [11]:
# concatenated_dataframes = main_concatenation_logic(tables, json_instructions)
# print(f"Có tổng cộng {len(concatenated_dataframes)} bảng!")

## 4. Full pipeline

In [116]:
from IPython.display import Markdown, display

def get_tables_from_sources(sources: list[str], output_path: str = None) -> dict[str, list[pd.DataFrame]]:
    processed_tables = {}
    conversions = convert_pdf_to_docling(sources)
    total_tokens = {
        "input_tokens": [],
        "output_tokens": []
    }
    for source in sources:
        pdf_name = source.split("/")[-1][:-4]
        print(f"Processing {pdf_name}")
        try:
            tables, full_prompt = get_tables_from_docling(conversions[source])
            json_instructions = generate(full_prompt)

            source_input_tokens = json_instructions.get("input_tokens")
            source_output_tokens = json_instructions.get("output_tokens")
            
            print(f"{pdf_name} - input_tokens = {source_input_tokens}")
            print(f"{pdf_name} - output_tokens = {source_output_tokens}")
            print(f"{pdf_name} - concatable_tables = {json_instructions.get('concatable_tables')}")
            
            total_tokens["input_tokens"].append(source_input_tokens)
            total_tokens["output_tokens"].append(source_output_tokens)
            
            concatenated_dataframes = main_concatenation_logic(tables, json_instructions)
            processed_tables[source] = concatenated_dataframes
            if output_path:
                for i, df in enumerate(concatenated_dataframes):
                    df.to_csv(f"{pdf_name}_{i}.csv", index=False)
                    print(f"\n--- Concatenated DataFrame Group {i+1} ---")
                    display(Markdown(df.to_markdown()))
                    print(f"Columns: {df.columns.tolist()}")
                    print(f"Shape: {df.shape}")
            print(f"Processed {pdf_name}")
            print("="*50)
        except Exception as e:
            print(f"Error processing {source}: {e}")
    return processed_tables, total_tokens

In [117]:
### SETTING INPUT AND OUTPUT PATH
import os

input_path = "/kaggle/input/tables-pdf"

sources = [os.path.join(input_path, f) for f in os.listdir(input_path) if f.endswith(".pdf")]
print("Source:", sources)

pdf_names = [pdf_path.split("/")[-1] for pdf_path in sources]
print("\n\n")
output_path = "/kaggle/working/"
print("Output path:", output_path)

Source: ['/kaggle/input/tables-pdf/c935e2902adf7040a6ffe0db0f7c11e6.pdf', '/kaggle/input/tables-pdf/national-capitals.pdf', '/kaggle/input/tables-pdf/CA Warn Report.pdf', '/kaggle/input/tables-pdf/659dfd3e5c22a64d7597cb50c6fc455e.pdf', '/kaggle/input/tables-pdf/0e6af4a364ff3fe835bd4e332a2fb9cf.pdf', '/kaggle/input/tables-pdf/f8a04d6beeed137eeb7840a5c459842d.pdf', '/kaggle/input/tables-pdf/78f480a26ad6a8c7c064e9d9fd5b2c4f.pdf']



Output path: /kaggle/working/

In [118]:
processed_tables, total_tokens = get_tables_from_sources(sources, output_path=output_path)

Time taken: 167.5953
Processing c935e2902adf7040a6ffe0db0f7c11e6
10 tables extracted
c935e2902adf7040a6ffe0db0f7c11e6 - input_tokens = total_tokens=1578 cached_content_token_count=None
c935e2902adf7040a6ffe0db0f7c11e6 - output_tokens = total_tokens=64 cached_content_token_count=None
c935e2902adf7040a6ffe0db0f7c11e6 - concatable_tables = [{'table_index': [0, 1, 2, 3, 4, 5, 6, 7]}]

--- Concatenated DataFrame Group 1 ---

|    | Air Jordan IV      | 1989   | In December 1988, Nike released the Air Jordan IV to the public. Designed by Tinker Hatfield, it was the first Air Jordan released on the global market. It had four colorways: White/Black, Black/Cement Grey, White/Fire Red-Black, and Off White/Military Blue. Nike featured director and actor Spike Lee in ads for the shoe. [27]  Lee had featured the shoe in his movie  Do The Right Thing . [25] Michael Jordan wore the Air Jordan IV when he made "The Shot", a series winner in Game 5 of the 1989 NBA First Round between the Chicago Bulls and the Cleveland Cavaliers. In 2012 a Cavalier colorway dubbed the "Cavs" was released to honor "The Shot".   |
|---:|:-------------------|:-------|:-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
|  0 | Air Jordan V       | 1990   | The Air Jordan V was released in February 1990 and designed by Hatfield. Inspired by a WWII Mustang fighter, [25] features include a reflective tongue with a protruding design, translucent rubber soles and lace locks. [28] The Air Jordan V saw a lot of use in popular sitcom  The Fresh Prince of Bel-Air . During many episodes Will Smith wore the Metallic Silver, Grape, and Fire Red colorways. To pay tribute to his character, Jordan released the Air Jordan 5 Bel Air in 2013 and 2020. [29][30]                                                                                                                                                          |
|  1 | Air Jordan VI      | 1991   | Designed after a German sports car, Michael Jordan wore the VI for his first Bulls championship. [25]  The shoes were worn by the protagonist of the manga  Slam Dunk , Hanamichi Sakuragi. In 2014, Nike released special versions of the VI featuring artwork from the series. [31]  Various other models in the Air Jordan line are featured in the series, including the original Air Jordan, the V, and the XII. [32]                                                                                                                                                                                                                                               |
|  2 | Air Jordan VII     | 1992   | The Air Jordan VII introduced "huarache" technology which allowed the shoes to better conform to the user's foot. A few things were no longer featured on the new model, such as the visible air sole, the Nike Air logo, and the translucent soles. This was the first Air Jordan in the line that did not have any distinctive "Nike Air" branding on the outer portions of the shoe, only on the in-soles. When Jordan went to compete at the 1992 Summer Olympics to play for the US Men's Basketball Team (also known as the "Dream Team"), Nike released a special                                                                                                 |
|  3 |                    |        | Olympic color combo of the Air Jordan VII model which had Jordan's Olympic jersey number 9, instead of the usual "23" found on other colorways. [25] Various models of the Air Jordan VII were re-released beginning with its 10-year anniversary in 2002. [33]                                                                                                                                                                                                                                                                                                                                                                                                          |
|  4 | Air Jordan VIII    | 1993   | The Air Jordan VIII was released to coincide with the 1992- 93 NBA season. The eighth model of the Air Jordan contains a full-length air sole, polyurethane midsole, polycarbonate shank plate, and two crossover straps. The VIIIs were known for a successful ad campaign in which Bugs Bunny appeared alongside Michael Jordan to market the shoes. [25]  The shoe was re-released in 2003, 2007, 2008, 2013, and 2015-2017.                                                                                                                                                                                                                                          |
|  5 | Air Jordan IX      | 1993   | Originally released in November 1993, the Air Jordan IX was the first model released after Michael Jordan's retirement. Jordan never played an NBA season wearing these shoes. This model was inspired by baseball cleats that Jordan wore when playing minor-league baseball. [25]  The shoe was re- released in 2002, 2008, 2010, 2012, and 2014-2018. Like the VII and VIII models, the Air Jordan IX featured an inner sock sleeve and nubuck accents. The sole featured different symbols and languages of different countries. The Air Jordan IX is depicted to be worn by the Statue of Michael Jordan inside the United Center in Chicago. [34]                  |
|  6 | Air Jordan X       | 1994   | This was released in different colors representing U.S. cities. It was the first Air Jordan to feature a lightweight Phylon midsole. The shoe also featured all of Michael Jordan's accomplishments up to his first retirement on the outsole. [25] The shoe was re-released in 2005, 2008, 2012-2016, and 2018.                                                                                                                                                                                                                                                                                                                                                         |
|  7 | Air Jordan XI      | 1995   | This model was designed by Tinker Hatfield. When the shoe launched, Michael Jordan (retired from basketball by then) was with the Birmingham Barons in baseball's minor baseball leagues. Hatfield designed the sneaker waiting for Jordan to come back and hoping he would play in them. [35] The ballistic mesh upper of the sneaker was meant to make the Air Jordan XI lighter and more durable. Further changes                                                                                                                                                                                                                                                     |
|  8 |                    | 1996   | Michael Jordan's favorite. [39].The Air Jordan XII featured a "Rising Sun" motif mimicking the Flag of Japan. [25]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       |
|  9 |                    | 1997   | This model had a carbon fiber plate, designed by Hatfield. The black panther was the inspiration for the Air Jordan XIII, with the sole resembling the pads on a panther's paw. A hologram on the back of the shoe imitates a panther's eyes in the dark. [25]  They were re-released in 2005, which coincided with the release of the Air Jordan 8s shoe. In the movie  He Got Game , director Spike Lee had access to the Air Jordan XIII months before it was available to the public or even worn by Jordan himself and featured it in scenes. [37]                                                                                                                  |
| 10 | Air Jordan XIV     | 1998   | Inspired by the Ferrari 550 M which Michael Jordan owned, the Air Jordan XIV was originally released in October 1998. [25]  It was re-released in 2005, 2006, 2008, 2011, 2012 and 2014-2018. The Air Jordan XIV co-styled by Hatfield and Mark Smith was made race ready and equipped with the Jordan Jumpman insignia on a Ferrari shaped badge. The color scheme of predominant black accentuated with red was nicknamed "The Last Shot" because Michael Jordan wore them as he hit the game winning shot over Bryon Russell, of the Utah Jazz,                                                                                                                       |
| 11 |                    |        | in his final game with the Chicago Bulls in the 1998 NBA Finals. There are 14 Jumpman logos-7 on each shoe- corresponding the shoes' number in the series.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               |
| 12 | Air Jordan XV      | 1999   | This was the first shoe after Jordan's retirement. The design was inspired by the North American X-15, which was developed by NASA during the 1950s. The sides of the XV were made from woven kevlar fiber. [25]  The Jordan XVs were Hatfield's least favorite in the series. [38]                                                                                                                                                                                                                                                                                                                                                                                      |
| 13 | Air Jordan XVI     | 2001   | The shoe came with spats, and the design was inspired by performance cars and architecture. The ad campaign featured Mos Def. [25]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       |
| 14 | Air Jordan XVII    | 2002   | This pair of Jordans came with a multimedia CD-ROM containing the Air Jordan XVII song. The retail price of the shoe was US$200. [25]  The defining functional design element of the Air Jordan XVII model, which was later replicated on the Air Jordan XXIII model, was the reinforced mid-sole which provided a sturdy and stable chassis for the shoe. They were made in four mid top colors and three low-top colors. Michael Jordan wore the XVII while playing for the Washington Wizards, after his second retirement return. [41] The shoe was re-released in 2008 and 2016.                                                                                    |
| 15 | Air Jordan XVIII   | 2003   | The Air Jordan XVIII shoe was released during Michael Jordan's last season, in which he played for the Washington Wizards. The shoe was designed by Air Jordan Senior Footwear Designer, Tate Kuerbis, who had been part of the Jordan footwear design team since 1999 and with Nike since 1995. The inspiration for the design came from the carbon fiber- based monocoque of F1 race cars, [25]  race car driving shoes (rubber heel wrap) and Fine Italian dress shoes (bold stitching on the soles). It was re-released in 2008.                                                                                                                                     |
| 16 |                    | 2007   | The XX2 was inspired by the F-22 Raptor. [25]  The promo commercial was directed by Mark Romanek. [44]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   |
| 17 | Air Jordan XX3     | 2008   | The Air Jordan XX3 was designed by Tinker Hatfield. It was the first basketball shoe in the "Nike Considered" category, for using materials from not more than 200 miles (320 km) from a Nike Factory. It features a hand-stitched exterior, full- length bootie, carbon fiber shank plate, the last to feature interchangeable IPS pillars, and an articulated chassis. The shoe was released on January 25, 2008, and was the last Air Jordan until the XX8 to have Roman numeral identification. The shoe was re-released in 2015-2016.                                                                                                                               |
| 18 | Air Jordan 2009    | 2009   | The Air Jordan 2009 was designed by Jason Mayden and was the first Air Jordan model named after the year of its release rather than its numbered system. Inspired by Jordan's defensive focus, the shoe incorporates Articulated Propulsion Technology used by Paralympian runners. It also features a durable pleated silk upper, protective Thermoplastic polyurethane (TPU) chassis, carbon fiber arch plate and Zoom Air structure. The shoe was released on January 31, 2009, and has not been re-released.                                                                                                                                                         |
| 19 | Air Jordan 2010    | 2010   | This was released during the 25th anniversary of the Air Jordan brand. The base of each midsole has stylized text that when combined reads: "I've failed over and over and over again in my life. And that is why I succeed." This quote is a reference to a 1997 advertising campaign, with Michael Jordan detailing his failures that led to his career successes.                                                                                                                                                                                                                                                                                                     |
| 20 | Air Jordan 2012    | 2012   | The Air Jordan 2012 offers six customization configurations. Two interchangeable sleeves and three insoles adapt to different playing styles. The Deluxe model was launched on February 8, while the customization Flight models were released on February 25, 2012. It was the final Air Jordan model to be named after the year it was released as the numbered system returned in 2013 with the Air Jordan XX8.                                                                                                                                                                                                                                                       |
| 21 | Air Jordan XX8     | 2013   | The Air Jordan XX8, designed by Tinker Hatfield, was released on February 16, 2013. The outside shroud was made from a Swiss fabric used for motorcycle jackets. [25]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    |
| 22 | Air Jordan XX9     | 2014   | The Air Jordan XX9, also designed by Hatfield, released in September 2014 in both an elephant print and a knit edition. The shoe debuted in the NBA by Russell Westbrook and Kawhi Leonard. The shoe has a performance woven upper, with areas that are stiff and others that are more flexible. [25] Jordan released two versions, a regular cut and low version. Some of the colorways released in low version are buckets, Chicago bulls, UNC, and infrared.                                                                                                                                                                                                          |
| 23 | Air Jordan XXX     | 2016   | The Air Jordan XXX was again designed by Tinker Hatfield. The first colorway of the shoe released on February 16. [45] The shoe consists of an upper and outsole similar to the XX9. The upper has a flyknit-constructed ankle collar that overextends slightly. The outsole has a more noticeable change, with a different traction pattern, while the midsole remains almost identical.                                                                                                                                                                                                                                                                                |
| 24 | Air Jordan XXXII   | 2017   | The Air Jordan XXXII was influenced by the Air Jordan 2 and included a Jordan "Wings" logo. It first released in the "Rossa Corsa" colorway on September 23, 2017. A "Banned" colorway was released on October 18, 2017. Another special edition called the "Russ" colorway was released to celebrate Russell Westbrook's sponsorship with Jordan Brand. Jordan Brand released 2 types of this shoe, the original mid length cut and low cut. [25]                                                                                                                                                                                                                       |
| 25 | Air Jordan XXXIII  | 2018   | The Air Jordan XXXIII was released on October 18, 2018. This is the first Air Jordan model to go laceless. [48]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          |
| 26 | Air Jordan XXXIV   | 2019   | The Air Jordan XXXIV was released on September 25, 2019, with details such as a commemorative date for the brand's 30th anniversary. [49]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                |

Columns: ['Air Jordan IV', '1989', 'In December 1988, Nike released the Air Jordan IV to the public. Designed by Tinker Hatfield, it was the first Air Jordan released on the global market. It had four colorways: White/Black, Black/Cement Grey, White/Fire Red-Black, and Off White/Military Blue. Nike featured director and actor Spike Lee in ads for the shoe. [27]  Lee had featured the shoe in his movie  Do The Right Thing . [25] Michael Jordan wore the Air Jordan IV when he made "The Shot", a series winner in Game 5 of the 1989 NBA First Round between the Chicago Bulls and the Cleveland Cavaliers. In 2012 a Cavalier colorway dubbed the "Cavs" was released to honor "The Shot".']
Shape: (33, 3)

--- Concatenated DataFrame Group 2 ---

|    | V   ·  T   ·  E   | Nike, Inc.                | [show]   |
|---:|:------------------|:--------------------------|:---------|
|  0 |                   | Links to related articles | [show]   |

Columns: ['V   ·  T   ·  E', 'Nike, Inc.', '[show]']
Shape: (1, 3)

--- Concatenated DataFrame Group 3 ---

|    | Categories:  Sportswear brands   | Categories:  Sportswear brands   | Nike brands   | Michael Jordan   | Products introduced in 1984   | Products introduced in 1984   |
|---:|:---------------------------------|:---------------------------------|:--------------|:-----------------|:------------------------------|:------------------------------|
|  0 | 1980s fashion                    | 1990s fashion                    | 2000s fashion | 2010s fashion    | 2020s fashion                 | Basketball culture            |

Columns: ['Categories:  Sportswear brands', 'Categories:  Sportswear brands', 'Nike brands', 'Michael Jordan', 'Products introduced in 1984', 'Products introduced in 1984']
Shape: (1, 6)
Processed c935e2902adf7040a6ffe0db0f7c11e6
==================================================
Processing national-capitals
6 tables extracted
national-capitals - input_tokens = total_tokens=1396 cached_content_token_count=None
national-capitals - output_tokens = total_tokens=56 cached_content_token_count=None
national-capitals - concatable_tables = [{'table_index': [0, 1, 2, 3, 4, 5]}]

--- Concatenated DataFrame Group 1 ---

|     | Country                                           | Capital                                  | Population    |   %   | Year   |
|----:|:--------------------------------------------------|:-----------------------------------------|:--------------|:------|:-------|
|   0 | Afghanistan                                       | Kabul                                    | 4601789       |       |        |
|   1 | Albania                                           | Tirana                                   | 557422        |       |        |
|   2 | Algeria                                           | Algiers                                  | 3915811       |       |        |
|   3 | American Samoa (USA)                              | Pago Pago                                | 3656          |       |        |
|   4 | Andorra                                           | Andorra la Vella                         | 22873         |       |        |
|   5 | Angola                                            | Luanda                                   | 2571861       |       |        |
|   6 | Anguilla (UK)                                     | The Valley                               | 1067          |       |        |
|   7 | Antigua and Barbuda                               | St. John's                               | 22219         |       |        |
|   8 | Argentina                                         | Buenos Aires                             | 2891082       |       |        |
|   9 | Armenia                                           | Yerevan                                  | 1096100       |       |        |
|  10 | Aruba (Netherlands)                               | Oranjestad                               | 28294         |       |        |
|  11 | Australia                                         | Canberra                                 | 431380        |       |        |
|  12 | Austria                                           | Vienna                                   | 1962779       |       |        |
|  13 | Azerbaijan                                        | Baku                                     | 2303100       |       |        |
|  14 | Bahamas                                           | Nassau                                   | 274400        |       |        |
|  15 | Bahrain                                           | Manama                                   | 200000        |       |        |
|  16 | Bangladesh                                        | Dhaka                                    | 8906039       |       |        |
|  17 | Barbados                                          | Bridgetown                               | 110000        |       |        |
|  18 | Belarus                                           | Minsk                                    | 1996553       |       |        |
|  19 | Belgium                                           | Brussels                                 | 187686        |       |        |
|  20 | Belize                                            | Belmopan                                 | 20621         |       |        |
|  21 | Benin                                             | Porto-Novo                               | 264320        |       |        |
|  22 | Bermuda (UK)                                      | Hamilton                                 | 854           |       |        |
|  23 | Bhutan                                            | Thimphu                                  | 114551        |       |        |
|  24 | Bolivia                                           | Sucre                                    | 360544        |       |        |
|  25 | Bosnia and Herzegovina                            | Sarajevo                                 | 275524        |       |        |
|  26 | Botswana                                          | Gaborone                                 | 273602        |       |        |
|  27 | Brazil                                            | Brasília                                 | 2648532       |       |        |
|  28 | British Virgin Islands (UK)                       | Road Town                                | 12603         |       |        |
|  29 | Brunei                                            | Bandar Seri Begawan                      | 100700        |       |        |
|  30 | Bulgaria                                          | Sofia                                    | 1307439       |       |        |
|  31 | Burkina Faso                                      | Ouagadougou                              | 2453496       |       |        |
|  32 | Burundi                                           | Gitega                                   | 135467        |       |        |
|  33 | Cambodia                                          | Phnom Penh                               | 2281951       |       |        |
|  34 | Cameroon                                          | Yaoundé                                  | 2765568       |       |        |
|  35 | Canada                                            | Ottawa                                   | 1017449       |       |        |
|  36 | Cape Verde                                        | Praia                                    | 159050        |       |        |
|  37 | Cayman Islands (UK)                               | George Town                              | 34399         |       |        |
|  38 | Central African Republic                          | Bangui                                   | 889231        |       |        |
|  39 | Chad                                              | N'Djamena                                | 916000        |       |        |
|  40 | Chile                                             | Santiago                                 | 6310000       |       |        |
|  41 | China                                             | Beijing                                  | 21542000      |       |        |
|  42 | Christmas Island (Australia)                      | Flying Fish Cove                         | 1599          |       |        |
|  43 | Cocos (Keeling) Islands (Australia)               | West Island                              | 134           |       |        |
|  44 | Colombia                                          | Bogotá                                   | 7181469       |       |        |
|  45 | Comoros                                           | Moroni                                   | 111326        |       |        |
|  46 | Congo                                             | Brazzaville                              | 1696392       |       |        |
|  47 | Cook Islands (NZ)                                 | Avarua                                   | 4906          |       |        |
|  48 | Costa Rica                                        | San José                                 | 342188        |       |        |
|  49 | Croatia                                           | Zagreb                                   | 769944        |       |        |
|  50 | Cuba                                              | Havana                                   | 2132183       |       |        |
|  51 | Curaçao (Netherlands)                             | Willemstad                               | 136660        |       |        |
|  52 | Cyprus                                            | Nicosia                                  | 326739        |       |        |
|  53 | Czech Republic                                    | Prague                                   | 1275406       |       |        |
|  54 | DR Congo                                          | Kinshasa                                 | 12691000      |       |        |
|  55 | Denmark                                           | Copenhagen                               | 638117        |       |        |
|  56 | Djibouti                                          | Djibouti (city)                          | 604013        |       |        |
|  57 | Dominica                                          | Roseau                                   | 14725         |       |        |
|  58 | Dominican Republic                                | Santo Domingo                            | 1111838       |       |        |
|  59 | East Timor                                        | Dili                                     | 277279        |       |        |
|  60 | Ecuador                                           | Quito                                    | 2800388       |       |        |
|  61 | Egypt                                             | Cairo                                    | 10107125      |       |        |
|  62 | El Salvador                                       | San Salvador                             | 570459        |       |        |
|  63 | Equatorial Guinea                                 | Malabo                                   | 297000        |       |        |
|  64 | Eritrea                                           | Asmara                                   | 963000        |       |        |
|  65 | Estonia                                           | Tallinn                                  | 438341        |       |        |
|  66 | Eswatini                                          | Mbabane                                  | 94874         |       |        |
|  67 | Jamaica                                           | Kingston                                 | 662491        |       |        |
|  68 | Japan                                             | Tokyo                                    | 13921000      |       |        |
|  69 | Jersey (UK)                                       | Saint Helier                             | 37540         |       |        |
|  70 | Jordan                                            | Amman                                    | 4061150       |       |        |
|  71 | Kazakhstan                                        | Astana                                   | 1239900       |       |        |
|  72 | Kenya                                             | Nairobi                                  | 4397073       |       |        |
|  73 | Kiribati                                          | Tarawa                                   | 70480         |       |        |
|  74 | Kosovo                                            | Pristina                                 | 198897        |       |        |
|  75 | Kuwait                                            | Kuwait City                              | 2989000       |       |        |
|  76 | Kyrgyzstan                                        | Bishkek                                  | 1074075       |       |        |
|  77 | Laos                                              | Vientiane                                | 927724        |       |        |
|  78 | Latvia                                            | Riga                                     | 605802        |       |        |
|  79 | Lebanon                                           | Beirut                                   | 361366        |       |        |
|  80 | Lesotho                                           | Maseru                                   | 330760        |       |        |
|  81 | Liberia                                           | Monrovia                                 | 1010970       |       |        |
|  82 | Libya                                             | Tripoli                                  | 1170000       |       |        |
|  83 | Liechtenstein                                     | Vaduz                                    | 5774          |       |        |
|  84 | Lithuania                                         | Vilnius                                  | 576195        |       |        |
|  85 | Luxembourg                                        | Luxembourg City                          | 124509        |       |        |
|  86 | Macau                                             | Macau                                    | 671900        |       |        |
|  87 | Madagascar                                        | Antananarivo                             | 1275207       |       |        |
|  88 | Malawi                                            | Lilongwe                                 | 989318        |       |        |
|  89 | Malaysia                                          | Kuala Lumpur                             | 1782500       |       |        |
|  90 | Maldives                                          | Malé                                     | 133412        |       |        |
|  91 | Mali                                              | Bamako                                   | 1809106       |       |        |
|  92 | Malta                                             | Valletta                                 | 5827          |       |        |
|  93 | Marshall Islands                                  | Majuro                                   | 27797         |       |        |
|  94 | Mauritania                                        | Nouakchott                               | 1195600       |       |        |
|  95 | Mauritius                                         | Port Louis                               | 147066        |       |        |
|  96 | Mexico                                            | Mexico City                              | 9209944       |       |        |
|  97 | Micronesia                                        | Palikir                                  | 6647          |       |        |
|  98 | Moldova                                           | Chişinău                                 | 779300        |       |        |
|  99 | Monaco                                            | Monaco                                   |               |       |        |
| 100 | Mongolia                                          | Ulaanbaatar                              | 1466125       |       |        |
| 101 | Montenegro                                        | Podgorica                                | 190488        |       |        |
| 102 | Montserrat (UK)                                   | Brades (de facto) - Plymouth (de jure)   | 449 - 0       |       | 2011   |
| 103 | Morocco                                           | Rabat                                    | 577827        |       |        |
| 104 | Mozambique                                        | Maputo                                   | 1124988       |       |        |
| 105 | Myanmar                                           | Naypyidaw                                | 1160242       |       |        |
| 106 | Namibia                                           | Windhoek                                 | 431000        |       |        |
| 107 | Nauru                                             | Yaren (de facto)                         | 747           |       |        |
| 108 | Nepal                                             | Kathmandu                                | 845767        |       |        |
| 109 | Netherlands                                       | Amsterdam                                | 905234        |       |        |
| 110 | New Caledonia (France)                            | Nouméa                                   | 94285         |       |        |
| 111 | New Zealand                                       | Wellington                               | 217000        |       |        |
| 112 | Nicaragua                                         | Managua                                  | 1055247       |       |        |
| 113 | Niger                                             | Niamey                                   | 1334984       |       |        |
| 114 | Nigeria                                           | Abuja                                    | 1235880       |       |        |
| 115 | Niue (NZ)                                         | Alofi                                    | 597           |       |        |
| 116 | Norfolk Island (Australia)                        | Kingston                                 | 341           |       | 2015   |
| 117 | North Korea                                       | Pyongyang                                | 2870000       |       |        |
| 118 | North Macedonia                                   | Skopje                                   | 544086        |       |        |
| 119 | Northern Mariana Islands (USA)                    | Saipan                                   | 47565         |       |        |
| 120 | Norway                                            | Oslo                                     | 697010        |       |        |
| 121 | Oman                                              | Muscat                                   | 1294101       |       |        |
| 122 | Pakistan                                          | Islamabad                                | 1014825       |       |        |
| 123 | Palau                                             | Ngerulmud                                | 271           |       |        |
| 124 | Palestine                                         | Ramallah (de facto)                      | 38998         |       |        |
| 125 | Panama                                            | Panama City                              | 880691        |       |        |
| 126 | Papua New Guinea                                  | Port Moresby                             | 364145        |       |        |
| 127 | Paraguay                                          | Asunción                                 | 521559        |       |        |
| 128 | Peru                                              | Lima                                     | 8852000       |       |        |
| 129 | Philippines                                       | Manila                                   | 1846513       |       |        |
| 130 | Pitcairn Islands (UK)                             | Adamstown                                |               |       |        |
| 131 | Poland                                            | Warsaw                                   | 1863056       |       |        |
| 132 | Portugal                                          | Lisbon                                   | 509614        |       |        |
| 133 | Puerto Rico (US)                                  | San Juan                                 | 342259        |       |        |
| 134 | Qatar                                             | Doha                                     | 1186023       |       |        |
| 135 | Republic of Artsakh                               | Stepanakert                              | 75000         |       |        |
| 136 | Romania                                           | Bucharest                                | 1716983       |       |        |
| 137 | Russia                                            | Moscow                                   | 12655050      |       |        |
| 138 | Rwanda                                            | Kigali                                   | 1132686       |       |        |
| 139 | Sahrawi Arab Democratic Republic                  | Laayoune (claimed) - Tifariti (de facto) | 217732 - 3000 |       |        |
| 140 | Saint Barthélemy (France)                         | Gustavia                                 | 2615          |       |        |
| 141 | Saint Helena (UK)                                 | Jamestown                                | 629           |       |        |
| 142 | Saint Kitts and Nevis                             | Basseterre                               | 14000         |       |        |
| 143 | Saint Lucia                                       | Castries                                 | 20000         |       |        |
| 144 | Saint Martin (France)                             | Marigot                                  | 3229          |       |        |

Columns: ['Country', 'Capital', 'Population', '  %', 'Year']
Shape: (204, 5)
Processed national-capitals
==================================================
Processing CA Warn Report
17 tables extracted
CA Warn Report - input_tokens = total_tokens=6466 cached_content_token_count=None
CA Warn Report - output_tokens = total_tokens=123 cached_content_token_count=None
CA Warn Report - concatable_tables = [{'table_index': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]}, {'table_index': [15, 16]}]

--- Concatenated DataFrame Group 1 ---

|     | Notice Date   | Effective    | Received    | Company                                               | City              |   No. Of  | Layoff/Closure               |
|----:|:--------------|:-------------|:------------|:------------------------------------------------------|:------------------|----------:|:-----------------------------|
|   0 |               | 03/25/20     | 07/01/20    | Maxim Integrated Product                              | San Jose          |       150 | Closure Permanent            |
|   1 |               | 08/29/20     | 07/01/20    | McGraw-Hill Education                                 | Monterey          |       137 | Layoff Unknown at this time  |
|   2 |               | 08/30/20     | 07/01/20    | Long Beach Memorial Medical Center                    | Long Beach        |        90 | Layoff Permanent             |
|   3 |               | 09/02/20     | 07/01/20    | Leidos                                                | El Segundo        |        72 | Layoff Permanent             |
|   4 |               | 09/30/20     | 07/01/20    | Bosch Healthcare Systems, Inc.                        | Palo Alto         |        55 | Closure Permanent            |
|   5 |               | 09/01/20     | 07/02/20    | Encompass Digital Media, Inc.                         | Los Angeles       |        41 | Closure Permanent            |
|   6 |               | 07/06/20     | 07/02/20    | Alphatec Spine                                        | Carlsbad          |        99 | Layoff Permanent             |
|   7 |               | 08/07/20     | 07/06/20    | Symantec Corporation                                  | Mountain View     |        60 | Layoff Permanent             |
|   8 |               | 08/31/20     | 07/06/20    | Fusion Contacts Centers, LLC                          | Santa Maria       |        50 | Closure Permanent            |
|   9 |               | 09/15/20     | 07/06/20    | KLA-Tencor Corporation                                | Milpitas          |       213 | Layoff Permanent             |
|  10 |               | 09/04/20     | 07/06/20    | Southern California Edison Company                    | San Clemente      |       100 | Closure Permanent            |
|  11 |               | 09/01/20     | 07/06/20    | State Fish Company, Inc.                              | Wilmington        |        76 | Closure Permanent            |
|  12 |               | 09/04/20     | 07/06/20    | Boeing Company                                        | Long Beach        |        56 | Layoff Unknown at this time  |
|  13 |               | 09/04/20     | 07/06/20    | Bridgepoint Education, Inc.                           | San Diego         |         7 | Layoff Permanent             |
|  14 |               | 09/04/20     | 07/06/20    | Bridgepoint Education, Inc.                           | San Diego         |        15 | Layoff Permanent             |
|  15 |               | 06/29/20     | 07/07/20    | BAE Systems                                           | San Francisco     |         4 | Layoff Temporary             |
|  16 |               | 06/29/20     | 07/07/20    | BAE Systems                                           | San Francisco     |        78 | Layoff Temporary             |
|  17 |               | 09/07/20     | 07/07/20    | Bay Bread LLC dba Bakery Los Angeles                  | San Fernando      |        50 | Closure Permanent            |
|  18 |               | 09/25/20     | 07/07/20    | Bay Bread LLC dba New French Bakery                   | South San         |       121 | Closure Permanent            |
|  19 |               | 06/12/20     | 07/07/20    | Hewlett-Packard Company                               | Palo Alto         |        65 | Layoff Permanent             |
|  20 |               | 09/06/20     | 07/08/20    | Microsoft Corporation                                 | San Diego         |       129 | Layoff Permanent             |
|  21 |               | 10/09/20     | 07/10/20    | Aramark Healthcare Support Services,                  | Culver City       |        53 | Closure Permanent            |
|  22 |               | 09/10/20     | 07/10/20    | Maxim Integrated Product                              | San Jose          |        20 | Layoff Permanent             |
|  23 |               | 09/04/20     | 07/10/20    | ProCourier, Inc.                                      | San Diego         |        22 | Layoff Unknown at this time  |
|  24 |               | 09/04/20     | 07/10/20    | ProCourier, Inc.                                      | Los Angeles       |        71 | Layoff Unknown at this time  |
|  25 |               | 09/04/20     | 07/10/20    | ProCourier, Inc.                                      | Irvine            |        22 | Layoff Unknown at this time  |
|  26 |               | 07/22/20     | 07/10/20    | Berkeley Pyramid Alehouse                             | Berkeley          |        63 | Closure Permanent            |
|  27 |               | 09/14/20     | 07/10/20    | Fireman's Fund Insurance Company                      | Novato            |        35 | Layoff Permanent             |
|  28 |               | 08/31/20     | 07/13/20    | First Transit                                         | San Bernardino    |       127 | Layoff Permanent             |
|  29 |               | 08/31/20     | 07/13/20    | First Transit                                         | Rancho            |        71 | Layoff Permanent             |
|  30 |               | 07/14/20     | 07/13/20    | 11 Main LLC                                           | San Mateo         |        35 | Closure Permanent            |
|  31 |               | 07/14/20     | 07/13/20    | 11 Main LLC                                           | Chico             |        44 | Layoff Permanent             |
|  32 |               | 07/15/20     | 07/15/20    | TaylorMade Golf Company                               | Carlsbad          |        64 | Layoff Permanent             |
|  33 |               | 09/06/20     | 07/16/20    | Southern California Edison Company                    | Rosemead          |        38 | Layoff Permanent             |
|  34 |               | 09/18/20     | 07/20/20    | Actavis, Inc.                                         | Corona            |        45 | Layoff Permanent             |
|  35 |               | 07/13/20     | 07/21/20    | American Management Services LLC                      | Monterey          |        56 | Closure Permanent            |
|  36 |               | 09/18/20     | 07/21/20    | Boeing Company                                        | Huntington Beach  |        65 | Layoff Unknown at this time  |
|  37 |               | 09/18/20     | 07/21/20    | Boeing Company                                        | Long Beach        |       113 | Layoff Unknown at this time  |
|  38 |               | 09/18/20     | 07/21/20    | Boeing Company                                        | El Segundo        |        66 | Layoff Unknown at this time  |
|  39 |               | 09/25/20     | 07/21/20    | Maxim Integrated Product                              | San Jose          |        11 | Layoff Permanent             |
|  40 |               | 09/26/20     | 07/21/20    | DS Services of America, Inc.                          | Los Angeles       |       120 | Closure Permanent            |
|  41 |               | 09/26/20     | 07/21/20    | DS Services of America, Inc.                          | Pasadena          |       200 | Closure Permanent            |
|  42 |               | 09/18/20     | 07/21/20    | Minno, Inc.                                           | San Francisco     |       255 | Closure Permanent            |
|  43 |               | 09/18/20     | 07/21/20    | Safeway, Inc.                                         | Pleasanton        |        14 | Layoff Unknown at this time  |
|  44 |               | 09/15/20     | 07/22/20    | Oakley, Inc.                                          | Foothill Ranch    |       137 | Layoff Unknown at this time  |
|  45 |               | 09/15/20     | 07/22/20    | Oakley, Inc.                                          | Lake Forest       |        22 | Layoff Unknown at this time  |
|  46 |               | 09/15/20     | 07/22/20    | Oakley, Inc.                                          | Encinitas         |         8 | Layoff Unknown at this time  |
|  47 |               | 12/31/20     | 07/22/20    | Toyota Motor North America                            | Gardena           |       100 | Closure Permanent            |
|  48 |               | 12/31/20     | 07/22/20    | Toyota Motor North America                            | Torrance          |      3000 | Closure Permanent            |
|  49 |               | 07/22/20     | 07/22/20    | Cisco Systems, Inc.                                   | San Jose          |       192 | Layoff Permanent             |
|  50 |               | 09/30/20     | 07/23/20    | IAP Worldwide Services, Inc.                          | Mountain View     |        67 | Layoff Permanent             |
|  51 |               | 09/15/20     | 07/23/20    | Presse LLC dba Cafe de la Presse and                  | San Francisco     |        85 | Closure Temporary            |
|  52 |               | 10/04/20     | 07/24/20    | Sears Holdings Corporation                            | Cupertino         |        81 | Closure Permanent            |
|  53 |               | 10/04/20     | 07/24/20    | Sears Holdings Corporation                            | Cupertino         |        17 | Closure Permanent            |
|  54 |               | 09/14/20     | 07/24/20    | Associate Management Resources, Inc.                  | San Diego         |       533 | Closure Permanent            |
|  55 |               | 10/11/20     | 07/27/20    | Kmart                                                 | Atwater           |        74 | Closure Permanent            |
|  56 |               | 09/25/20     | 07/27/20    | Safeway, Inc.                                         | Pleasanton        |        37 | Layoff Unknown at this time  |
|  57 |               | 09/30/20     | 07/29/20    | Hank Fisher Properties, Inc. - Chateau at  Carmichael |                   |        57 | Layoff Permanent             |
|  58 |               | 09/30/20     | 07/29/20    | Hank Fisher Properties, Inc. - Chateau                | Sacramento        |        42 | Layoff Permanent             |
|  59 |               | 09/30/20     | 07/29/20    | Hank Fisher Properties, Inc. - River's                | Sacramento        |        34 | Layoff Permanent             |
|  60 |               | 09/30/20     | 07/29/20    | Hank Fisher Properties, Inc. - The                    | Sacramento        |        89 | Layoff Permanent             |
|  61 |               | 10/15/20     | 07/29/20    | Hank Fisher Properties, Inc.                          | Sacramento        |         7 | Layoff Permanent             |
|  62 |               | 12/31/20     | 07/29/20    | Hank Fisher Properties, Inc. - Leisure                | Sacramento        |        13 | Layoff Permanent             |
|  63 |               | 09/30/20     | 07/29/20    | SPS Distribution Center                               | Paso Robles       |         8 | Closure Permanent            |
|  64 |               | 07/31/20     | 07/30/20    | Turf Terminators, LLC                                 | Los Angeles       |        94 | Layoff Permanent             |
|  65 |               | 07/28/20     | 07/30/20    | Relativity Media                                      | Beverly Hills     |        33 | Layoff Permanent             |
|  66 |               | 07/28/20     | 07/30/20    | Relativity Media                                      | Beverly Hills     |        28 | Layoff Permanent             |
|  67 |               | 09/28/20     | 07/30/20    | Buca Restaurants 2, Inc.(CANCELLED)** Santa Monica    |                   |        61 | Closure Permanent            |
|  68 |               | 09/30/20     | 07/30/20    | United Technologies Corporation                       | San Diego         |        21 | Closure Permanent            |
|  69 |               | 09/26/20     | 07/31/20    | Kixeye, Inc.                                          | San Francisco     |        62 | Layoff Permanent             |
|  70 |               | 10/02/20     | 07/31/20    | Boston Scientific Corporation                         | Fremont           |       284 | Closure Permanent            |
|  71 |               | 10/02/20     | 07/31/20    | Boston Scientific Corporation                         | San Jose          |       171 | Closure Permanent            |
|  72 |               | 09/30/20     | 08/03/20    | Ruan Transportation Corporation                       | Ripon             |        78 | Closure Permanent            |
|  73 |               | 09/30/20     | 08/03/20    | Armstrong Growers                                     | San Juan          |        56 | Closure Permanent            |
|  74 |               | 09/28/20     | 08/03/20    | CR Briggs Corporation                                 | Trona             |         5 | Layoff Permanent             |
|  75 |               | 08/03/20     | 08/03/20    | Molycorp Minerals LLC                                 | Mountain Pass     |       474 | Layoff Permanent             |
|  76 |               | 09/30/20     | 08/03/20    | Binder & Binder                                       | Orange            |        70 | Closure Permanent            |
|  77 |               | 09/30/20     | 08/03/20    | Driscoll's Strawberry Associates, Inc.                | Salinas           |        38 | Closure Permanent            |
|  78 |               | 10/23/20     | 08/04/20    | Hilton San Francisco Union Square                     | San Francisco     |        78 | Layoff Permanent             |
|  79 |               | 10/05/20     | 08/04/20    | Owens-Brockway Glass Container Inc.                   | Oakland           |       202 | Closure Permanent            |
|  80 |               | 07/30/20     | 08/05/20    | Abbott Vascular                                       | Temecula          |       133 | Layoff Permanent             |
|  81 |               | 07/30/20     | 08/05/20    | Abbott Vascular                                       | Temecula          |         3 | Layoff Permanent             |
|  82 |               | 07/30/20     | 08/05/20    | Abbott Vascular                                       | Temecula          |        27 | Layoff Permanent             |
|  83 |               | 07/30/20     | 08/05/20    | Abbott Vascular                                       | Santa Clara       |        81 | Layoff Permanent             |
|  84 |               | 09/11/20     | 08/07/20    | Anna's Linens, Inc.                                   | Costa Mesa        |        29 | Closure Permanent            |
|  85 |               | 10/02/20     | 08/10/20    | Boeing Company                                        | Long Beach        |         8 | Layoff Unknown at this time  |
|  86 |               | 10/09/20     | 08/10/20    | Safeway, Inc.                                         | Pleasanton        |        37 | Layoff Unknown at this time  |
|  87 |               | 10/05/20     | 08/11/20    | CGR/Thompson Industries, Inc.                         | Fullerton         |       102 | Closure Permanent            |
|  88 |               | 10/15/20     | 08/12/20    | BI NUTRACEUTICALS, INC.                               | Long Beach        |        54 | Layoff Permanent             |
|  89 |               | 09/30/20     | 08/13/20    | Lyris, Inc.                                           | Emeryville        |        72 | Layoff Permanent             |
|  90 |               | 09/30/20     | 08/13/20    | Lyris, Inc.                                           | Santa Clara       |         7 | Layoff Permanent             |
|  91 |               | 10/09/20     | 08/13/20    | Ralphs Grocery Company                                | Pico Rivera       |        67 | Layoff Permanent             |
|  92 |               | 10/12/20     | 08/13/20    | Chevron                                               | San Ramon         |       430 | Layoff Permanent             |
|  93 |               | 10/12/20     | 08/13/20    | Chevron                                               | Richmond          |        70 | Layoff Permanent             |
|  94 |               | 10/16/20     | 08/13/20    | Quest Diagnostics Incorporated                        | San Jose          |        78 | Layoff Permanent             |
|  95 |               | 10/23/20     | 08/13/20    | Motorola Mobility LLC                                 | Sunnyvale         |       213 | Layoff Permanent             |
|  96 |               | 10/14/20     | 08/14/20    | Raytheon Intelligence, Information &                  | Chula Vista       |        41 | Closure Unknown at this time |
|  97 |               | 10/13/20     | 08/17/20    | Haggen, Inc. (Store #2154)                            | Newbury Park      |        38 | Closure Permanent            |
|  98 |               | 10/13/20     | 08/17/20    | Haggen, Inc. (Store #2157)                            | Simi Valley       |        48 | Closure Permanent            |
|  99 |               | 10/13/20     | 08/17/20    | Haggen, Inc. (Store #2199)                            | Simi Valley       |        53 | Closure Permanent            |
| 100 |               | 10/13/20     | 08/17/20    | Haggen, Inc. (Store #2201)                            | Irvine            |        47 | Closure Permanent            |
| 101 |               | 10/13/20     | 08/17/20    | Haggen, Inc. (Store #2203)                            | Mission Viejo     |        41 | Closure Permanent            |
| 102 |               | 10/13/20     | 08/17/20    | Haggen, Inc. (Store #2213)                            | Santa Clarita     |        33 | Closure Permanent            |
| 103 |               | 10/13/20     | 08/17/20    | Haggen, Inc. (Store #2215)                            | Tustin            |        33 | Closure Permanent            |
| 104 |               | 10/13/20     | 08/17/20    | Haggen, Inc. (Store #2216)                            | Tustin            |        36 | Closure Permanent            |
| 105 |               | 10/16/20     | 08/18/20    | Sky Aerospace Products                                | Los Angeles       |        53 | Closure Permanent            |
| 106 |               | 10/16/20     | 08/18/20    | Ralphs Grocery Company                                | Hermosa Beach     |        74 | Layoff Permanent             |
| 107 |               | 10/13/20     | 08/18/20    | Haggen, Inc. (Store #2183)                            | El Cajon          |        49 | Closure Permanent            |
| 108 |               | 10/13/20     | 08/18/20    | Haggen, Inc. (Store #2185)                            | La Mesa           |        37 | Closure Permanent            |
| 109 |               | 10/13/20     | 08/18/20    | Haggen, Inc. (Store #2191)                            | San Marcos        |        36 | Closure Permanent            |
| 110 |               | 10/13/20     | 08/18/20    | Haggen, Inc. (Store #2193)                            | Chula Vista       |        37 | Closure Permanent            |
| 111 |               | 10/13/20     | 08/18/20    | Haggen, Inc. (Store #2194)                            | Chula Vista       |        31 | Closure Permanent            |
| 112 |               | 10/13/20     | 08/18/20    | Haggen, Inc. (Store #2207)                            | San Ysidro        |        41 | Closure Permanent            |
| 113 |               | 10/13/20     | 08/18/20    | Haggen, Inc. (Store #2208)                            | Bakersfield       |        36 | Closure Permanent            |

Columns: ['Notice Date', 'Effective ', 'Received ', 'Company', 'City', 'No. Of ', 'Layoff/Closure']
Shape: (633, 7)

--- Concatenated DataFrame Group 2 ---

|    | Summary by  Month   |   Notices |  Employees  Affected   |   Permanent  Layoff |   Temporary  Layoff |   Not Identified  Layoff |   Permanent  Closure |   Temporary  Closure |   Not Identified Closure |
|---:|:--------------------|----------:|:-----------------------|--------------------:|--------------------:|-------------------------:|---------------------:|---------------------:|-------------------------:|
|  0 | July 2015           |        71 | 8,574                  |                  30 |                   2 |                       13 |                   25 |                    1 |                        0 |
|  1 | August 2015         |        69 | 5,890                  |                  28 |                   2 |                        7 |                   31 |                    0 |                        1 |
|  2 | September 2015      |        76 | 4,864                  |                  47 |                   2 |                       18 |                    7 |                    2 |                        0 |
|  3 | October 2015        |        71 | 6,102                  |                  38 |                   1 |                        8 |                   19 |                    2 |                        3 |
|  4 | November 2015       |        41 | 2,940                  |                  13 |                   0 |                       13 |                   10 |                    3 |                        2 |
|  5 | December 2015       |        69 | 8,729                  |                  21 |                   2 |                        7 |                   35 |                    2 |                        2 |
|  6 | January 2016        |        85 | 6,617                  |                  28 |                   0 |                        7 |                   47 |                    0 |                        3 |
|  7 | February 2016       |        92 | 6,899                  |                  52 |                   2 |                       12 |                   24 |                    1 |                        1 |
|  8 | March 2016          |        58 | 2,839                  |                  38 |                   0 |                        5 |                   14 |                    1 |                        0 |
|  9 | Total               |       632 | 53,454                 |                 295 |                  11 |                       90 |                  212 |                   12 |                       12 |

Columns: ['Summary by  Month', 'Notices', ' Employees  Affected', 'Permanent  Layoff', 'Temporary  Layoff', 'Not Identified  Layoff', 'Permanent  Closure', 'Temporary  Closure', 'Not Identified Closure']
Shape: (10, 9)
Processed CA Warn Report
==================================================
Processing 659dfd3e5c22a64d7597cb50c6fc455e
7 tables extracted
659dfd3e5c22a64d7597cb50c6fc455e - input_tokens = total_tokens=1452 cached_content_token_count=None
659dfd3e5c22a64d7597cb50c6fc455e - output_tokens = total_tokens=44 cached_content_token_count=None
659dfd3e5c22a64d7597cb50c6fc455e - concatable_tables = [{'table_index': [0, 1, 2]}]

--- Concatenated DataFrame Group 1 ---

|    | Year   | Title                                         | Role                    | Director                     | Notes                                                                          |
|---:|:-------|:----------------------------------------------|:------------------------|:-----------------------------|:-------------------------------------------------------------------------------|
|  0 | 2000   | A Man Is Mostly Water                         | Augie                   | Fred Parnes                  |                                                                                |
|  1 | 2001   | Delivering Milo                               | Milo                    | Nick Castle                  |                                                                                |
|  2 | 2001   | 15 Minutes                                    | Boy in Burning Building | John Herzfeld                |                                                                                |
|  3 | 2001   | Along Came a Spider                           | Dimitri Starodubov      | Lee Tamahori                 |                                                                                |
|  4 | 2001   | Hearts in Atlantis                            | Bobby Garfield          | Scott Hicks                  |                                                                                |
|  5 | 2002   | A Time for Dancing                            | Jackson                 | Peter Gilbert                |                                                                                |
|  6 |        | Rooftop Kisses                                | Charlie                 | Andrew Bernstein             |                                                                                |
|  7 | 2004   | House of D                                    | Tommy Warshaw           | David Duchovny               |                                                                                |
|  8 | 2005   | Fierce People                                 | Finn Earl               | Griffin Dunne                |                                                                                |
|  9 | 2006   | Alpha Dog                                     | Zack Mazursky           | Nick Cassavetes              |                                                                                |
| 10 | 2007   | Charlie Bartlett                              | Charlie Bartlett        | Jon Poll                     |                                                                                |
| 11 | 2008   | New York, I Love You                          | Boy in the Park         | Brett Ratner                 | Segment: "Brett Ratner"                                                        |
| 12 | 2008   | Middle of Nowhere                             | Dorian Spitz            | John Stockwell               |                                                                                |
| 13 | 2009   | Star Trek                                     | Pavel Chekov            | J. J. Abrams                 |                                                                                |
| 14 | 2009   | Terminator Salvation                          | Kyle Reese              | McG                          | Also plays physical embodiment of Skynet (uncredited) in a Kyle Reese disguise |
| 15 | 2010   | Memoirs of a Teenage Amnesiac                 | Ace Zuckerman           | Hans Canosa                  |                                                                                |
| 16 | 2011   | Like Crazy                                    | Jacob Helm              | Drake Doremus                |                                                                                |
| 17 | 2011   | You and I                                     | Edvard Nikitin          | Roland Joffé                 |                                                                                |
| 18 | 2011   | The Beaver                                    | Porter Black            | Jodie Foster                 |                                                                                |
| 19 | 2011   | From Up on Poppy Hill                         | Shun Kazama             | Gorō Miyazaki                | Voice (English dub)                                                            |
| 20 | 2011   | The Smurfs                                    | Clumsy Smurf            | Raja Gosnell                 | Voice                                                                          |
| 21 | 2011   | The Smurfs: A Christmas Carol                 | Clumsy Smurf            | Troy Quane                   | Short film; voice                                                              |
| 22 | 2011   | Fright Night                                  | Charley Brewster        | Craig Gillespie              |                                                                                |
| 23 | 2012   | The Pirates! Band of Misfits                  | Albino pirate           | Peter Lord                   | Voice (American dub)                                                           |
| 24 | 2013   | Odd Thomas                                    | Odd Thomas              | Stephen Sommers              |                                                                                |
| 25 | 2013   | Star Trek Into Darkness                       | Pavel Chekov            | J. J. Abrams                 |                                                                                |
| 26 | 2013   | Only Lovers Left Alive                        | Ian                     | Jim Jarmusch                 |                                                                                |
| 27 |        | The Smurfs: The Legend of Smurfy Hollow       | Clumsy Smurf            | Stephan Franck               | Short film; voice                                                              |
| 28 |        | The Smurfs 2                                  | Clumsy Smurf            | Raja Gosnell                 | Voice                                                                          |
| 29 |        | Fool                                          | Oliver                  | Jacob Gentry                 | Short film [59]                                                                |
| 30 |        | After the Disco Part Two: Holding On for Life | Oliver                  | Jacob Gentry                 | Short film [59]                                                                |
| 31 | 2014   | The Apprentice                                | Wayne                   | Steve Baker and Damon Escott | Short film; deleted  Movie 43 segment                                          |
| 32 | 2014   | Rudderless                                    | Quentin                 | William H. Macy              |                                                                                |
| 33 | 2014   | 5 to 7                                        | Brian Bloom             | Victor Levin                 |                                                                                |
| 34 | 2014   | Cymbeline                                     | Cloten                  | Michael Almereyda            |                                                                                |
| 35 | 2014   | Burying the Ex                                | Max                     | Joe Dante                    |                                                                                |
| 36 | 2014   | Dying of the Light                            | Milton Schultz          | Paul Schrader                |                                                                                |
| 37 | 2015   | Experimenter                                  | Rensaleer               | Michael Almereyda            |                                                                                |
| 38 | 2015   | Broken Horses                                 | Jacob Heckum            | Vidhu Vinod Chopra           |                                                                                |
| 39 | 2015   | The Driftless Area                            | Pierre                  | Zachary Sluser               |                                                                                |
| 40 | 2015   | Green Room                                    | Pat                     | Jeremy Saulnier              |                                                                                |
| 41 | 2015   | Court of Conscience                           | Father James            | James Haven                  | Short film [60][61]                                                            |
| 42 | 2015   | Unity                                         | Narrator                | Shaun Monson                 | Documentary [62]                                                               |
| 43 | 2016   | Star Trek Beyond                              | Pavel Chekov            | Justin Lin                   | Posthumous release; Dedicated to                                               |
| 44 | 2016   | Porto                                         | Jake Kleeman            | Gabe Klinger                 | Posthumous release; Dedicated to                                               |
| 45 | 2017   | Thoroughbreds                                 | Tim                     | Cory Finley                  | Posthumous release; Dedicated to                                               |
| 46 | 2017   | Rememory                                      | Todd                    | Mark Palansky                | Posthumous release; Dedicated to                                               |
| 47 | 2017   | We Don't Belong Here                          | Maxwell Green           | Peer Pedersen                | Posthumous release; Dedicated to                                               |
| 48 | 2019   | Love, Antosha                                 | Himself                 | Garret Price                 | Archive footage; documentary about Yelchin's life                              |

Columns: ['Year', 'Title', 'Role', 'Director', 'Notes']
Shape: (49, 5)

--- Concatenated DataFrame Group 2 ---

|    | Year       | Title                          | Role                   | Notes                                                         |
|---:|:-----------|:-------------------------------|:-----------------------|:--------------------------------------------------------------|
|  0 | 2000       | ER                             | Robbie Edelstein       | Episode: "Be Still My Heart"                                  |
|  1 | 2000       | Geppetto                       | Fighting Kid at School | Television film                                               |
|  2 | 2002       | Judging Amy                    | Davis Bishop           | Episode: "The Justice League of America"                      |
|  3 | 2002       | Taken                          | Jacob Clarke - Child   | 2 episodes                                                    |
|  4 | 2002       | The Practice                   | Justin Langer          | 2 episodes                                                    |
|  5 | 2003       | Without a Trace                | Johnny Atkins          | Episode: "The Bus"                                            |
|  6 | 2004       | Curb Your Enthusiasm           | Stewart                | Episode: "The Blind Date"                                     |
|  7 | 2004       | NYPD Blue                      | Evan Grabber           | Episode: "Take My Wife, Please"                               |
|  8 | 2004       | Jack                           | Jack                   | Television film                                               |
|  9 | 2004- 2006 | Huff                           | Byrd Huffstodt         | Main role                                                     |
| 10 | 2006       | Law & Order: Criminal Intent   | Keith Tyler            | Episode: "Tru Love"                                           |
| 11 | 2006       | Criminal Minds                 | Nathan Harris          | Episode: "Sex, Birth, Death"                                  |
| 12 | 2011       | The Life & Times of Tim        | Trent                  | Voice role; episode: "The Caddy's Shack/The Sausage Salesman" |
| 13 | 2015- 2016 | SuperMansion                   | Dudley                 | Voice role; 2 episodes                                        |
| 14 | 2016- 2018 | Trollhunters: Tales of Arcadia | Jim Lake Jr            | Voice role; 41 episodes; posthumous release dedicated to him  |

Columns: ['Year', 'Title', 'Role', 'Notes']
Shape: (15, 4)

--- Concatenated DataFrame Group 3 ---

|    |   Year | Title        | Voice role   |
|---:|-------:|:-------------|:-------------|
|  0 |   2013 | Star Trek    | Pavel Chekov |
|  1 |   2013 | The Smurfs 2 | Clumsy Smurf |

Columns: ['Year', 'Title', 'Voice role']
Shape: (2, 3)

--- Concatenated DataFrame Group 4 ---

| Year   | Title   | Artist(s)   | Role   | Ref.   |
|--------|---------|-------------|--------|--------|

Columns: ['Year', 'Title', 'Artist(s)', 'Role', 'Ref.']
Shape: (0, 5)

--- Concatenated DataFrame Group 5 ---

|    |   Year | Award                                              | Category                                                                        | Title of work      | Result    | Ref.   |
|---:|-------:|:---------------------------------------------------|:--------------------------------------------------------------------------------|:-------------------|:----------|:-------|
|  0 |   2002 | Phoenix Film Critics Award                         | Best Youth Performance                                                          | Hearts in Atlantis | Nominated |        |
|  1 |   2002 | Young Artist Award                                 | Best Performance in a Feature Film - Leading Young Actor                        | Hearts in Atlantis | Won       | [17]   |
|  2 |   2003 | Young Artist Award                                 | Best Performance in a TV Movie, Mini-Series or Special - Supporting Young Actor | Taken              | Nominated | [64]   |
|  3 |   2005 | Young Artist Award                                 | Best Performance in a TV Movie, Miniseries or Special - Leading Young Actor     | Jack               | Nominated | [65]   |
|  4 |   2009 | Boston Society of Film Critics Awards              | Best Ensemble Cast                                                              | Star Trek          | Won       | [66]   |
|  5 |   2009 | Washington DC Area Film Critics Association Awards | Best Ensemble                                                                   | Star Trek          | Nominated | [67]   |
|  6 |   2010 | Broadcast Film Critics Association Awards          | Best Acting Ensemble                                                            | Star Trek          | Nominated | [68]   |

Columns: ['Year', 'Award', 'Category', 'Title of work', 'Result', 'Ref.']
Shape: (7, 6)
Processed 659dfd3e5c22a64d7597cb50c6fc455e
==================================================
Processing 0e6af4a364ff3fe835bd4e332a2fb9cf
4 tables extracted
0e6af4a364ff3fe835bd4e332a2fb9cf - input_tokens = total_tokens=912 cached_content_token_count=None
0e6af4a364ff3fe835bd4e332a2fb9cf - output_tokens = total_tokens=44 cached_content_token_count=None
0e6af4a364ff3fe835bd4e332a2fb9cf - concatable_tables = [{'table_index': [1, 2, 3]}]

--- Concatenated DataFrame Group 1 ---

|    | Player               | Votes     | Percent   | Change   | Year   |
|---:|:---------------------|:----------|:----------|:---------|:-------|
|  0 | Chipper Jones †      | 410       | 97.2%     | -        | 1st    |
|  1 | Vladimir Guerrero    | 392       | 92.9%     | 21.2%    | 2nd    |
|  2 | Jim Thome †          | 379       | 89.8%     | -        | 1st    |
|  3 | Trevor Hoffman       | 337       | 79.9%     | 5.9%     | 3rd    |
|  4 | Edgar Martínez       | 297       | 70.4%     | 11.8%    | 9th    |
|  5 | Mike Mussina         | 268       | 63.5%     | 11.7%    | 5th    |
|  6 | Roger Clemens        | 242       | 57.3%     | 3.2%     | 6th    |
|  7 | Barry Bonds          | 238       | 56.4%     | 2.6%     | 6th    |
|  8 | Curt Schilling       | 216       | 51.2%     | 6.2%     | 6th    |
|  9 | Omar Vizquel†        | 156       | 37.0%     | -        | 1st    |
| 10 | Larry Walker         | 144       | 34.1%     | 12.2%    | 8th    |
| 11 | Fred McGriff         | 98        | 23.2%     | 1.5%     | 9th    |
| 12 | Manny Ramírez        | 93        | 22.0%     | 1.8%     | 2nd    |
| 13 | Jeff Kent            | 61        | 14.5%     | 2.2%     | 5th    |
| 14 | Gary Sheffield       | 47        | 11.1%     | 2.2%     | 4th    |
| 15 | Billy Wagner         | 47        | 11.1%     | 0.9%     | 3rd    |
| 16 | Scott Rolen †        | 43        | 10.2%     | -        | 1st    |
| 17 | Sammy Sosa           | 33        | 7.8%      | 0.8%     | 6th    |
| 18 | Andruw Jones†        | 31        | 7.3%      | -        | 1st    |
| 19 | Jamie Moyer†*        | 10        | 2.4%      | -        | 1st    |
| 20 | Johan Santana†*      | 10        | 2.4%      | -        | 1st    |
| 21 | Johnny Damon†*       | 8         | 1.9%      | -        | 1st    |
| 22 | Hideki Matsui†*      | 4         | 0.9%      | -        | 1st    |
| 23 | Chris Carpenter†*    | 2         | 0.5%      | -        | 1st    |
| 24 | Kerry Wood†*         | 2         | 0.5%      | -        | 1st    |
| 25 | Liván Hernández†*    | 1         | 0.2%      | -        | 1st    |
| 26 | Carlos Lee†*         | 1         | 0.2%      | -        | 1st    |
| 27 | Orlando Hudson†*     | 0         | 0%        | -        | 1st    |
| 28 | Aubrey Huff†*        | 0         | 0%        | -        | 1st    |
| 29 | Jason Isringhausen†* | 0         | 0%        | -        | 1st    |
| 30 | Brad Lidge†*         | 0         | 0%        | -        | 1st    |
| 31 | Kevin Millwood†*     | 0         | 0%        | -        | 1st    |
| 32 | Carlos Zambrano†*    | 0         | 0%        | -        | 1st    |
| 33 | Jack Morris          | Player    | 14        | 87.5%    | [12]   |
| 34 | Alan Trammell        | Player    | 13        | 81.3%    | [12]   |
| 35 | Ted Simmons          | Player    | 11        | 68.8%    | [12]   |
| 36 | Marvin Miller        | Executive | 7         | 43.8%    | [12]   |
| 37 | Steve Garvey         | Player    | <7        | -        | [12]   |
| 38 | Tommy John           | Player    | <7        | -        | [12]   |
| 39 | Don Mattingly        | Player    | <7        | -        | [12]   |
| 40 | Dale Murphy          | Player    | <7        | -        | [12]   |
| 41 | Dave Parker          | Player    | <7        | -        | [12]   |
| 42 | Luis Tiant           | Player    | <7        | -        | [12]   |

Columns: ['Player', 'Votes', 'Percent', 'Change', 'Year']
Shape: (43, 5)

--- Concatenated DataFrame Group 2 ---

|    |    | ballots.                                                                                        |
|---:|:---|:------------------------------------------------------------------------------------------------|
|  0 |    | Eliminated from annual BBWAA consideration by poor performance or expiration on this ballot.    |
|  1 | †  | First time on the BBWAA ballot.                                                                 |
|  2 | *  | Eliminated from annual BBWAA consideration by poor performance on this ballot (not expiration). |

Columns: ['', 'ballots.']
Shape: (3, 2)
Processed 0e6af4a364ff3fe835bd4e332a2fb9cf
==================================================
Processing f8a04d6beeed137eeb7840a5c459842d
11 tables extracted
f8a04d6beeed137eeb7840a5c459842d - input_tokens = total_tokens=2122 cached_content_token_count=None
f8a04d6beeed137eeb7840a5c459842d - output_tokens = total_tokens=84 cached_content_token_count=None
f8a04d6beeed137eeb7840a5c459842d - concatable_tables = [{'table_index': [1, 2, 3, 4, 5]}, {'table_index': [6, 7, 8, 9]}]

--- Concatenated DataFrame Group 1 ---

|    | Year            | Title                                            | Role                           | Notes                                                |
|---:|:----------------|:-------------------------------------------------|:-------------------------------|:-----------------------------------------------------|
|  0 | 1989            | War Requiem                                      | Blinded Soldier                |                                                      |
|  1 | 1996            | A Midsummer Night's Dream                        | Theseus/Oberon                 |                                                      |
|  2 | 1997            | The Wings of the Dove                            | Lord Mark                      |                                                      |
|  3 | 1999            | Joseph and the Amazing Technicolor Dreamcoat     | The Butler                     |                                                      |
|  4 | 2002            | The Four Feathers                                | Colonel Hamilton               |                                                      |
|  5 | 2004            | Five Children and It                             | Father                         |                                                      |
|  6 | 2004            | Bridget Jones: The Edge of Reason                | Horatio                        |                                                      |
|  7 | 2006            | Babel                                            | Ken Clifford                   |                                                      |
|  8 | 2006            | The Queen                                        | Prince Charles                 |                                                      |
|  9 | 2008            | The Disappeared                                  | Adrian Ballan                  |                                                      |
| 10 | 2010            | Words of the Blitz                               | George Orwell                  |                                                      |
| 11 | 2013            | Trap for Cinderella                              | Chance                         |                                                      |
| 12 | 2013            | Belle                                            | Lord Ashford                   |                                                      |
| 13 | 2014            | Castles in the Sky                               | Henry Tizard                   |                                                      |
| 14 | 2015            | The Lady in the Van                              | Alan Bennett                   |                                                      |
| 15 | 2016            | Denial                                           | Sir Charles Gray               |                                                      |
| 16 | 2021            | Munich - The Edge of War                         | Sir Horace Wilson              |                                                      |
| 17 | 2021            | Operation Mincemeat                              | John Masterman                 |                                                      |
| 18 | 2021            | The Forgiven                                     | Lord Swanthorne                |                                                      |
| 19 | 2022            | Your Christmas or Mine?                          | Humphrey Hughes                |                                                      |
| 20 | 2023            | Your Christmas or Mine 2                         | Humphrey Hughes                |                                                      |
| 21 | 2024            | Blitz                                            | Victor Smythe                  |                                                      |
| 22 | 1982            | Smiley's People                                  | P.C. Hall                      | "Episode No. 1.1"                                    |
| 23 | 1986            | Kit Curran                                       | PC Woods                       | Episode: "A Sick Society"                            |
| 24 | 1988            | The Franchise Affair                             | Nevil Bennet                   | 6 episodes                                           |
| 25 | 1989            | The Return of Shelley                            | Jeremy                         | Episode: "The Gospel According to Shelley"           |
| 26 | 1990            | Inspector Morse                                  | Victor Preece                  | Episode: "The Sins of the Fathers"                   |
| 27 | 1990            | Alfonso Bonzo                                    | Alfonso Bonzo                  | 6 episodes                                           |
| 28 | 1991            | Ashenden                                         | John Ashenden                  | 4 episodes                                           |
| 29 | 1991            | Bye Bye Columbus                                 | King Ferdinand                 | Television movie                                     |
| 30 | 1992            | ScreenPlay                                       | Byron                          | Episode: "Dread Poets' Society"                      |
| 31 | 1993            | The Inspector Alleyn Mysteries                   | Sebastian Parish               | Episode: "Death at the Bar"                          |
| 32 | 1994            | Hard Times                                       | Bitzer                         | Episode: "Episode No. 1.1"                           |
| 33 | 1997            | Liberty! The American Revolution                 | King George III                | 6 episodes                                           |
| 34 | 1999            | The Hunley                                       | Lt. Alexander                  | Television movie                                     |
| 35 | 2000            | Too Much Sun                                     | Julian Edgbaston- Bowles       | 6 episodes                                           |
| 36 | 2001            | Bad Blood                                        | Joe Harker                     | Television movie                                     |
| 37 | 2002            | Great Britons                                    | Churchill                      | Voice; Episode: "Sir Winston Churchill"              |
| 38 | 2004            | London                                           | Stephen Spender                | Television movie                                     |
| 39 | 2005            | A Very Social Secretary                          | Alastair Campbell              | Television movie                                     |
| 40 | 2005            | Riot at the Rite                                 | Sergei Diaghilev               | Television movie                                     |
| 41 | 2005            | Agatha Christie's Poirot                         | Dr Roberts                     | Episode: "Cards on the Table"                        |
| 42 | 2006            | Spooks                                           | James Allan                    | Episode: "Episode No. 5.4"                           |
| 43 | 2006            | The State Within                                 | James Sinclair                 | 6 episodes                                           |
| 44 | 2007            | Waking the Dead                                  | James Andrews                  | 2 episodes                                           |
| 45 | 2008            | 10 Days to War                                   | Vincent                        | Episode: "Failure Is Not an Option"                  |
| 46 | 2008            | Fairy Tales                                      | Roger Bateman                  | Episode: "Rapunzel"                                  |
| 47 | 2008            | Hancock & Joan                                   | John Le Mesurier               | Television movie                                     |
| 48 | 2008            | The 39 Steps                                     | Captain Kell                   | Television movie, BBC                                |
| 49 | 2009            | The Last Days of Lehman Brothers                 | Timothy Geithner               | Television movie                                     |
| 50 | 2009            | Agatha Christie's Marple                         | Inspector Curry                | Episode: "They Do It with Mirrors"                   |
| 51 | 2007-2009       | Cranford                                         | Reverend Hutton                | 7 episodes                                           |
| 52 | 2009-2010       | Whitechapel                                      | Commander Anderson             | 5 episodes                                           |
| 53 | 2010            | Masterpiece Classic                              | Captain Kell                   | Episode: "The 39 Steps"                              |
| 54 | 2010            | Grandpa in My Pocket                             | Captain Shipshape              | Episode: "Captain Shipshape and a Fish Called Bryan" |
| 55 | 2010            | On Expenses                                      | Andrew Walker                  | Television movie                                     |
| 56 | 2012            | Being Human                                      | Griffin                        | Episode: "Eve of the War"                            |
| 57 | 2012            | Lewis                                            | Rev Conor Hawes                | Episode: "The Soul of Genius"                        |
| 58 | 2012            | New Tricks                                       | Prof. Blake                    | Episode: "Body of Evidence"                          |
| 59 | 2011-2014       | Silk                                             | Alan Cowdrey, QC               | 13 episodes                                          |
| 60 | 2012            | We'll Take Manhattan                             | John Parsons                   | Television movie                                     |
| 61 | 2013            | The Lady Vanishes                                | The Professor                  | Television movie                                     |
| 62 | 2015            | Churchill's Secret                               | Anthony Eden                   | Television movie, PBS                                |
| 63 | 2015            | Foyle's War                                      | Clive Ord-Smith                | Episode: "Trespass"                                  |
| 64 | 2016-2019       | Victoria                                         | King Leopold I                 | 9 episodes                                           |
| 65 | 2016-2017, 2022 | The Crown                                        | Prince Edward, Duke of Windsor | Main role (Seasons 1-2); Guest role (Season 5)       |
| 66 | 2017            | The Halcyon                                      | Lord Hamilton                  | Episode: #1.1                                        |
| 67 | 2018            | A Very English Scandal                           | Peter Bessell                  | 3 episodes                                           |
| 68 | 2018            | Unforgotten                                      | Tim Finch                      | 6 episodes                                           |
| 69 | 2019            | Four Weddings and a Funeral                      | Andrew Aldridge                | Miniseries, Hulu                                     |
| 70 | 2019            | Gold Digger                                      | Ted Day                        | 6 episodes                                           |
| 71 | 2020            | Small Axe                                        | Judge Clarke                   | Episode: "Mangrove"                                  |
| 72 | 2022            | This Is Going to Hurt                            | Nigel Lockhart                 | 7 episodes [18]                                      |
| 73 | 2022            | The Undeclared War                               | David Neal                     | 5 episodes                                           |
| 74 | 2024            | Mr Bates vs The Post Office                      | James Arbuthnot                | 4 episodes                                           |
| 75 | 2024            | A Very Royal Scandal                             | Sir Edward Young               | 3 episodes                                           |
| 76 | 2024            | Wolf Hall: The Mirror and the Light              | Stephen Gardiner               |                                                      |
| 77 | 2025            | MobLand                                          | Archie Hammond                 |                                                      |
| 78 | 2025            | Suspect: The Shooting of Jean Charles de Menezes | Michael Mansfield              | 1 Episode                                            |

Columns: ['Year', 'Title', 'Role', 'Notes']
Shape: (79, 4)

--- Concatenated DataFrame Group 2 ---

|    | Year     | Title                             | Role                    | Playwright          | Venue                                                         | Ref.   |
|---:|:---------|:----------------------------------|:------------------------|:--------------------|:--------------------------------------------------------------|:-------|
|  0 | 1985     | The Scarlet Pimpernel             | Performer               | Baroness Orczy      | Her Majesty's Theatre                                         |        |
|  1 | 1987- 88 | Measure for Measure               | Lucio                   | William Shakespeare | Royal Shakespeare Company                                     |        |
|  2 | 1988     | Too Clever by Half                | Yegor Dimitrich Gloumov | Alexander Ostrovsky | Old Vic Theatre, London                                       |        |
|  3 | 1988     | The Country Wife                  | Performer               | William Wycherley   | Royal Exchange, Manchester                                    |        |
|  4 | 1989     | Ghetto                            | Kittel                  | Yehoshua Sobol      | National Theatre                                              |        |
|  5 | 1990     | The Wild Duck                     | Hjalmar Ekdal           | Henrik Ibsen        | Peter Hall Company                                            |        |
|  6 | 1990     | The Liars                         | Dorante                 | Henry Arthur Jones  | Old Vic Theatre, London                                       |        |
|  7 | 1990     | Richard II                        | Richard II              | William Shakespeare | Royal Shakespeare Company                                     |        |
|  8 | 1992     | The Recruiting Officer            | Captain Plume           | George Farquhar     | National Theatre                                              |        |
|  9 | 1993     | The Importance of Being Earnest   | John Worthing           | Oscar Wilde         | Aldwych Theatre                                               |        |
| 10 | 1994     | Peer Gynt                         | Peer Gynt               | Henrik Ibsen        | Royal Shakespeare Company                                     |        |
| 11 | 1994- 95 | Measure for Measure               | Angelo                  | William Shakespeare | Royal Shakespeare Company                                     |        |
| 12 | 1996     | A Midsummer Night's Dream         | Oberon/Theseus          | William Shakespeare | Lunt-Fontanne Theatre, Broadway                               | [19]   |
| 13 | 1996     | Hyde Park                         | Performer               | James Shirley       | Royal Shakespeare Company                                     |        |
| 14 | 1996     | The Taming of the Shrew           | Lucentio                | William Shakespeare | Royal Shakespeare Company                                     |        |
| 15 | 1997     | Hamlet                            | Hamlet                  | William Shakespeare | Royal Shakespeare Company                                     |        |
| 16 | 2000     | Albert Speer                      | Albert Speer            | David Edgar         | Lyttelton Theatre, London                                     |        |
| 17 | 2001     | The Winter's Tale                 | Performer               | William Shakespeare | Royal National Theatre                                        |        |
| 18 | 2001     | The Relapse                       | Foppington              | John Vanbrugh       | Royal National Theatre                                        |        |
| 19 | 2001     | My Fair Lady                      | Prof. Henry Higgins     | George Bernard Shaw | Royal National Theatre                                        |        |
| 20 | 2007     | Present Laughter                  | Garry Essendine         | Noël Coward         | Royal National Theatre                                        |        |
| 21 | 2009     | The Habit of Art                  | Henry                   | Alan Bennett        | National Theatre of Great Britain Lyttelton Theatre in London |        |
| 22 | 2011     | Collaborators                     | Mikhail Bulgakov        | John Hodge          | National Theatre of Great Britain Cottesloe Theatre in London |        |
| 23 | 2012     | Hymn/Cocktail Sticks              | Performer               | Alan Bennett        | National Theatre of Great Britain Lyttelton Theatre in London |        |
| 24 | 2013     | Charlie and the Chocolate Factory | Willy Wonka             | Roald Dahl          | Theatre Royal Drury Lane, London                              |        |
| 25 | 2016     | My Fair Lady                      | Prof. Henry Higgins     | George Bernard Shaw | Sydney Opera House                                            |        |
| 26 | 2019     | Hansard                           | Robin Hesketh           | Simon Woods         | Royal National Theatre                                        | [20]   |
| 27 | 2019     | The Light in the Piazza           | Signor Naccarelli       | Elizabeth Spencer   | Royal Festival Hall, London Civic Opera House Chicago         |        |
| 28 | 2022     | The Southbury Child               | David Highland          | Stephen Beresford   | Chichester Festival Theatre Bridge Theatre, London            |        |
| 29 | Year     | Award                             | Category                | Title               | Result                                                        | Ref.   |
| 30 | 1988     | Olivier Award                     | Best Comedy Performance | Too Clever by Half  | Won                                                           | [21]   |
| 31 | 1990     | Olivier Award                     | Best Comedy Performance | The Liar            | Nominated                                                     | [22]   |
| 32 | 1996     | Olivier Award                     | Best Actor              | Peer Gynt           | Won                                                           | [23]   |
| 33 | 2003     | Olivier Award                     | Best Actor in a Musical | My Fair Lady        | Won                                                           | [24]   |
| 34 | 2019     | British Academy Television Awards | Best Supporting Actor   | Unforgotten         | Nominated                                                     | [25]   |

Columns: ['Year', 'Title', 'Role', 'Playwright', 'Venue', 'Ref.']
Shape: (35, 6)

--- Concatenated DataFrame Group 3 ---

| Article   | Talk   | Read   | Edit   | View history   | Tools   |
|-----------|--------|--------|--------|----------------|---------|

Columns: ['Article', 'Talk', 'Read', 'Edit', 'View history', 'Tools']
Shape: (0, 6)

--- Concatenated DataFrame Group 4 ---

|    | Awards for Alex Jennings.Authority control databases    | [show].[hide]   |
|---:|:--------------------------------------------------------|:----------------|
|  0 | ISNI  ·  VIAF  ·  WorldCat                              |                 |

Columns: ['Awards for Alex Jennings.Authority control databases ', '[show].[hide]']
Shape: (1, 2)
Processed f8a04d6beeed137eeb7840a5c459842d
==================================================
Processing 78f480a26ad6a8c7c064e9d9fd5b2c4f
Error processing /kaggle/input/tables-pdf/78f480a26ad6a8c7c064e9d9fd5b2c4f.pdf: Data columns not unique: Index(['1995', '# Thunder Gulch', 'Timber Country'], dtype='object')

In [119]:
for source in processed_tables:
    file_name = source.split("/")[-1][:-4]
    print(f"{file_name} has {len(processed_tables[source])} tables")

c935e2902adf7040a6ffe0db0f7c11e6 has 3 tables
national-capitals has 1 tables
CA Warn Report has 2 tables
659dfd3e5c22a64d7597cb50c6fc455e has 5 tables
0e6af4a364ff3fe835bd4e332a2fb9cf has 2 tables
f8a04d6beeed137eeb7840a5c459842d has 4 tables

In [120]:
total_input_tokens = sum([count_tokens.total_tokens for count_tokens in total_tokens["input_tokens"]])
total_output_tokens = sum([count_tokens.total_tokens for count_tokens in total_tokens["output_tokens"]])

In [121]:
api_price = {
    "input_tokens": 0.075, # per 1million
    "output_tokens": 0.3
}

print("Total input tokens:", total_input_tokens)
print("Total onput tokens:", total_output_tokens)

print("Price =", (total_input_tokens/1e6) * api_price["input_tokens"] + 
      (total_output_tokens/1e6) * api_price["output_tokens"])

Total input tokens: 13926
Total onput tokens: 415
Price = 0.00116895